<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ccttic.cqytjgpt.screen.mapper.danger.DrDangerMapper">
  <resultMap id="BaseResultMap" type="com.ccttic.entity.danger.DrDanger">
    <id column="id" jdbcType="VARCHAR" property="id" />
    <result column="driverName" jdbcType="VARCHAR" property="drivername" />
    <result column="driverIdcard" jdbcType="VARCHAR" property="driveridcard" />
    <result column="dangerType" jdbcType="VARCHAR" property="dangertype" />
    <result column="ownerGener" jdbcType="VARCHAR" property="ownergener" /> 
    <result column="ownerOrgId" jdbcType="VARCHAR" property="ownerorgid" />
    <result column="dangerTime" jdbcType="VARCHAR" property="dangertime" />
    <result column="correctTime" jdbcType="VARCHAR" property="correcttime" />
    <result column="correctState" jdbcType="VARCHAR" property="correctstate" />
    <result column="dangerDesc" jdbcType="VARCHAR" property="dangerdesc" />
    <result column="driver_id" jdbcType="VARCHAR" property="driverId" />
    <result column="illicitState" jdbcType="INTEGER" property="illicitstate" />
    <result column="failureState" jdbcType="INTEGER" property="failurestate" />
    <result column="overdueProofState" jdbcType="INTEGER" property="overdueproofstate" />
    <result column="overdueExamineState" jdbcType="INTEGER" property="overdueexaminestate" />
    <result column="fullStudyState" jdbcType="INTEGER" property="fullstudystate" />
    <result column="remark" jdbcType="VARCHAR" property="remark" />
    <result column="version" jdbcType="INTEGER" property="version" />
    <result column="isDeleted" jdbcType="BIT" property="isdeleted" />
    <result column="createTime" jdbcType="TIMESTAMP" property="createtime" />
    <result column="updateTime" jdbcType="TIMESTAMP" property="updatetime" />
    <result column="deleteTime" jdbcType="TIMESTAMP" property="deletetime" />
    <result column="createBy" jdbcType="VARCHAR" property="createby" />
    <result column="createDepCd" jdbcType="VARCHAR" property="createdepcd" />
    <result column="updateBy" jdbcType="VARCHAR" property="updateby" />
    <result column="updateDepCd" jdbcType="VARCHAR" property="updatedepcd" />
  </resultMap>
  
   <select id="allDriver" resultType="map">
       select count(1) allDriver from driver where  (isDelete is null or isDelete !=1)
    </select>
   <select id="allCar" resultType="map">
        select count(1) allCar from vehicle where  (isDeleted is null or isDeleted !=1)
   </select>
   <select id="findPlace" resultType="map"> 
        select * from ess_organization e where e.area_id is null and e.superOrg_id is not null order by e.dispOrder ASC
   </select>
  
  <!-- 发现数查询模块 -->
  <select id="countIntoNum" resultType="int">
  	select count(1) intoNum from driver where (isDelete is null or isDelete !=1)
  	</select>
  
  <select id="countDriverDangerNum" resultType="int">
   select count(1) from dr_danger where  ( isDeleted is null or  isDeleted !=1) and dangerType !=0 and month(dangerTime)=month(now())
  </select>
  
  <select id="countWarnNum" resultType="map">
  	select d.dangerType,count(1) warnNum from dr_danger d where d.dangerType !=0 and (d.isDeleted is null or d.isDeleted !=1) and month(dangerTime)=month(now()) GROUP BY d.dangerType 
  </select>
  <!-- 查询隐患问题分布 -->
  <select id="distributionDangerForDriver" resultType="map" parameterType="map">
 	<if test='date=="year"'>
     select count(1) num,"违法未处理" dangerName from dr_danger d where d.illicitState = 1 and year(d.dangerTime) = year(now()) and (isDeleted is null or isDeleted !=1)
      union all
select count(1) num,"事故未处理" dangerName from dr_danger d where d.failureState = 1 and year(d.dangerTime) = year(now()) and (isDeleted is null or isDeleted !=1)
      union all
select count(1) num,"逾期未换证" dangerName from dr_danger d where d.overdueProofState = 1 and year(d.dangerTime) = year(now()) and (isDeleted is null or isDeleted !=1)
      union all
select count(1) num,"逾期未审验" dangerName from dr_danger d where d.overdueExamineState = 1 and year(d.dangerTime) = year(now()) and (isDeleted is null or isDeleted !=1)
      union all
select count(1) num,"满分未学习" dangerName from dr_danger d where d.fullStudyState = 1 and year(d.dangerTime) = year(now()) and (isDeleted is null or isDeleted !=1)
 	</if>
 	<if test='date=="month"'>
      select count(1) num,"违法未处理" dangerName from dr_danger d where d.illicitState = 1 and month(d.dangerTime) = month(now()) and year(d.dangerTime) = year(now()) and (isDeleted is null or isDeleted !=1)
      union all
      select count(1) num,"事故未处理" dangerName from dr_danger d where d.failureState = 1 and month(d.dangerTime) = month(now()) and year(d.dangerTime) = year(now()) and (isDeleted is null or isDeleted !=1)
      union all
      select count(1) num,"逾期未换证" dangerName from dr_danger d where d.overdueProofState = 1 and month(d.dangerTime) = month(now()) and year(d.dangerTime) = year(now()) and (isDeleted is null or isDeleted !=1)
      union all
      select count(1) num,"逾期未审验" dangerName from dr_danger d where d.overdueExamineState = 1 and month(d.dangerTime) = month(now()) and year(d.dangerTime) = year(now()) and (isDeleted is null or isDeleted !=1)
      union all
      select count(1) num,"满分未学习" dangerName from dr_danger d where d.fullStudyState = 1 and month(d.dangerTime) = month(now()) and year(d.dangerTime) = year(now()) and (isDeleted is null or isDeleted !=1)
 	</if>
 	<if test='date=="season"'>
      select count(1) num,"违法未处理" dangerName from dr_danger d where d.illicitState = 1 and year(d.dangerTime) = year(now()) and quarter(now()) = quarter(d.dangerTime) and (isDeleted is null or isDeleted !=1)
      union all
      select count(1) num,"事故未处理" dangerName from dr_danger d where d.failureState = 1 and year(d.dangerTime) = year(now()) and quarter(now()) = quarter(d.dangerTime) and (isDeleted is null or isDeleted !=1)
      union all
      select count(1) num,"逾期未换证" dangerName from dr_danger d where d.overdueProofState = 1 and year(d.dangerTime) = year(now()) and quarter(now()) = quarter(d.dangerTime) and (isDeleted is null or isDeleted !=1)
      union all
      select count(1) num,"逾期未审验" dangerName from dr_danger d where d.overdueExamineState = 1 and year(d.dangerTime) = year(now()) and quarter(now()) = quarter(d.dangerTime) and (isDeleted is null or isDeleted !=1)
      union all
      select count(1) num,"满分未学习" dangerName from dr_danger d where d.fullStudyState = 1 and year(d.dangerTime) = year(now()) and quarter(now()) = quarter(d.dangerTime) and (isDeleted is null or isDeleted !=1)
 	</if>
  </select>
  <!-- 隐患治理情况 -->
  <select id="countNoHandleDriver" resultType="int">
     select count(1) from dr_danger where (isDeleted is null or isDeleted !=1)  and dangerType !=0 and month(now())=month(dangerTime)
  </select>
  <!-- 治理结果趋势 -->
  <select id="resultDangerForDriver" resultType="map" >
	select
    sum(case when month(d.dangerTime)=1 then 1 else 0 end) 一, 
    sum(case when month(d.dangerTime)=2 then 1 else 0 end) 二,
    sum(case when month(d.dangerTime)=3 then 1 else 0 end) 三,
    sum(case when month(d.dangerTime)=4 then 1 else 0 end) 四,
    sum(case when month(d.dangerTime)=5 then 1 else 0 end) 五,
    sum(case when month(d.dangerTime)=6 then 1 else 0 end) 六,
    sum(case when month(d.dangerTime)=7 then 1 else 0 end) 七,
    sum(case when month(d.dangerTime)=8 then 1 else 0 end) 八,
    sum(case when month(d.dangerTime)=9 then 1 else 0 end) 九,
    sum(case when month(d.dangerTime)=10 then 1 else 0 end) 十,
    sum(case when month(d.dangerTime)=11 then 1 else 0 end) 十一,
    sum(case when month(d.dangerTime)=12 then 1 else 0 end) 十二
from dr_danger d where year(d.dangerTime) = year(now()) and (isDeleted is null or isDeleted !=1) and dangerType !=0
  </select>
  <!-- 各区隐患详情查询 -->
  <select id="areaDangerInfo" resultType="map" >
SELECT
	e.orgNm,(
		SELECT
			count(1)
		FROM
			driver d
		WHERE
			d.mgrDepartAreaId = e.area_id and (d.isDelete is null or d.isDelete !=1)
	) drivers,
(
		SELECT
			count(1)
		FROM
			vehicle v
		WHERE
			v.mgrDepartAreaId = e.area_id and (v.isDeleted is null or v.isDeleted !=1)
	) cars,
	(
		SELECT
			count(1)
		FROM
			dr_danger d
		WHERE
			d.ownerOrgId = e.id and (d.isDeleted is null or d.isDeleted !=1) and d.dangerType!=0 and month(now()) = month(d.dangerTime)
	) monthDriverDangers,
	(
		SELECT
			count(1)
		FROM
			vehi_danger d
		WHERE 
			d.ownerOrgId = e.id and (d.isDeleted is null or d.isDeleted !=1) and d.dangerType!=0 and month(now()) = month(d.dangerTime)
	) monthCarDangers,
(select monthDriverDangers+monthCarDangers) monthTotal,
(
		SELECT
			count(1)
		FROM
			dr_danger d
		WHERE
			d.ownerOrgId = e.id and (d.isDeleted is null or d.isDeleted !=1) and d.dangerType!=0 
	) driverDangers,
	(
		SELECT
			count(1)
		FROM
			vehi_danger d
		WHERE 
			d.ownerOrgId = e.id and (d.isDeleted is null or d.isDeleted !=1) and d.dangerType!=0 
	) carDangers,
(select driverDangers+carDangers) total
FROM
	ess_organization e
	WHERE
	(e.isDeleted is null or e.isDeleted !=1)  and e.area_id is not null 
GROUP BY
	e.orgNm
  </select>
  <!-- 通报驾驶员信息 -->
  <select id="noticeDangerDriver" resultType="map" parameterType="map">
SELECT
	d.id,
	d.driveridcard,
	d.drivername,
	d.illicitstate,
	d.failurestate,
	d.overdueproofstate,
	d.overdueexaminestate,
	d.fullstudystate,
    d.dangertime,
	d.dangertype,
  (select count(1) from dr_danger where dangerType =1 and (isDeleted is null or isDeleted !=1)) totalnum
FROM
	dr_danger d 
WHERE 
	(d.isDeleted is null or d.isDeleted !=1) and d.dangerType = 1
ORDER BY
  d.dangerTime 
desc
LIMIT  #{top,jdbcType=VARCHAR},1
  </select>
  <!-- 各区隐患排行 -->
  <select id="areaDangersTop" resultType="map">
	SELECT
	e.orgNm,
	(
		SELECT
			count(1)
		FROM
			dr_danger d
		WHERE
			d.ownerOrgId = e.id and (d.isDeleted is null or d.isDeleted !=1) and d.dangerType!=0 and month(now())=month(dangerTime)
	) driverDangers,
	(
		SELECT
			count(1)
		FROM
			vehi_danger d
		WHERE 
			d.ownerOrgId = e.id and (d.isDeleted is null or d.isDeleted !=1) and d.dangerType!=0 and month(now())=month(dangerTime)
	) carDangers,(select carDangers+driverDangers) total
FROM
	ess_organization e
	WHERE
	(e.isDeleted is null or e.isDeleted !=1)  and e.area_id is not null 
GROUP BY
	e.orgNm,e.id
ORDER BY   
	total
DESC
  </select>
  <!-- 根据分所查询各区的驾驶员隐患数 -->
  <!-- 当月 -->
  <select id="findMonthAreaDangerByOrgId" resultType="map" parameterType="map">
	SELECT
	orgNm,
	(
		SELECT
			count(1)
		FROM
			dr_danger
		WHERE
			e.id = ownerOrgId
		AND (isDeleted is null or isDeleted !=1)
        AND dangerType !=0
		AND YEAR (now()) = YEAR (dangerTime)
		AND MONTH (now()) = MONTH (dangerTime)
	) driverDangers
FROM
	ess_organization e
WHERE
	e.superOrg_id = #{orgId,jdbcType=VARCHAR}  and (e.isDeleted is null or isDeleted !=1)
GROUP BY
	e.orgNm
  </select>
  <!-- 上月 -->
  <select id="findPreMonthAreaDangerByOrgId" resultType="map"  parameterType="map">
	SELECT
	orgNm,
	(
		SELECT
			count(1)
		FROM
			dr_danger
		WHERE
			e.id = ownerOrgId
		AND (isDeleted is null or isDeleted !=1)
    AND dangerType !=0
		AND YEAR (now()) = YEAR (dangerTime)
		AND MONTH (now())-1 = MONTH (dangerTime)
	) driverDangers
FROM
	ess_organization e
WHERE
	e.superOrg_id = #{orgId,jdbcType=VARCHAR}  and (e.isDeleted is null or isDeleted !=1)
GROUP BY
	e.orgNm
  </select>
 

  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from dr_danger
    where id = #{id,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.ccttic.entity.danger.DrDanger">
    insert into dr_danger (id, driverName, driverIdcard, 
      dangerType, ownerGener, ownerOrgId, 
      dangerTime, correctTime, correctState, 
      dangerDesc, driver_id, illicitState, 
      failureState, overdueProofState, overdueExamineState, 
      fullStudyState, remark, version, 
      isDeleted, createTime, updateTime, 
      deleteTime, createBy, createDepCd, 
      updateBy, updateDepCd)
    values (#{id,jdbcType=VARCHAR}, #{drivername,jdbcType=VARCHAR}, #{driveridcard,jdbcType=VARCHAR}, 
      #{dangertype,jdbcType=VARCHAR}, #{ownergener,jdbcType=VARCHAR}, #{ownerorgid,jdbcType=VARCHAR}, 
      #{dangertime,jdbcType=VARCHAR}, #{correcttime,jdbcType=VARCHAR}, #{correctstate,jdbcType=VARCHAR}, 
      #{dangerdesc,jdbcType=VARCHAR}, #{driverId,jdbcType=VARCHAR}, #{illicitstate,jdbcType=INTEGER}, 
      #{failurestate,jdbcType=INTEGER}, #{overdueproofstate,jdbcType=INTEGER}, #{overdueexaminestate,jdbcType=INTEGER}, 
      #{fullstudystate,jdbcType=INTEGER}, #{remark,jdbcType=VARCHAR}, #{version,jdbcType=INTEGER}, 
      #{isdeleted,jdbcType=BIT}, #{createtime,jdbcType=TIMESTAMP}, #{updatetime,jdbcType=TIMESTAMP}, 
      #{deletetime,jdbcType=TIMESTAMP}, #{createby,jdbcType=VARCHAR}, #{createdepcd,jdbcType=VARCHAR}, 
      #{updateby,jdbcType=VARCHAR}, #{updatedepcd,jdbcType=VARCHAR})
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.ccttic.entity.danger.DrDanger">
    update dr_danger
    set driverName = #{drivername,jdbcType=VARCHAR},
      driverIdcard = #{driveridcard,jdbcType=VARCHAR},
      dangerType = #{dangertype,jdbcType=VARCHAR},
      ownerGener = #{ownergener,jdbcType=VARCHAR},
      ownerOrgId = #{ownerorgid,jdbcType=VARCHAR},
      dangerTime = #{dangertime,jdbcType=VARCHAR},
      correctTime = #{correcttime,jdbcType=VARCHAR},
      correctState = #{correctstate,jdbcType=VARCHAR},
      dangerDesc = #{dangerdesc,jdbcType=VARCHAR},
      driver_id = #{driverId,jdbcType=VARCHAR},
      illicitState = #{illicitstate,jdbcType=INTEGER},
      failureState = #{failurestate,jdbcType=INTEGER},
      overdueProofState = #{overdueproofstate,jdbcType=INTEGER},
      overdueExamineState = #{overdueexaminestate,jdbcType=INTEGER},
      fullStudyState = #{fullstudystate,jdbcType=INTEGER},
      remark = #{remark,jdbcType=VARCHAR},
      version = #{version,jdbcType=INTEGER},
      isDeleted = #{isdeleted,jdbcType=BIT},
      createTime = #{createtime,jdbcType=TIMESTAMP},
      updateTime = #{updatetime,jdbcType=TIMESTAMP},
      deleteTime = #{deletetime,jdbcType=TIMESTAMP},
      createBy = #{createby,jdbcType=VARCHAR},
      createDepCd = #{createdepcd,jdbcType=VARCHAR},
      updateBy = #{updateby,jdbcType=VARCHAR},
      updateDepCd = #{updatedepcd,jdbcType=VARCHAR}
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select id, driverName, driverIdcard, dangerType, ownerGener, ownerOrgId, dangerTime, 
    correctTime, correctState, dangerDesc, driver_id, illicitState, failureState, overdueProofState, 
    overdueExamineState, fullStudyState, remark, version, isDeleted, createTime, updateTime, 
    deleteTime, createBy, createDepCd, updateBy, updateDepCd
    from dr_danger
    where id = #{id,jdbcType=VARCHAR}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select id, driverName, driverIdcard, dangerType, ownerGener, ownerOrgId, dangerTime, 
    correctTime, correctState, dangerDesc, driver_id, illicitState, failureState, overdueProofState, 
    overdueExamineState, fullStudyState, remark, version, isDeleted, createTime, updateTime, 
    deleteTime, createBy, createDepCd, updateBy, updateDepCd
    from dr_danger
  </select>
</mapper>