<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ccttic.cqytjgpt.screen.mapper.danger.EtpDangerMapper">


   <!-- 发现数查询模块 -->
  <select id="countIntoNum" resultType="int">
  	select count(1) intoNum from ess_enterprise where (isDeleted is null or isDeleted !=1)
  </select>

	<select id="countEnterpriseDangerNum" resultType="int">
		select count(1) from etp_danger_2018 where dangerType != 0
	</select>

  <select id="allEnterprise" resultType="Map">
	  select count(1) allEnterprise from ess_enterprise where ( isDeleted is null or  isDeleted !=1)
  </select>

  <select id="countWarnNum" resultType="map" parameterType="map">
		select dangerType,count(1) warnNum from ${tableName} e GROUP BY dangerType
	  </select>

	<select id="areaInfoTotal" resultType="Map">
        select * from screen_areainfo_total ORDER BY monthTotal
    </select>

  <!-- 企业类型分布情况 -->
   <select id="distributionDangerForEnterprise" resultType="map" parameterType="map">
		select etpType,sum(${col}) num from ${tableName} where dangerType != 0 GROUP BY etpType;
  </select>
  <!-- 隐患治理情况 -->
  <select id="countNoHandleEnterprise" resultType="int" parameterType="map">
 	select count(1) from ${tableName} where dangerType !=0
  </select>
   <!-- 治理结果趋势 -->
  <select id="resultDangerForEnterprise" resultType="map" parameterType="map">
	SELECT
	sum(m1) 一,
	sum(m2) 二,
	sum(m3) 三,
	sum(m4) 四,
	sum(m5) 五,
	sum(m6) 六,
	sum(m7) 七,
	sum(m8) 八,
	sum(m9) 九,
	sum(m10) 十,
	sum(m11) 十一,
	sum(m12) 十二
FROM
	${tableName} where dangerType != 0
  </select>
  <!-- 通报企业信息 -->
  <select id="noticeDangerEnterprise" resultType="map" parameterType="map">
SELECT
  etpNm,
  orgNm,
  areaNm,
	dangerCar,
	radioFirstDanger,
	radioDangerCar,
	etpType,
	dangerType
FROM
	${tableName}
where dangerType != 0
ORDER BY
  dangerType
desc
LIMIT  #{top,jdbcType=VARCHAR},1
  </select>
  <!-- 根据分所查询各区的企业隐患数 -->
  <!-- 根据col查询月份 -->
  <select id="findMonthAreaDangerByOrgId" resultType="map">
		select orgNm,sum(${col}) from ${tableName} where dangerType != 0 GROUP BY orgNm
  </select>

<select id="ratioDangerForEnterprise" resultType="map" parameterType="map">
SELECT
	orgNm,(select count(1) from ${tableName} et where et.orgId = e.id and et.dangerType!=0) etpDangers
FROM
	ess_organization e
where e.orgType =2
GROUP BY
	orgNm
</select>
</mapper>