<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ccttic.cqytjgpt.screen.mapper.danger.VehiDangerMapper">
  <resultMap id="BaseResultMap" type="com.ccttic.entity.danger.VehiDanger">
    <id column="id" jdbcType="VARCHAR" property="id" />
    <result column="vehiNo" jdbcType="VARCHAR" property="vehino" />
    <result column="vehiType" jdbcType="VARCHAR" property="vehitype" />
    <result column="ownerEnterprise" jdbcType="VARCHAR" property="ownerenterprise" />
    <result column="scrappedState" jdbcType="INTEGER" property="scrappedstate" />
    <result column="illicitState" jdbcType="INTEGER" property="illicitstate" />
    <result column="overdueExamineState" jdbcType="INTEGER" property="overdueexaminestate" />
    <result column="failureState" jdbcType="INTEGER" property="failurestate" />
    <result column="dangerType" jdbcType="VARCHAR" property="dangertype" />
    <result column="ownerGener" jdbcType="VARCHAR" property="ownergener" />
    <result column="ownerOrgId" jdbcType="VARCHAR" property="ownerorgid" />
    <result column="vehicle_id" jdbcType="VARCHAR" property="vehicleId" />
    <result column="dangerTime" jdbcType="VARCHAR" property="dangertime" />
    <result column="correctTime" jdbcType="VARCHAR" property="correcttime" />
    <result column="correctState" jdbcType="VARCHAR" property="correctstate" />
    <result column="dangerDesc" jdbcType="VARCHAR" property="dangerdesc" />
    <result column="remark" jdbcType="VARCHAR" property="remark" />
    <result column="version" jdbcType="INTEGER" property="version" />
    <result column="isDeleted" jdbcType="BIT" property="isdeleted" />
    <result column="createTime" jdbcType="TIMESTAMP" property="createtime" />
    <result column="updateTime" jdbcType="TIMESTAMP" property="updatetime" />
    <result column="deleteTime" jdbcType="TIMESTAMP" property="deletetime" />
    <result column="createBy" jdbcType="VARCHAR" property="createby" />
    <result column="createDepCd" jdbcType="VARCHAR" property="createdepcd" />
    <result column="updateBy" jdbcType="VARCHAR" property="updateby" />
    <result column="updateDepCd" jdbcType="VARCHAR" property="updatedepcd" />
  </resultMap>
  
   <!-- 发现数查询模块 -->
  <select id="countIntoNum" resultType="int">
  	select count(1) intoNum from vehicle where (isDeleted is null or isDeleted !=1)
  </select>
  
  <select id="countCarDangerNum" resultType="int">
      select count(1) from vehi_danger where  ( isDeleted is null or  isDeleted !=1) and dangerType !=0
  </select>
  
  <select id="countWarnNum" resultType="map">
  	select v.dangerType,count(1) warnNum from vehi_danger v where v.dangerType !=0 and (v.isDeleted is null or v.isDeleted !=1) GROUP BY v.dangerType 
  </select>
  <!-- 机动车隐患分布情况 -->
   <select id="distributionDangerForCar" resultType="map" parameterType="map">
 	<if test='date=="year"'>
select count(1) num,"违法未处理" dangerName from vehi_danger d where d.illicitState = 1 and year(d.dangerTime) = year(now()) and (d.isDeleted is null or d.isDeleted != 1) 
union all
select count(1) num,"事故未处理" dangerName from vehi_danger d where d.failureState = 1 and year(d.dangerTime) = year(now()) and (d.isDeleted is null or d.isDeleted != 1)
union all
select count(1) num,"达到报废标准" dangerName from vehi_danger d where d.scrappedState = 1 and year(d.dangerTime) = year(now()) and (d.isDeleted is null or d.isDeleted != 1)
union all
select count(1) num,"逾期未审验" dangerName from vehi_danger d where d.overdueExamineState = 1 and year(d.dangerTime) = year(now()) and (d.isDeleted is null or d.isDeleted != 1)
 	</if>
 	<if test='date=="month"'>
select count(1) num,"违法未处理" dangerName from vehi_danger d where d.illicitState = 1 and year(d.dangerTime) = year(now()) and month(d.dangerTime) = month(now()) and (d.isDeleted is null or d.isDeleted != 1)
union all
select count(1) num,"事故未处理" dangerName from vehi_danger d where d.failureState = 1 and year(d.dangerTime) = year(now()) and month(d.dangerTime) = month(now()) and (d.isDeleted is null or d.isDeleted != 1)
union all
select count(1) num,"达到报废标准" dangerName from vehi_danger d where d.scrappedState = 1 and year(d.dangerTime) = year(now()) and month(d.dangerTime) = month(now()) and (d.isDeleted is null or d.isDeleted != 1)
union all
select count(1) num,"逾期未审验" dangerName from vehi_danger d where d.overdueExamineState = 1 and year(d.dangerTime) = year(now()) and month(d.dangerTime) = month(now()) and (d.isDeleted is null or d.isDeleted != 1)
 	</if>
 	<if test='date=="season"'>
select count(1) num,"违法未处理" dangerName from vehi_danger d where d.illicitState = 1 and year(d.dangerTime) = year(now()) and quarter(now()) = quarter(d.dangerTime) and (d.isDeleted is null or d.isDeleted!=1)
union all
select count(1) num,"事故未处理" dangerName from vehi_danger d where d.failureState = 1 and year(d.dangerTime) = year(now()) and quarter(now()) = quarter(d.dangerTime) and (d.isDeleted is null or d.isDeleted!=1)
union all
select count(1) num,"达到报废标准" dangerName from vehi_danger d where d.scrappedState = 1 and year(d.dangerTime) = year(now()) and quarter(now()) = quarter(d.dangerTime) and (d.isDeleted is null or d.isDeleted!=1)
union all
select count(1) num,"逾期未审验" dangerName from vehi_danger d where d.overdueExamineState = 1 and year(d.dangerTime) = year(now()) and quarter(now()) = quarter(d.dangerTime) and (d.isDeleted is null or d.isDeleted!=1)
 	</if>
  </select>
  <!-- 隐患治理情况 -->
  <select id="countNoHandleCar" resultType="int">
 	select count(1) from vehi_danger where dangerType !=0 and (isDeleted is null or isDeleted !=1)
  </select>
   <!-- 治理结果趋势 -->
  <select id="resultDangerForCar" resultType="map" >
	select
	    sum(case when month(d.dangerTime)=1 then 1 else 0 end) 一, 
	    sum(case when month(d.dangerTime)=2 then 1 else 0 end) 二,
	    sum(case when month(d.dangerTime)=3 then 1 else 0 end) 三,
	    sum(case when month(d.dangerTime)=4 then 1 else 0 end) 四,
	    sum(case when month(d.dangerTime)=5 then 1 else 0 end) 五,
	    sum(case when month(d.dangerTime)=6 then 1 else 0 end) 六,
	    sum(case when month(d.dangerTime)=7 then 1 else 0 end) 七,
	    sum(case when month(d.dangerTime)=8 then 1 else 0 end) 八,
	    sum(case when month(d.dangerTime)=9 then 1 else 0 end) 九,
	    sum(case when month(d.dangerTime)=10 then 1 else 0 end) 十,
	    sum(case when month(d.dangerTime)=11 then 1 else 0 end) 十一,
	    sum(case when month(d.dangerTime)=12 then 1 else 0 end) 十二
	from vehi_danger d where year(d.dangerTime) = year(now()) and (isDeleted is null or isDeleted !=1) and dangerType !=0
  </select>
  <!-- 通报机动车信息 -->
  <select id="noticeDangerCar" resultMap="BaseResultMap" parameterType="map">
 SELECT
	d.id,
	d.vehiNo,
	d.vehiType,
	d.ownerEnterprise,
	d.scrappedState,
	d.illicitState,
	d.failureState,
	d.overdueExamineState,
	d.dangerType
FROM
	vehi_danger d
	WHERE
	d.dangerType !=0 and (d.isDeleted is null or d.isDeleted != 1)
LIMIT  #{top,jdbcType=VARCHAR},1
  </select>
  <!-- 根据分所查询各区的驾驶员隐患数 -->
  <!-- 当月 -->
  <select id="findMonthAreaDangerByOrgId" resultType="map">
	SELECT
	orgNm,
	(
		SELECT
			count(1)
		FROM
			vehi_danger
		WHERE
			e.id = ownerOrgId
		AND (isDeleted is null or isDeleted !=1)
        AND dangerType !=0
		AND YEAR (now()) = YEAR (dangerTime)
		AND MONTH (now()) = MONTH (dangerTime)
	) carDangers
FROM
	ess_organization e
WHERE
	e.superOrg_id = #{orgId,jdbcType=VARCHAR}  and (e.isDeleted is null or e.isDeleted != 1)
GROUP BY
	e.orgNm
  </select>
  <!-- 上月 -->
  <select id="findPreMonthAreaDangerByOrgId" resultType="map">
  SELECT
	orgNm,
	(
		SELECT
			count(1)
		FROM
			vehi_danger
		WHERE
			e.id = ownerOrgId
		AND (isDeleted is null or isDeleted !=1)
        AND dangerType !=0
		AND YEAR (now()) = YEAR (dangerTime)
		AND MONTH (now())-1 = MONTH (dangerTime)
	) carDangers
FROM
	ess_organization e
WHERE
	e.superOrg_id = #{orgId,jdbcType=VARCHAR}  and (e.isDeleted is null or e.isDeleted != 1)
GROUP BY
	e.orgNm
  </select>
 
  
  
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from vehi_danger
    where id = #{id,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.ccttic.entity.danger.VehiDanger">
    insert into vehi_danger (id, vehiNo, vehiType, 
      ownerEnterprise, scrappedState, illicitState, 
      overdueExamineSate, fullStudyState, dangerType, 
      ownerGener, ownerOrgId, vehicle_id, 
      dangerTime, correctTime, correctState, 
      dangerDesc, remark, version, 
      isDeleted, createTime, updateTime, 
      deleteTime, createBy, createDepCd, 
      updateBy, updateDepCd)
    values (#{id,jdbcType=VARCHAR}, #{vehino,jdbcType=VARCHAR}, #{vehitype,jdbcType=VARCHAR}, 
      #{ownerenterprise,jdbcType=VARCHAR}, #{scrappedstate,jdbcType=INTEGER}, #{illicitstate,jdbcType=INTEGER}, 
      #{overdueexaminesate,jdbcType=INTEGER}, #{fullstudystate,jdbcType=INTEGER}, #{dangertype,jdbcType=VARCHAR}, 
      #{ownergener,jdbcType=VARCHAR}, #{ownerorgid,jdbcType=VARCHAR}, #{vehicleId,jdbcType=VARCHAR}, 
      #{dangertime,jdbcType=VARCHAR}, #{correcttime,jdbcType=VARCHAR}, #{correctstate,jdbcType=VARCHAR}, 
      #{dangerdesc,jdbcType=VARCHAR}, #{remark,jdbcType=VARCHAR}, #{version,jdbcType=INTEGER}, 
      #{isdeleted,jdbcType=BIT}, #{createtime,jdbcType=TIMESTAMP}, #{updatetime,jdbcType=TIMESTAMP}, 
      #{deletetime,jdbcType=TIMESTAMP}, #{createby,jdbcType=VARCHAR}, #{createdepcd,jdbcType=VARCHAR}, 
      #{updateby,jdbcType=VARCHAR}, #{updatedepcd,jdbcType=VARCHAR})
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.ccttic.entity.danger.VehiDanger">
    update vehi_danger
    set vehiNo = #{vehino,jdbcType=VARCHAR},
      vehiType = #{vehitype,jdbcType=VARCHAR},
      ownerEnterprise = #{ownerenterprise,jdbcType=VARCHAR},
      scrappedState = #{scrappedstate,jdbcType=INTEGER},
      illicitState = #{illicitstate,jdbcType=INTEGER},
      overdueExamineSate = #{overdueexaminesate,jdbcType=INTEGER},
      fullStudyState = #{fullstudystate,jdbcType=INTEGER},
      dangerType = #{dangertype,jdbcType=VARCHAR},
      ownerGener = #{ownergener,jdbcType=VARCHAR},
      ownerOrgId = #{ownerorgid,jdbcType=VARCHAR},
      vehicle_id = #{vehicleId,jdbcType=VARCHAR},
      dangerTime = #{dangertime,jdbcType=VARCHAR},
      correctTime = #{correcttime,jdbcType=VARCHAR},
      correctState = #{correctstate,jdbcType=VARCHAR},
      dangerDesc = #{dangerdesc,jdbcType=VARCHAR},
      remark = #{remark,jdbcType=VARCHAR},
      version = #{version,jdbcType=INTEGER},
      isDeleted = #{isdeleted,jdbcType=BIT},
      createTime = #{createtime,jdbcType=TIMESTAMP},
      updateTime = #{updatetime,jdbcType=TIMESTAMP},
      deleteTime = #{deletetime,jdbcType=TIMESTAMP},
      createBy = #{createby,jdbcType=VARCHAR},
      createDepCd = #{createdepcd,jdbcType=VARCHAR},
      updateBy = #{updateby,jdbcType=VARCHAR},
      updateDepCd = #{updatedepcd,jdbcType=VARCHAR}
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select id, vehiNo, vehiType, ownerEnterprise, scrappedState, illicitState, overdueExamineSate, 
    fullStudyState, dangerType, ownerGener, ownerOrgId, vehicle_id, dangerTime, correctTime, 
    correctState, dangerDesc, remark, version, isDeleted, createTime, updateTime, deleteTime, 
    createBy, createDepCd, updateBy, updateDepCd
    from vehi_danger
    where id = #{id,jdbcType=VARCHAR}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select id, vehiNo, vehiType, ownerEnterprise, scrappedState, illicitState, overdueExamineSate, 
    fullStudyState, dangerType, ownerGener, ownerOrgId, vehicle_id, dangerTime, correctTime, 
    correctState, dangerDesc, remark, version, isDeleted, createTime, updateTime, deleteTime, 
    createBy, createDepCd, updateBy, updateDepCd
    from vehi_danger
  </select>
</mapper>