html, body {
  width: 100%;
  height: 100%; }
  html .map-container, body .map-container {
    position: relative;
    width: 100%;
    height: 100%; }
    html .map-container .map-box, body .map-container .map-box {
      width: 100%;
      height: 100%; }
      html .map-container .map-box .map-cut-box, body .map-container .map-box .map-cut-box {
        position: absolute;
        top: 2.35%;
        right: 1.51%;
        width: 28%;
        height: 3.257%;
        z-index: 99999999; }
        html .map-container .map-box .map-cut-box .active, body .map-container .map-box .map-cut-box .active {
          background-image: url("./../../static/assets/img/active-bg.png"); }
          html .map-container .map-box .map-cut-box .active span, body .map-container .map-box .map-cut-box .active span {
            color: #00f6ff; }
        html .map-container .map-box .map-cut-box p, body .map-container .map-box .map-cut-box p {
          position: absolute;
          top: 0;
          display: inline-block;
          width: 22.624%;
          height: 100%;
          background-image: url("../../static/assets/img/default-bg.png");
          cursor: pointer; }
        html .map-container .map-box .map-cut-box p:nth-child(1), body .map-container .map-box .map-cut-box p:nth-child(1) {
          left: 0; }
        html .map-container .map-box .map-cut-box p:nth-child(2), body .map-container .map-box .map-cut-box p:nth-child(2) {
          left: 25.856%; }
        html .map-container .map-box .map-cut-box p:nth-child(3), body .map-container .map-box .map-cut-box p:nth-child(3) {
          right: 25.856%; }
        html .map-container .map-box .map-cut-box p:nth-child(4), body .map-container .map-box .map-cut-box p:nth-child(4) {
          right: 0; }
      html .map-container .map-box .map, body .map-container .map-box .map {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 1; }
    html .map-container .dper-layer, body .map-container .dper-layer {
      position: absolute;
      left: 0;
      top: 0;
      z-index: 999;
      width: 50%;
      height: 39.26%;
      border-radius: 4px;
      border: 2px solid #65a3c3;
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box;
      background-color: rgba(1, 74, 129, 0.64);
      -webkit-box-shadow: inset 0 0 10px 0 rgba(0, 198, 255, 0.9), inset 0 0 20px 0 rgba(0, 198, 255, 0.8), inset 0 0 40px 0 rgba(0, 198, 255, 0.5), 14px 14px 10px 0 rgba(0, 0, 0, 0.5);
      -moz-box-shadow: inset 0 0 10px 0 rgba(0, 198, 255, 0.9), inset 0 0 20px 0 rgba(0, 198, 255, 0.8), inset 0 0 40px 0 rgba(0, 198, 255, 0.5), 14px 14px 10px 0 rgba(0, 0, 0, 0.5);
      box-shadow: inset 0 0 10px 0 rgba(0, 198, 255, 0.9), inset 0 0 20px 0 rgba(0, 198, 255, 0.8), inset 0 0 40px 0 rgba(0, 198, 255, 0.5), 14px 14px 10px 0 rgba(0, 0, 0, 0.5);
      transition: top 0.5s cubic-bezier(0.75, -0.03, 0.15, 1.24), left 0.5s cubic-bezier(0.75, -0.03, 0.15, 1.24), opaity 0.2s; }
      html .map-container .dper-layer .shut-down, body .map-container .dper-layer .shut-down {
        position: absolute;
        top: 2%;
        right: 2%;
        width: 20px;
        height: 20px;
        fill: currentColor;
        color: #02d2df;
        cursor: pointer; }
      html .map-container .dper-layer .dper-nav, body .map-container .dper-layer .dper-nav {
        width: 100%;
        height: 100%; }
        html .map-container .dper-layer .dper-nav .place-name, body .map-container .dper-layer .dper-nav .place-name {
          margin-top: 2%;
          border-bottom: 1px solid #fff;
          -webkit-box-sizing: border-box;
          -moz-box-sizing: border-box;
          box-sizing: border-box; }
        html .map-container .dper-layer .dper-nav .nav-title, body .map-container .dper-layer .dper-nav .nav-title {
          width: 100%;
          height: 16%;
          margin-top: 1%;
          border-bottom: 1px solid #fff;
          -webkit-box-sizing: border-box;
          -moz-box-sizing: border-box;
          box-sizing: border-box; }
          html .map-container .dper-layer .dper-nav .nav-title p, body .map-container .dper-layer .dper-nav .nav-title p {
            position: relative;
            float: left;
            width: 33.33%;
            height: 100%; }
        html .map-container .dper-layer .dper-nav .nav-container, body .map-container .dper-layer .dper-nav .nav-container {
          position: absolute;
          left: 0;
          bottom: 0;
          width: 100%;
          height: 70%; }
          html .map-container .dper-layer .dper-nav .nav-container .public-cont, body .map-container .dper-layer .dper-nav .nav-container .public-cont {
            width: 50%;
            height: 100%; }
          html .map-container .dper-layer .dper-nav .nav-container .cont-left, body .map-container .dper-layer .dper-nav .nav-container .cont-left {
            border-right: 1px solid #fff;
            -webkit-box-sizing: border-box;
            -moz-box-sizing: border-box;
            box-sizing: border-box; }
        html .map-container .dper-layer .dper-nav .mt-1, body .map-container .dper-layer .dper-nav .mt-1 {
          margin-top: 1%; }
        html .map-container .dper-layer .dper-nav .mt-2, body .map-container .dper-layer .dper-nav .mt-2 {
          margin-top: 2%; }
        html .map-container .dper-layer .dper-nav .mb-2, body .map-container .dper-layer .dper-nav .mb-2 {
          margin-bottom: 2%; }
        html .map-container .dper-layer .dper-nav p, body .map-container .dper-layer .dper-nav p {
          font-weight: bold;
          text-align: center; }
      @media screen and (max-width: 500px) {
        html .map-container .dper-layer .dper-nav p, body .map-container .dper-layer .dper-nav p {
          font-weight: bold;
          font-size: 12px; }
          html .map-container .dper-layer .dper-nav .mt-1, body .map-container .dper-layer .dper-nav .mt-1 {
          margin-top: 0; }
        html .map-container .dper-layer .dper-nav .mt-2, body .map-container .dper-layer .dper-nav .mt-2 {
          margin-top: 0; }
        html .map-container .dper-layer .dper-nav .mb-2, body .map-container .dper-layer .dper-nav .mb-2 {
          margin-bottom: 0; }
         }
    html .map-container .lg-img, body .map-container .lg-img {
      position: absolute;
      top: 0;
      left: 0;
      z-index: 999999;
      width: 7%;
      -webkit-transition: opacity .2s;
      -moz-transition: opacity .2s;
      -ms-transition: opacity .2s;
      -o-transition: opacity .2s;
      transition: opacity .2s; }
    html .map-container .active-map, body .map-container .active-map {
      opacity: 0;
      z-index: -1; }

/*# sourceMappingURL=page.map.css.map */
