<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ccttic.cqytjgpt.webapi.mapper.drivers.DriverMapper">
	<resultMap id="BaseResultMap" type="com.ccttic.entity.drivers.Driver">
		<id column="id" jdbcType="VARCHAR" property="id" />
		<result column="name" jdbcType="VARCHAR" property="name" />
		<result column="idcard" jdbcType="VARCHAR" property="idcard" />
		<result column="telphone" jdbcType="VARCHAR" property="telphone" />
		<result column="mobilephone" jdbcType="VARCHAR" property="mobilephone" />
		<result column="adress" jdbcType="VARCHAR" property="adress" />
		<result column="permiCar" jdbcType="VARCHAR" property="permicar" />
		<result column="firstReciveTime" jdbcType="VARCHAR" property="firstrecivetime" />
		<result column="mgrDepart" jdbcType="VARCHAR" property="mgrdepart" />
		<result column="mgrDepartAreaId" jdbcType="VARCHAR" property="mgrdepartareaid" />
		<result column="mgrEnterpriseId" jdbcType="VARCHAR" property="mgrenterpriseid" />
		<result column="nextExamineTime" jdbcType="VARCHAR" property="nextexaminetime" />
		<result column="effectStartTime" jdbcType="VARCHAR" property="effectstarttime" />
		<result column="effectEndTime" jdbcType="VARCHAR" property="effectendtime" />
		<result column="examineEffectEndTime" jdbcType="VARCHAR"
			property="examineeffectendtime" />
		<result column="scoreTotal" jdbcType="VARCHAR" property="scoretotal" />
		<result column="state" jdbcType="VARCHAR" property="state" />
		<result column="remark" jdbcType="VARCHAR" property="remark" />
		<result column="version" jdbcType="INTEGER" property="version" />
		<result column="isDelete" jdbcType="TINYINT" property="isdelete" />
		<result column="createTime" jdbcType="TIMESTAMP" property="createtime" />
		<result column="updateTime" jdbcType="TIMESTAMP" property="updatetime" />
		<result column="deleteTime" jdbcType="TIMESTAMP" property="deletetime" />
		<result column="createBy" jdbcType="VARCHAR" property="createby" />
		<result column="createDepCd" jdbcType="VARCHAR" property="createdepcd" />
		<result column="updateBy" jdbcType="VARCHAR" property="updateby" />
		<result column="updateDepCd" jdbcType="VARCHAR" property="updatedepcd" />
	</resultMap>
	<sql id="Base_Column_List">
		id, name, idcard, telphone, mobilephone, adress, permiCar,
		firstReciveTime, mgrDepart,
		mgrDepartAreaId, mgrEnterpriseId,
		nextExamineTime, effectStartTime, effectEndTime,
		examineEffectEndTime,
		scoreTotal, state, remark, version, isDelete,
		createTime, updateTime,
		deleteTime, createBy, createDepCd, updateBy, updateDepCd
	</sql>

	<!--增加驾驶员 -->
	<insert id="insertSelective" parameterType="java.util.List">
		insert into driver id,idcard values
		<foreach collection="list" item="item" index="index"
			separator=",">
			( #{item.id}, #{item.idcard} )
		</foreach>

	</insert>

	<!-- 驾驶员分页 -->
	<select id="seDriverPage" resultType="com.ccttic.entity.drivers.vo.DriverVo"
		parameterType="java.util.Map">
		SELECT
		d.id,
		d.adress,
		a.areaNm,
		d.NAME,
		d.idcard,
		d.mobilephone,
		en.etpNm,
		d.permiCar,
		d.firstReciveTime,
		d.nextExamineTime,
		d.state,
		d.mgrDepart,
		d.telphone,
		d.scoreTotal,
		d.examineEffectEndTime,
		d.effectStartTime,
		d.effectEndTime
		FROM
		driver d
		LEFT JOIN ess_enterprise en ON
		d.mgrEnterpriseId = en.id
		LEFT JOIN ess_area a ON d.mgrDepartAreaId =
		a.id
		where 1 = 1
		<if test="etpNm!=null and etpNm!='' ">
			and en.etpNm = #{etpNm}
		</if>
		<if test="areaNm!=null and areaNm!='' ">
			and a.areaNm = #{areaNm}
		</if>
		<if test="name!=null and name!='' ">
			and d.name = #{name}
		</if>
		<if test="idcard!=null and idcard!='' ">
			and d.idcard = #{idcard}
		</if>
		<if test="permicar!=null and permicar!='' ">
			and d.permiCar = #{permicar}
		</if>
		<if test="id!=null and id!='' ">
			and d.id = #{id}
		</if>
		<if test="mobilephone!=null and mobilephone!='' ">
			and d.mobilephone = #{mobilephone}
		</if>
		<if test="fiString!=null and fiString!=''  ">
			and d.firstReciveTime BETWEEN #{fiString} and
			laStrin#{laString}
		</if>
		<if test="fistShString!=null and fistShString!='' ">
			and d.fistShString BETWEEN #{fistShString} and
			#{laShString}
		</if>
		limit ${startRecord},${pageSize}
	</select>
	<!-- 驾驶人分页总数 -->
	<select id="sePageCount" resultType="long">
		SELECT
		COUNT(d.id)
		FROM
		driver d
		LEFT JOIN ess_enterprise en ON
		d.mgrEnterpriseId = en.id
		LEFT JOIN ess_area a ON d.mgrDepartAreaId =
		a.id
		where 1 = 1
		<if test="etpNm!=null and etpNm!='' ">
			and en.etpNm = #{etpNm}
		</if>
		<if test="areaNm!=null and areaNm!='' ">
			and a.areaNm = #{areaNm}
		</if>
		<if test="name!=null and name!='' ">
			and d.name = #{name}
		</if>
		<if test="idcard!=null and idcard!='' ">
			and d.idcard = #{idcard}
		</if>
		<if test="permicar!=null and permicar!='' ">
			and d.permiCar = #{permicar}
		</if>
		<if test="id!=null and id!='' ">
			and d.id = #{id}
		</if>
		<if test="id!=null and id!='' ">
			and d.id = #{id}
		</if>
		<if test="mobilephone!=null and mobilephone!='' ">
			and d.mobilephone = #{mobilephone}
		</if>
		<if test="fiString!=null and fiString!='' ">
			and d.firstReciveTime BETWEEN #{fiString} and
			laStrin#{laString}
		</if>
		<if test="fistShString!=null and fistShString!='' ">
			and d.fistShString BETWEEN #{fistShString} and
			#{laShString}
		</if>
	</select>
	<!--驾驶人违法记录 -->
	<select id="seDrillicitByDriverId" parameterType="java.lang.String"
		resultType="com.ccttic.entity.drivers.vo.DriverillicitVo">
		SELECT
		d.`name`,
		a.areaNm,
		dl.illicitTime,
		dl.illicitAdress,
		dl.illicitScore,
		dl.illicitAmount
		<!-- 差处理部门 -->
		FROM
		driver d
		LEFT JOIN
		dr_illicit dl ON d.id = dl.driver_id
		LEFT JOIN
		ess_area a ON
		d.mgrDepartAreaId = a.id
		where d.id = #{driverid}

	</select>
	<!--驾驶人违法信息条件分页 -->
	<select id="seDr_illicitPages" resultType="com.ccttic.entity.drivers.vo.DriverillicitVo"
		parameterType="java.util.Map">
		SELECT
		d.id,
		d.name,
		a.areaNm,
		en.etpNm,
		dl.illicitTime,
		dl.illicitAdress,
		dl.illicitScore,
		dl.illicitAmount,
		dl.illicit
		FROM
		driver d
		LEFT JOIN
		ess_enterprise en ON d.mgrEnterpriseId = en.id
		LEFT
		JOIN ess_area a ON
		d.mgrDepartAreaId = a.id
		LEFT JOIN dr_illicit dl ON
		d.id = dl.driver_id
		where 1 = 1
		<if test="driverid!=null and driverid!= '' ">
			and d.id = #{driverid}
		</if>
		<if test="name!=null and name!='' ">
			and d.name = #{name}
		</if>
		<if test="etpNm!=null and etpNm!='' ">
			and en.etpNm = #{etpNm}
		</if>
		<if test="areaNm!=null and areaNm!='' ">
			and a.areaNm = #{areaNm}
		</if>
		<if test="illicitadress!=null and illicitadress!='' ">
			and dl.illicitadress = #{illicitadress}
		</if>
		<if test="illicit!=null and illicit!='' ">
			and dl.illicit = #{illicit}
		</if>

		limit ${startRecord} , ${pageSize}

	</select>
	<!-- 驾驶人违法分页总数 -->
	<select id="getDriverPageCount" resultType="long" parameterType="java.util.Map">
		SELECT
		count(d.id)
		FROM
		driver d
		LEFT JOIN ess_enterprise en ON
		d.mgrEnterpriseId = en.id
		LEFT
		JOIN ess_area a ON d.mgrDepartAreaId =
		a.id
		LEFT JOIN dr_illicit dl ON
		d.id = dl.driver_id
		where 1 = 1
		<if test="driverid!=null and driverid!= '' ">
			and d.id = #{driverid}
		</if>
		<if test="name!=null and name!='' ">
			and d.name = #{name}
		</if>
		<if test="etpNm!=null and etpNm!='' ">
			and en.etpNm = #{etpNm}
		</if>
		<if test="areaNm!=null and areaNm!='' ">
			and a.areaNm = #{areaNm}
		</if>
		<if test="illicitadress!=null and illicitadress!='' ">
			and dl.illicitadress = #{illicitadress}
		</if>
		<if test="illicit!=null and illicit!='' ">
			and dl.illicit = #{illicit}
		</if>
	</select>

	<!-- 一对多查询关联 -->
	<resultMap type="com.ccttic.entity.drivers.vo.DriverIllegal"
		id="slist">
		<!-- 实体类属性对应数据库的主键字段，不然主键会查不到 -->
		<id property="id" column="id" />
		<!-- 用collection标签 ,也是实体类属性要对应数据库字段 -->
		<collection property="drIllicits" column="id"
			select="com.ccttic.cqytjgpt.webapi.mapper.drivers.DriverMapper.selectByDriverId">
		</collection>
	</resultMap>

	
	<select id="selectAllDriver" resultMap="slist">
		select * from driver
		where isDelete = 0 or isDelete is null
	</select>
	<select id="selectByDriverId" parameterType="java.lang.String"
		resultType="com.ccttic.entity.illegal.DrIllicit">
		select * from dr_illicit where driver_id = #{driverId} and
		(isDeleted = 0 or
		isDeleted is null)
	</select>
	<!-- 企业监管借口 -->

	<!-- 企业信息基本信息分页接口 -->
	<select id="queryEnterprisePage" resultType="com.ccttic.entity.drivers.vo.EnterprisethenVo"
		parameterType="java.util.Map">
		SELECT
		en.id,
		eo.orgNm,
		en.etpNm,
		en.etpshortNm,
		en.etpLawer,
		en.lawerTel,
		en.etpSafer,
		en.saferTel,
		en.ownerTraffic,
		en.ownerTransport,
		en.state,
		en.etpTel,
		en.etpAdress,
		en.remark,
		a.areaNm
		FROM
		ess_enterprise en
		LEFT
		JOIN ess_organization eo ON en.org_id = eo.id
		LEFT JOIN ess_area a ON
		eo.area_id = a.id
		where 1 = 1
		<if test="id!= null and id!='' ">
			en.id = #{id}
		</if>
		<if test="etpNm!= null and etpNm!='' ">
			en.etpNm = #{etpNm}
		</if>
		<if test="ownerTraffic!= null and ownerTraffic!='' ">
			en.ownerTraffic = #{ownerTraffic}
		</if>
		<if test="ownerTransport!= null and ownerTransport!='' ">
			en.ownerTransport = #{ownerTransport}
		</if>
		limit ${startRecord} , ${pageSize}

	</select>

	<select id="queryEnterprisePageCount" resultType="long"
		parameterType="java.util.Map">
		SELECT
		COUNT(en.id)
		FROM
		ess_enterprise en
		LEFT
		JOIN ess_organization eo ON
		en.org_id = eo.id
		LEFT JOIN ess_area a ON
		eo.area_id = a.id
		where 1 = 1
		<if test="id!= null and id!='' ">
			en.id = #{id}
		</if>
		<if test="etpNm!= null and etpNm!='' ">
			en.etpNm = #{etpNm}
		</if>
		<if test="ownerTraffic!= null and ownerTraffic!='' ">
			en.ownerTraffic = #{ownerTraffic}
		</if>
		<if test="ownerTransport!= null and ownerTransport!='' ">
			en.ownerTransport = #{ownerTransport}
		</if>

	</select>
	<!--企业信息记录分页 -->
	<select id="queryVehiclespage" parameterType="java.util.Map"
		resultType="com.ccttic.entity.drivers.vo.vehiclesVo">
		SELECT
		e.id,
		e.etpNm,
		v.vehiNo,
		v.nature,
		v.vehiNoType,
		v.effectStartTime,
		v.effectEndTime,
		v.updateTime,
		vd.overdueExamineState,
		vd.scrappedState,
		vd.illicitState
		FROM
		ess_organization o
		LEFT JOIN ess_enterprise e ON
		o.id = e.org_id
		LEFT
		JOIN vehicle v ON e.id = v.mgrEnterpriseId
		LEFT JOIN
		vehi_danger vd ON
		v.id = vd.vehicle_id
		WHERE
		e.id != ''
		<if test="orgNm!=null and orgNm!= '' ">
			AND o.orgNm =#{orgNm}
		</if>
		<if test="etpNm!=null and etpNm!= '' ">
			AND e.etpNm =#{etpNm}
		</if>
		<if test="vehiNoType!=null and vehiNoType!= '' ">
			AND v.vehiNoType =#{vehiNoType}
		</if>
		limit ${startRecord} , ${pageSize}

	</select>
	<!-- 分页总数 -->
	<select id="queryVehiclespageCount" resultType="long" parameterType="java.util.Map">
		SELECT
		COUNT(e.id)
		FROM
		ess_organization o
		LEFT JOIN ess_enterprise e ON o.id = e.org_id
		LEFT JOIN vehicle v ON e.id = v.mgrEnterpriseId
		LEFT JOIN vehi_danger vd ON v.id = vd.vehicle_id
		WHERE
		e.id != ''
			<if test="orgNm!=null and orgNm!= '' ">
			AND o.orgNm =#{orgNm}
		</if>
		<if test="etpNm!=null and etpNm!= '' ">
			AND e.etpNm =#{etpNm}
		</if>
		<if test="vehiNoType!=null and vehiNoType!= '' ">
			AND v.vehiNoType =#{vehiNoType}
		</if>
	</select>
       <select id="seEmp" parameterType="java.util.Map" resultType="com.ccttic.entity.employee.EssEmployee">
       select * from ess_employee limit ${startRecord} , ${pageSize}
       </select>
       <select id="seEmpCount" parameterType="java.util.Map" resultType="long">
       select count(id) from ess_employee 
       </select>
</mapper>