<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ccttic.cqytjgpt.webapi.mapper.drivers.DriverMapper">
	<resultMap id="BaseResultMap" type="com.ccttic.entity.drivers.Driver">
		<id column="id" jdbcType="VARCHAR" property="id" />
		<result column="name" jdbcType="VARCHAR" property="name" />
		<result column="idcard" jdbcType="VARCHAR" property="idcard" />
		<result column="telphone" jdbcType="VARCHAR" property="telphone" />
		<result column="mobilephone" jdbcType="VARCHAR" property="mobilephone" />
		<result column="adress" jdbcType="VARCHAR" property="adress" />
		<result column="permiCar" jdbcType="VARCHAR" property="permicar" />
		<result column="firstReciveTime" jdbcType="VARCHAR" property="firstrecivetime" />
		<result column="mgrDepart" jdbcType="VARCHAR" property="mgrdepart" />
		<result column="mgrDepartAreaId" jdbcType="VARCHAR" property="mgrdepartareaid" />
		<result column="mgrEnterpriseId" jdbcType="VARCHAR" property="mgrenterpriseid" />
		<result column="nextExamineTime" jdbcType="VARCHAR" property="nextexaminetime" />
		<result column="effectStartTime" jdbcType="VARCHAR" property="effectstarttime" />
		<result column="effectEndTime" jdbcType="VARCHAR" property="effectendtime" />
		<result column="examineEffectEndTime" jdbcType="VARCHAR"
			property="examineeffectendtime" />
		<result column="scoreTotal" jdbcType="VARCHAR" property="scoretotal" />
		<result column="state" jdbcType="VARCHAR" property="state" />
		<result column="remark" jdbcType="VARCHAR" property="remark" />
		<result column="version" jdbcType="INTEGER" property="version" />
		<result column="isDelete" jdbcType="TINYINT" property="isdelete" />
		<result column="createTime" jdbcType="TIMESTAMP" property="createtime" />
		<result column="updateTime" jdbcType="TIMESTAMP" property="updatetime" />
		<result column="deleteTime" jdbcType="TIMESTAMP" property="deletetime" />
		<result column="createBy" jdbcType="VARCHAR" property="createby" />
		<result column="createDepCd" jdbcType="VARCHAR" property="createdepcd" />
		<result column="updateBy" jdbcType="VARCHAR" property="updateby" />
		<result column="updateDepCd" jdbcType="VARCHAR" property="updatedepcd" />
	</resultMap>
	<sql id="Base_Column_List">
		id, name, idcard, telphone, mobilephone, adress, permiCar,
		firstReciveTime, mgrDepart,
		mgrDepartAreaId, mgrEnterpriseId,
		nextExamineTime, effectStartTime, effectEndTime,
		examineEffectEndTime,
		scoreTotal, state, remark, version, isDelete,
		createTime, updateTime,
		deleteTime, createBy, createDepCd, updateBy, updateDepCd
	</sql>
	<!-- 获取所有准假车型 -->
	<select id="getAllpermiCar" resultType="com.ccttic.entity.drivers.vo.PermiCarsVo">
		SELECT DISTINCT
		permiCar
		FROM
		driver
		WHERE
		permiCar != '' and (isDelete is null OR isDelete !=1)
	</select>


	<!--增加驾驶员 -->
	<insert id="insertSelective" parameterType="java.util.List">
		insert into driver (id,idcard) values
		<foreach collection="list" item="item" index="index"
			separator=",">
			( #{item.id}, #{item.idcard} )
		</foreach>

	</insert>

	<sql id="names">
		REPLACE(`name`,' ','') name,
	</sql>
	<sql id="dnames">
		trim(REPLACE(`name`, ' ', '')) LIKE
		trim(REPLACE('%${name}%', ' ', ''))
	</sql>

	<!-- 驾驶员分页 -->
	<select id="seDriverPage" resultType="com.ccttic.entity.drivers.vo.DriverVo"
		parameterType="java.util.Map">
		SELECT
		d.id,
		d.adress,
		a.areaNm,
		<include refid="names"></include>
		d.idcard,
		d.mobilephone,
		en.etpNm,
		d.permiCar,
		d.firstReciveTime,
		d.nextExamineTime,
		d.state,
		d.mgrDepart,
		d.telphone,
		d.scoreTotal,
		d.examineEffectEndTime,
		d.effectStartTime,
		d.effectEndTime,
		d.state1
		FROM
		ess_area a
		LEFT JOIN driver d
		ON a.id =
		d.mgrDepartAreaId
		LEFT JOIN
		ess_enterprise
		en ON
		d.mgrEnterpriseId =
		en.id
		<choose>
			<when test="empType == 'SUPERMAN'">
				WHERE 1=1
			</when>
			<otherwise>
				WHERE en.id in
				<foreach collection="list" index="index" item="item" open="("
					separator="," close=")">
					#{item}
				</foreach>
			</otherwise>
		</choose>
		<if test="etpNm!=null and etpNm!='' ">
			AND en.etpNm like '%${etpNm}%'
		</if>
		<if test="areaNm!=null and areaNm!='' ">
			AND a.areaNm = #{areaNm}
		</if>
		<if test="name!=null and name!='' ">
			AND
			<include refid="dnames"></include>
		</if>
		<if test="idcard!=null and idcard!='' ">
			AND d.idcard = #{idcard}
		</if>
		<if test="permicar!=null and permicar!='' ">
			AND d.permiCar like '%${permicar}%'
		</if>
		<if test="id!=null and id!='' ">
			AND d.id = #{id}
		</if>
		<if test="mobilephone!=null and mobilephone!='' ">
			AND d.mobilephone = #{mobilephone}
		</if>
		<if test="fiString!=null and fiString!='' ">
			AND d.firstReciveTime &gt; #{fiString}
		</if>
		<if test="laString!=null and laString!='' ">
			AND d.firstReciveTime &lt; #{laString}
		</if>
		<if test="fistShString!=null and fistShString!='' ">
			AND d.nextexaminetime &gt; #{fistShString}
		</if>
		<if test="laShString!=null and laShString!='' ">
			AND d.nextexaminetime &lt; #{laShString}
		</if>
		AND (d.isDelete is null OR d.isDelete !=1)
		LIMIT
		${startRecord},${pageSize}
	</select>
	<!-- 驾驶人分页总数 -->
	<select id="sePageCount" resultType="long" parameterType="java.util.Map">

		SELECT
		COUNT(d.id)
		FROM
		ess_area a
		LEFT JOIN driver d ON a.id =
		d.mgrDepartAreaId
		LEFT JOIN ess_enterprise en ON d.mgrEnterpriseId =
		en.id
		<choose>
			<when test="empType == 'SUPERMAN'">
				WHERE 1=1
			</when>
			<otherwise>
				WHERE en.id in
				<foreach collection="list" index="index" item="item" open="("
					separator="," close=")">
					#{item}
				</foreach>
			</otherwise>
		</choose>
		<if test="etpNm!=null and etpNm!='' ">
			AND en.etpNm like '%${etpNm}%'
		</if>
		<if test="areaNm!=null and areaNm!='' ">
			AND a.areaNm = #{areaNm}
		</if>
		<if test="name!=null and name!='' ">
			AND trim(REPLACE(`name`, ' ', '')) LIKE
			trim(REPLACE('%${name}%', ' ', ''))
		</if>
		<if test="idcard!=null and idcard!='' ">
			AND d.idcard = #{idcard}
		</if>
		<if test="permicar!=null and permicar!='' ">
			AND d.permiCar like '%${permicar}%'
		</if>
		<if test="id!=null and id!='' ">
			AND d.id = #{id}
		</if>
		<if test="mobilephone!=null and mobilephone!='' ">
			AND d.mobilephone = #{mobilephone}
		</if>
		<if test="fiString!=null and fiString!='' ">
			AND d.firstReciveTime &gt; #{fiString}
		</if>
		<if test="laString!=null and laString!='' ">
			AND d.firstReciveTime &lt; #{laString}
		</if>
		<if test="fistShString!=null and fistShString!='' ">
			AND d.nextexaminetime &gt; #{fistShString}
		</if>
		<if test="laShString!=null and laShString!='' ">
			AND d.nextexaminetime &lt; #{laShString}
		</if>
		AND (d.isDelete is null OR d.isDelete !=1)
	</select>
	<!--驾驶人违法记录 -->
	<select id="seDrillicitByDriverId" parameterType="java.util.Map"
		resultType="com.ccttic.entity.drivers.vo.DriverillicitVo">

		SELECT
		e.etpNm,
		replace(vd.name,' ','') name,
		vd.illicitTime,
		vd.illicitAdress,
		vd.illicitScore,
		vd.illicitAmount,
		vd.mgrDepart,
		vd.drIllicitState

		FROM
		vehi_dr_illicit2018 vd
		LEFT JOIN vehicle v ON v.id
		= vd.vehicle_id
		LEFT
		JOIN ess_enterprise e ON e.id = v.mgrEnterpriseId

		<choose>
			<when test="empType == 'SUPERMAN'">
				where 1=1
			</when>
			<otherwise>
				where e.id in
				<foreach collection="list" index="index" item="item" open="("
					separator="," close=")">
					#{item}
				</foreach>
			</otherwise>
		</choose>

		and vd.idcard = #{idcard}
		and (vd.isDeleted is null OR
		vd.isDeleted
		!=1)
		limit
		${startRecord} ,
		${pageSize}
	</select>
	<select id="seDrillicitByDriverIdCount" parameterType="java.util.Map"
		resultType="long">
		SELECT
		count(vd.id)
		FROM
		vehi_dr_illicit2018 vd
		LEFT JOIN vehicle v ON
		v.id = vd.vehicle_id
		LEFT
		JOIN ess_enterprise e ON e.id =
		v.mgrEnterpriseId
		<choose>
			<when test="empType == 'SUPERMAN'">
				where 1=1
			</when>
			<otherwise>
				where e.id in
				<foreach collection="list" index="index" item="item" open="("
					separator="," close=")">
					#{item}
				</foreach>
			</otherwise>
		</choose>

		and vd.idcard = #{idcard}
		and (vd.isDeleted is null OR vd.isDeleted!=1)
	</select>

	<!--驾驶人违法信息条件分页 驾驶人信息-信息记录 -->
	<select id="seDr_illicitPages"  resultType="com.ccttic.entity.drivers.vo.DriverillicitVo" parameterType="java.util.List">
        SELECT net.id,d.idcard,d.permicar AS permitcar,d.mgrdepart,d.mgrdepartareaid, net.WFSJ AS illicittime ,net.WFJFS AS illicitscore ,net.DSR AS name ,ict.illegal_name AS illicit,net.CLJGMC AS pickdepartmentdesc,net.id,d.permiCar,d.mgrDepart,d.mgrDepartareaid ,ent.etpNm
        FROM net_trff_violation_2018 net LEFT JOIN driver d ON net.JSZH =d.idcard LEFT JOIN ess_area a ON a.id  = d.mgrDepartAreaId LEFT JOIN ess_enterprise ent ON ent.id =d.mgrEnterpriseId LEFT JOIN illegal_comparison_table ict ON ict.code = net.WFXW
        where 1=1
        <if test="list!= null and list.size>0 ">
         AND  d.mgrDepartAreaId IN
          <foreach collection="list" index="index" item="item" open="("
                                             separator="," close=")">
            #{item}
           </foreach>
        </if>
        <if test="etpId!= null and etpId !='' ">
            AND ent.id = #{etpId}
        </if>
        <if test="id!= null and id !='' ">
            AND net.id = #{id}
        </if>
        <if test="idCard!= null and idCard !='' ">
            AND net.JSZH = #{idCard}
        </if>
        <if test="name!= null and name !='' ">
            AND d.name LIKE '%${name}%'
        </if>

        LIMIT ${startRecord} ,${pageSize}

	</select>
	<!-- 驾驶人违法分页总数 驾驶人信息-信息记录 -->
	<select id="getDriverPageCount" resultType="long" parameterType="java.util.Map">
        SELECT COUNT(1)
        FROM net_trff_violation_2018 net ,driver d
        where net.JSZH =d.idcard
        <if test="list!= null and list.size>0 ">
           AND d.mgrDepartAreaId IN
            <foreach collection="list" index="index" item="item" open="("
                     separator="," close=")">
                #{item}
            </foreach>
        </if>
        <if test="etpId!= null and etpId !='' ">
            AND ent.id = #{etpId}
        </if>
        <if test="id!= null and id !='' ">
            AND net.id = #{id}
        </if>
        <if test="idCard!= null and idCard !='' ">
            AND net.JSZH = #{idCard}
        </if>
        <if test="name!= null and name !='' ">
            AND d.name LIKE '%${name}%'
        </if>

	</select>

	<!-- 一对多查询关联 -->
	<resultMap type="com.ccttic.entity.drivers.vo.DriverIllegal"
		id="slist">
		<!-- 实体类属性对应数据库的主键字段，不然主键会查不到 -->
		<id property="id" column="id" />
		<!-- 用collection标签 ,也是实体类属性要对应数据库字段 -->
		<collection property="drIllicits" column="id"
			select="com.ccttic.cqytjgpt.webapi.mapper.drivers.DriverMapper.selectByDriverId">
		</collection>
	</resultMap>


	<!--<select id="selectAllDriver" resultMap="slist"> -->
	<!--select * from driver -->
	<!--where isDelete = 0 or isDelete is null -->
	<!--</select> -->
	<!--<select id="selectByDriverId" parameterType="java.lang.String" -->
	<!--resultType="com.ccttic.entity.illegal.DrIllicit"> -->
	<!--select * from dr_illicit where driver_id = #{driverId} and -->
	<!--(isDeleted = 0 or -->
	<!--isDeleted is null) -->
	<!--</select> -->

	<select id="getAllDriverMsg" resultType="com.ccttic.entity.drivers.Driver">
		SELECT id , name ,
		idcard , mgrEnterpriseId ,
		DATE_FORMAT(effectEndTime,'%Y-%m-%d') AS
		effectEndTime,DATE_FORMAT(examineEffectEndTime,'%Y-%m-%d') AS
		examineEffectEndTime FROM driver GROUP BY idcard ORDER BY
		effectEndTime
	</select>

	<!-- 企业监管借口 -->

	<!-- 企业信息基本信息分页接口 -->
	<select id="queryEnterprisePage" resultType="com.ccttic.entity.drivers.vo.EnterprisethenVo"
		parameterType="java.util.Map">
		SELECT
		en.id,
		en.ownerTransport,
		a.areaNm,
		en.etpNm,
		en.etpCd,
		en.etpshortNm,
		en.etpLawer,
		en.lawerTel,
		en.etpSafer,
		en.saferTel,
		en.ownerTraffic,
		en.ownerTransport,
		CASE en.state
		WHEN
		1 THEN
		'审核通过'
		WHEN
		0
		THEN
		'待审核'
		WHEN
		-1
		THEN
		'审核未通过'
		end as state,
		en.etpTel,
		en.etpAdress,
		en.remark,
		en.etpCd,
		en.etpType,
		en.issueCardDate,
		en.roadTransport
		FROM
		ess_organization eo
		LEFT
		JOIN ess_enterprise en ON
		en.org_id = eo.id
		LEFT
		JOIN ess_area a ON
		eo.area_id = a.id
		<choose>
			<when test="empType == 'SUPERMAN'">
				WHERE 1=1
			</when>
			<otherwise>
				WHERE en.id in
				<foreach collection="list" index="index" item="item" open="("
					separator="," close=")">
					#{item}
				</foreach>
			</otherwise>
		</choose>
		AND en.id != ''
		<if test="areaNm!= null and areaNm!='' ">
			AND a.areaNm = #{areaNm}
		</if>
		<if test="id!= null and id!='' ">
			AND en.id = #{id}
		</if>
		<if test="etpNm!= null and etpNm!='' ">
			AND en.etpNm like '%${etpNm}%'
		</if>
		<if test="ownerTraffic!= null and ownerTraffic!='' ">
			AND en.ownerTraffic = #{ownerTraffic}
		</if>
		<if test="ownerTransport!= null and ownerTransport!='' ">
			AND en.ownerTransport = #{ownerTransport}
		</if>
		<if test="etpCd!= null and etpCd!='' ">
			AND en.etpCd = #{etpCd}
		</if>
		AND (en.isDeleted is null OR en.isDeleted !=1)
		LIMIT
		${startRecord} ,
		${pageSize}

	</select>

	<select id="queryEnterprisePageCount" resultType="long"
		parameterType="java.util.Map">
		SELECT
		COUNT(en.id)
		FROM
		ess_organization eo
		LEFT JOIN ess_enterprise en
		ON en.org_id = eo.id
		LEFT JOIN ess_area a ON eo.area_id = a.id
		<choose>
			<when test="empType == 'SUPERMAN'">
				WHERE 1=1
			</when>
			<otherwise>
				WHERE e.id in
				<foreach collection="list" index="index" item="item" open="("
					separator="," close=")">
					#{item}
				</foreach>
			</otherwise>
		</choose>
			AND en.id != ''
		<if test="areaNm!= null and areaNm!='' ">
			AND a.areaNm = #{areaNm}
		</if>
		<if test="id!= null and id!='' ">
			AND en.id = #{id}
		</if>
		<if test="etpNm!= null and etpNm!='' ">
			AND en.etpNm like '%${etpNm}%'
		</if>
		<if test="ownerTraffic!= null and ownerTraffic!='' ">
			AND en.ownerTraffic = #{ownerTraffic}
		</if>
		<if test="ownerTransport!= null and ownerTransport!='' ">
			AND en.ownerTransport = #{ownerTransport}
		</if>
		<if test="etpCd!= null and etpCd!='' ">
			AND en.etpCd = #{etpCd}
		</if>
		AND (en.isDeleted is null OR en.isDeleted !=1)
	</select>
	<!--企业信息记录分页 违法未处理详情 -->
	<select id="queryVehiclespage" parameterType="java.util.Map"
		resultType="com.ccttic.entity.drivers.vo.vehiclesVo">
		SELECT
		e.etpNm,
		v.vehiNo,
		v.nature,
		v.vehiType,
		v.effectStartTime,
		v.effectEndTime,
		v.updateTime
		FROM
		ess_organization o
		LEFT JOIN
		ess_enterprise e ON
		o.id = e.org_id
		LEFT
		JOIN vehicle v ON e.id =
		v.mgrEnterpriseId
		LEFT JOIN
		vehi_danger vd ON
		v.id = vd.vehicle_id
		<choose>
			<when test="empType == 'SUPERMAN'">
				WHERE 1=1
			</when>
			<otherwise>
				WHERE e.id in
				<foreach collection="list" index="index" item="item" open="("
					separator="," close=")">
					#{item}
				</foreach>
			</otherwise>
		</choose>
		AND e.id != ''
		<if test="orgNm!=null and orgNm!= '' ">
			AND o.orgNm =#{orgNm}
		</if>
		<if test="etpNm!=null and etpNm!= '' ">
			AND e.etpNm like '%${etpNm}%'
		</if>
		<if test="vehiType!=null and vehiType!= '' ">
			AND v.vehiType =#{vehiType}
		</if>
		<if test="id!=null and id!= '' ">
			AND e.id =#{id}
		</if>
		AND (e.isDeleted is null OR e.isDeleted !=1)
		LIMIT ${startRecord} ,
		${pageSize}

	</select>
	<!-- 分页总数 -->
	<select id="queryVehiclespageCount" resultType="long"
		parameterType="java.util.Map">
		SELECT
		COUNT(e.id)
		FROM
		ess_organization o
		LEFT JOIN ess_enterprise e ON
		o.id = e.org_id
		LEFT JOIN vehicle v ON e.id = v.mgrEnterpriseId
		LEFT
		JOIN vehi_danger vd ON v.id = vd.vehicle_id
		<choose>
			<when test="empType == 'SUPERMAN'">
				WHERE 1=1
			</when>
			<otherwise>
				WHERE e.id in
				<foreach collection="list" index="index" item="item" open="("
					separator="," close=")">
					#{item}
				</foreach>
			</otherwise>
		</choose>
		AND e.id != ''
		<if test="orgNm!=null and orgNm!= '' ">
			AND o.orgNm =#{orgNm}
		</if>
		<if test="etpNm!=null and etpNm!= '' ">
			AND e.etpNm like '%${etpNm}%'
		</if>
		<if test="vehiType!=null and vehiType!= '' ">
			AND v.vehiType =#{vehiType}
		</if>
		AND (e.isDeleted is null OR e.isDeleted !=1)
	</select>
	<select id="seEmp" parameterType="java.util.Map"
		resultType="com.ccttic.entity.employee.EssEmployee">
		select id,empNm from ess_employee limit ${startRecord} ,
		${pageSize}
	</select>
	<select id="seEmpCount" parameterType="java.util.Map"
		resultType="long">
		select count(id) from ess_employee
	</select>
	<!-- 企业信息-信息记录 -->
	<select id="getvehiclesCount" resultType="com.ccttic.entity.drivers.vo.vehiclesVo"
		parameterType="java.util.Map">
		SELECT
		e.etpNm,
		v.vehiNoType,
		vd.overdueExamineState,
		vd.scrappedState,
		vd.illicitState
		FROM
		ess_organization o
		LEFT JOIN ess_enterprise e ON
		o.id = e.org_id
		LEFT JOIN vehicle v ON e.id = v.mgrEnterpriseId
		LEFT
		JOIN vehi_danger vd ON v.id = vd.vehicle_id
		<choose>
			<when test="empType == 'SUPERMAN'">
				where 1=1
			</when>
			<otherwise>
				where e.id in
				<foreach collection="list" index="index" item="item" open="("
					separator="," close=")">
					#{item}
				</foreach>
			</otherwise>
		</choose>
		and e.id != ''
		<if test="orgNm!=null and orgNm!= '' ">
			AND o.orgNm =#{orgNm}
		</if>
		<if test="etpNm!=null and etpNm!= '' ">
			AND e.etpNm like '%${etpNm}%'
		</if>
		<if test="vehiNoType!=null and vehiNoType!= '' ">
			AND v.vehiNoType =#{vehiNoType}
		</if>
		<if test="id!=null and id!= '' ">
			AND e.id =#{id}
		</if>
		and e.id in
		<foreach collection="list" index="index" item="item"
			separator="," open="(" close=")">
			#{item}
		</foreach>

		and (o.isDeleted is null OR o.isDeleted !=1)

	</select>
	<update id="updateBatch" parameterType="java.util.List">

		update driver
		<trim prefix="set" suffixOverrides=",">
			<trim prefix="permiCar = case" suffix="end,">
				<foreach collection="list" item="item" index="index">
					<if test="item.permicar != null">
						when id = #{item.id,jdbcType=VARCHAR} then
						#{item.permicar,jdbcType=VARCHAR}
					</if>
				</foreach>
			</trim>
			<trim prefix="state = case" suffix="end,">
				<foreach collection="list" item="item" index="index">
					<if test="item.state != null">
						when id = #{item.id,jdbcType=VARCHAR} then
						#{item.state,jdbcType=VARCHAR}
					</if>
				</foreach>
			</trim>
			<trim prefix="effectEndTime = case" suffix="end,">
				<foreach collection="list" item="item" index="index">
					<if test="item.effectendtime != null">
						when id = #{item.id,jdbcType=VARCHAR} then
						#{item.effectendtime,jdbcType=VARCHAR}
					</if>
				</foreach>
			</trim>
		</trim>

		where id in
		<foreach collection="list" index="index" item="item"
			separator="," open="(" close=")">
			#{item.id}
		</foreach>
	</update>

	<delete id="deleteBatch" parameterType="java.util.List">
		DELETE FROM driver where idcard in
		<foreach collection="list" index="index" item="item" open="("
			separator="," close=")">
			#{item}
		</foreach>

	</delete>

	<!--企业信息-信息记录 总数 -->
	<select id="getvehiCount" resultType="com.ccttic.entity.drivers.vo.VehicleCountVo"
		parameterType="com.ccttic.entity.drivers.vo.VehicleCountVo">
		SELECT
		e.id,
		e.etpNm,
		COUNT(v.id) AS vCount
		FROM
		ess_organization o
		LEFT
		JOIN
		ess_enterprise e ON o.id = e.org_id
		LEFT JOIN vehicle v ON
		e.id
		=
		v.mgrEnterpriseId
		LEFT JOIN vehi_danger vd ON v.id =
		vd.vehicle_id
		<choose>
			<when test="empType == 'SUPERMAN'">
				where 1=1
			</when>
			<otherwise>
				where e.id in
				<foreach collection="list" index="index" item="item" open="("
					separator="," close=")">
					#{item}
				</foreach>
			</otherwise>
		</choose>
		<if test="orgNm!=null and orgNm!='' ">
			and o.orgNm = #{orgNm}
		</if>
		<if test="etpNm!=null and etpNm!='' ">
			and e.etpNm like '%${etpNm}%'
		</if>
		<if test="vehiType!=null and vehiType!='' ">
			and v.vehiType = #{vehiType}
		</if>
		AND e.etpNm != ''
		AND o.isDeleted IS NULL
		OR o.isDeleted != 1
		GROUP BY
		e.etpNm
	</select>
	<!-- 企业信息-信息记录 报废数 -->
	<select id="getvehibCount" resultType="com.ccttic.entity.drivers.vo.VehicleCountVo"
		parameterType="com.ccttic.entity.drivers.vo.VehicleCountVo">
		SELECT
		e.etpNm,
		COUNT(vd.scrappedState) AS vCount
		FROM
		ess_organization o
		LEFT JOIN
		ess_enterprise e ON o.id = e.org_id
		LEFT
		JOIN vehicle v ON
		e.id
		=
		v.mgrEnterpriseId
		LEFT JOIN vehi_danger vd ON
		v.id =
		vd.vehicle_id
		<choose>
			<when test="empType == 'SUPERMAN'">
				where 1=1
			</when>
			<otherwise>
				where e.id in
				<foreach collection="list" index="index" item="item" open="("
					separator="," close=")">
					#{item}
				</foreach>
			</otherwise>
		</choose>
		<if test="orgNm!=null and orgNm!='' ">
			and o.orgNm = #{orgNm}
		</if>
		<if test="etpNm!=null and etpNm!='' ">
			and e.etpNm like '%${etpNm}%'
		</if>
		<if test="vehiType!=null and vehiType!='' ">
			and v.vehiType = #{vehiType}
		</if>
		and vd.scrappedState = 1
		AND e.etpNm != ''
		AND o.isDeleted IS NULL
		OR
		o.isDeleted != 1
		GROUP BY
		e.etpNm
	</select>
	<!-- 企业信息-信息记录 违法未处理 -->
	<select id="getvehiwCount" resultType="com.ccttic.entity.drivers.vo.VehicleCountVo"
		parameterType="com.ccttic.entity.drivers.vo.VehicleCountVo">
		SELECT
		e.etpNm,
		COUNT(vd.illicitState) AS vCount
		FROM
		ess_organization o
		LEFT JOIN
		ess_enterprise e ON o.id = e.org_id
		LEFT
		JOIN vehicle v ON
		e.id
		=
		v.mgrEnterpriseId
		LEFT JOIN vehi_danger vd ON
		v.id =
		vd.vehicle_id
		<choose>
			<when test="empType == 'SUPERMAN'">
				where 1=1
			</when>
			<otherwise>
				where e.id in
				<foreach collection="list" index="index" item="item" open="("
					separator="," close=")">
					#{item}
				</foreach>
			</otherwise>
		</choose>
		<if test="orgNm!=null and orgNm!='' ">
			and o.orgNm = #{orgNm}
		</if>
		<if test="etpNm!=null and etpNm!='' ">
			and e.etpNm like '%${etpNm}%'
		</if>
		<if test="vehiType!=null and vehiType!='' ">
			and v.vehiType = #{vehiType}
		</if>
		and vd.illicitState = 1
		AND e.etpNm != ''
		AND o.isDeleted IS NULL
		OR
		o.isDeleted != 1
		GROUP BY
		e.etpNm
	</select>

	<!-- 企业信息-信息记录 逾期 -->
	<select id="getvehiyCount" resultType="com.ccttic.entity.drivers.vo.VehicleCountVo"
		parameterType="com.ccttic.entity.drivers.vo.VehicleCountVo">
		SELECT
		e.etpNm,
		COUNT(vd.overdueExamineState) AS vCount
		FROM
		ess_organization o
		LEFT JOIN
		ess_enterprise e ON o.id = e.org_id
		LEFT
		JOIN vehicle v ON
		e.id =
		v.mgrEnterpriseId
		LEFT JOIN vehi_danger vd ON
		v.id =
		vd.vehicle_id
		<choose>
			<when test="empType == 'SUPERMAN'">
				where 1=1
			</when>
			<otherwise>
				where e.id in
				<foreach collection="list" index="index" item="item" open="("
					separator="," close=")">
					#{item}
				</foreach>
			</otherwise>
		</choose>
		<if test="orgNm!=null and orgNm!='' ">
			and o.orgNm = #{orgNm}
		</if>
		<if test="etpNm!=null and etpNm!='' ">
			and e.etpNm like '%${etpNm}%'
		</if>
		<if test="vehiType!=null and vehiType!='' ">
			and vd.vehiType = #{vehiType}
		</if>
		and vd.overdueExamineState = 1
		AND e.etpNm != ''
		AND o.isDeleted IS NULL
		OR o.isDeleted != 1
		GROUP BY
		e.etpNm
	</select>


</mapper>