<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ccttic.cqytjgpt.webapi.mapper.drivers.DriverMapper">
	<resultMap id="BaseResultMap" type="com.ccttic.entity.drivers.Driver">
		<id column="id" jdbcType="VARCHAR" property="id" />
		<result column="name" jdbcType="VARCHAR" property="name" />
		<result column="idcard" jdbcType="VARCHAR" property="idcard" />
		<result column="telphone" jdbcType="VARCHAR" property="telphone" />
		<result column="mobilephone" jdbcType="VARCHAR" property="mobilephone" />
		<result column="adress" jdbcType="VARCHAR" property="adress" />
		<result column="permiCar" jdbcType="VARCHAR" property="permicar" />
		<result column="firstReciveTime" jdbcType="VARCHAR" property="firstrecivetime" />
		<result column="mgrDepart" jdbcType="VARCHAR" property="mgrdepart" />
		<result column="mgrDepartAreaId" jdbcType="VARCHAR" property="mgrdepartareaid" />
		<result column="mgrEnterpriseId" jdbcType="VARCHAR" property="mgrenterpriseid" />
		<result column="nextExamineTime" jdbcType="VARCHAR" property="nextexaminetime" />
		<result column="effectStartTime" jdbcType="VARCHAR" property="effectstarttime" />
		<result column="effectEndTime" jdbcType="VARCHAR" property="effectendtime" />
		<result column="examineEffectEndTime" jdbcType="VARCHAR"
			property="examineeffectendtime" />
		<result column="scoreTotal" jdbcType="VARCHAR" property="scoretotal" />
		<result column="state" jdbcType="VARCHAR" property="state" />
		<result column="remark" jdbcType="VARCHAR" property="remark" />
		<result column="version" jdbcType="INTEGER" property="version" />
		<result column="isDelete" jdbcType="TINYINT" property="isdelete" />
		<result column="createTime" jdbcType="TIMESTAMP" property="createtime" />
		<result column="updateTime" jdbcType="TIMESTAMP" property="updatetime" />
		<result column="deleteTime" jdbcType="TIMESTAMP" property="deletetime" />
		<result column="createBy" jdbcType="VARCHAR" property="createby" />
		<result column="createDepCd" jdbcType="VARCHAR" property="createdepcd" />
		<result column="updateBy" jdbcType="VARCHAR" property="updateby" />
		<result column="updateDepCd" jdbcType="VARCHAR" property="updatedepcd" />
	</resultMap>
	<sql id="Base_Column_List">
		id, name, idcard, telphone, mobilephone, adress, permiCar,
		firstReciveTime, mgrDepart,
		mgrDepartAreaId, mgrEnterpriseId,
		nextExamineTime, effectStartTime, effectEndTime,
		examineEffectEndTime,
		scoreTotal, state, remark, version, isDelete,
		createTime, updateTime,
		deleteTime, createBy, createDepCd, updateBy, updateDepCd
	</sql>
	
	<select id="seDriverPage" resultType="com.ccttic.entity.drivers.vo.DriverVo"
		parameterType="java.util.Map">
		SELECT
		d.id,
		d.adress,
		a.areaNm,
		d.NAME,
		d.idcard,
		d.mobilephone,
		en.etpNm,
		d.permiCar,
		d.firstReciveTime,
		d.nextExamineTime,
		d.state,
		d.mgrDepart,
		d.telphone,
		d.scoreTotal,
		d.examineEffectEndTime,
		d.effectStartTime,
		d.effectEndTime
		FROM
		driver d
		LEFT JOIN ess_enterprise en ON
		d.mgrEnterpriseId = en.id
		LEFT JOIN ess_area a ON d.mgrDepartAreaId =
		a.id
		where 1 = 1
		<if test="etpNm!=null and etpNm!='' ">
			and en.etpNm = #{etpNm}
		</if>
		<if test="areaNm!=null and areaNm!='' ">
			and a.areaNm = #{areaNm}
		</if>
		<if test="name!=null and name!='' ">
			and d.name = #{name}
		</if>
		<if test="idcard!=null and idcard!='' ">
			and d.idcard = #{idcard}
		</if>
		<if test="permicar!=null and permicar!='' ">
			and d.permiCar = #{permicar}
		</if>
		<if test="id!=null and id!='' ">
			and d.id = #{id}
		</if>
		<if test="mobilephone!=null and mobilephone!='' ">
			and d.mobilephone = #{mobilephone}
		</if>
		<if test="fiString!=null and fiString!='' and laString!=null laString!='' ">
			and d.firstReciveTime BETWEEN #{fiString} and
			laStrin#{laString}
		</if>
		<if
			test="fistShString!=null and fistShString!='' and laShString!=null laShString!='' ">
			and d.fistShString BETWEEN #{fistShString} and
			#{laShString}
		</if>
		limit ${startRecord},${pageSize}
	</select>
	<select id="sePageCount" resultType="long">
		SELECT
		COUNT(d.id)
		FROM
		driver d
		LEFT JOIN ess_enterprise en ON
		d.mgrEnterpriseId = en.id
		LEFT JOIN ess_area a ON d.mgrDepartAreaId =
		a.id
		where 1 = 1
		<if test="etpNm!=null and etpNm!='' ">
			and en.etpNm = #{etpNm}
		</if>
		<if test="areaNm!=null and areaNm!='' ">
			and a.areaNm = #{areaNm}
		</if>
		<if test="name!=null and name!='' ">
			and d.name = #{name}
		</if>
		<if test="idcard!=null and idcard!='' ">
			and d.idcard = #{idcard}
		</if>
		<if test="permicar!=null and permicar!='' ">
			and d.permiCar = #{permicar}
		</if>
		<if test="id!=null and id!='' ">
			and d.id = #{id}
		</if>
		<if test="id!=null and id!='' ">
			and d.id = #{id}
		</if>
		<if test="mobilephone!=null and mobilephone!='' ">
			and d.mobilephone = #{mobilephone}
		</if>
		<if test="fiString!=null and fiString!='' and laString!=null laString!='' ">
			and d.firstReciveTime BETWEEN #{fiString} and
			laStrin#{laString}
		</if>
		<if
			test="fistShString!=null and fistShString!='' and laShString!=null laShString!='' ">
			and d.fistShString BETWEEN #{fistShString} and
			#{laShString}
		</if>
	</select>
	<!--驾驶人违法记录 -->
	<select id="seDrillicitByDriverId" parameterType="java.lang.String"
		resultType="com.ccttic.entity.drivers.vo.DriverillicitVo">
		SELECT
		d.`name`,
		a.areaNm,
		dl.illicitTime,
		dl.illicitAdress,
		dl.illicitScore,
		dl.illicitAmount
		<!-- 差处理部门 -->
		FROM
		driver d
		LEFT JOIN
		dr_illicit dl ON d.id = dl.driver_id
		LEFT JOIN
		ess_area a ON
		d.mgrDepartAreaId = a.id
		where d.id = #{driverid}

	</select>
      <!--驾驶人违法信息条件分页 -->
	<select id="seDr_illicitPages" resultType="com.ccttic.entity.drivers.vo.DriverillicitVo"
		parameterType="java.util.Map">
		SELECT
		d.id,
		d.`name`,
		a.areaNm,
		en.etpNm,
		dl.illicitTime,
		dl.illicitAdress,
		dl.illicitScore,
		dl.illicitAmount,
		dl.illicit #
		FROM
		driver d
		LEFT JOIN ess_enterprise en ON d.mgrEnterpriseId = en.id
		LEFT
		JOIN ess_area a ON d.mgrDepartAreaId = a.id
		LEFT JOIN dr_illicit dl ON
		d.id = dl.driver_id
		where 1 = 1
		<if test="driverid!=null and driverid!= '' ">
			d.id = #{driverid}
		</if>
		<if test="name!=null and name!='' ">
			and d.name = #{name}
		</if>
		<if test="etpNm!=null and etpNm!='' ">
			and en.etpNm = #{etpNm}
		</if>
		<if test="areaNm!=null and areaNm!='' ">
			and a.areaNm = #{areaNm}
		</if>
		<if test="illicitadress!=null and illicitadress!='' ">
			and dl.illicitadress = #{illicitadress}
		</if>
		<if test="illicit!=null and illicit!='' ">
			and dl.illicit = #{illicit}
		</if>
		limit ${startRecord},${pageSize}

	</select>
	<select id="selectAllDriver" resultType="com.ccttic.entity.drivers.Driver">
	select id,idcard from driver
	</select>

</mapper>