<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ccttic.cqytjgpt.webapi.mapper.post.EssPostMapper">
  <resultMap id="BaseResultMap" type="com.ccttic.entity.post.EssPost">
    <id column="id" jdbcType="VARCHAR" property="id" />
    <result column="org_id" jdbcType="VARCHAR" property="orgId" />
    <result column="postType" jdbcType="VARCHAR" property="posttype" />
    <result column="postCd" jdbcType="VARCHAR" property="postcd" />
    <result column="description" jdbcType="VARCHAR" property="description" />
    <result column="postNm" jdbcType="VARCHAR" property="postnm" />
    <result column="isDefault" jdbcType="BIT" property="isdefault" />
    <result column="version" jdbcType="INTEGER" property="version" />
    <result column="isDeleted" jdbcType="BIT" property="isdeleted" />
    <result column="createTime" jdbcType="TIMESTAMP" property="createtime" />
    <result column="updateTime" jdbcType="TIMESTAMP" property="updatetime" />
    <result column="deleteTime" jdbcType="TIMESTAMP" property="deletetime" />
    <result column="createBy" jdbcType="VARCHAR" property="createby" />
    <result column="createDepCd" jdbcType="VARCHAR" property="createdepcd" />
    <result column="updateBy" jdbcType="VARCHAR" property="updateby" />
    <result column="updateDepCd" jdbcType="VARCHAR" property="updatedepcd" />
  </resultMap>
  <select id="qryPostListCount" parameterType="java.util.Map" resultType="java.lang.Long">
	SELECT count(*) FROM ess_department depart,ess_organization org,ess_post post WHERE depart.org_id=org.id AND post.dep_id=depart.id AND post.isDeleted!=1

			<if test="posts != null and posts.size>0 ">
				and post.id in
				<foreach collection="posts" index="index" item="item"
					open="(" separator="," close=")">
					#{item.id}
				</foreach>
				</if>
				<if test="eptId != null and eptId != ''">
			and depart.ept_id =#{eptId}
				</if>
		<if test="postNm != null and postNm != ''">
			and postNm like '%${postNm}%'
		</if>
	
	</select>
	<select id="qryPostList" parameterType="java.util.Map" resultType="com.ccttic.entity.post.EssPostVo">
		SELECT post.id AS id,org.orgNm AS orgNm,depart.depNm AS depNm,post.postCd AS postCd,post.postNm AS postNm,post.description AS description FROM ess_department depart,ess_organization org,ess_post post WHERE depart.org_id=org.id AND post.dep_id=depart.id AND post.isDeleted!=1
		
			<if test="posts != null and posts.size>0 ">
				and post.id in
				<foreach collection="posts" index="index" item="item"
					open="(" separator="," close=")">
					#{item.id}
				</foreach>
				</if>
				<if test="eptId != null and eptId != ''">
			and depart.ept_id =#{eptId}
				</if>
		
		<if test="postNm != null and postNm != ''">
			and post.postNm like '%${postNm}%'
		</if>
		order by post.createTime DESC
		
		limit ${startRecord},${pageSize}
	</select>
	<select id="getAllOrg"  resultType="com.ccttic.entity.role.Organization">
		select * from ess_organization 	order by orgType ASC 
	</select>
	<select id="getDepartmentByOrg" parameterType="java.util.Map" resultType="com.ccttic.entity.role.Department">
		select * from ess_department 	where  1=1 
		<if test="orgid != null and orgid != ''">
			and org_id =#{orgid}
		</if>
	</select>
	<select id="getEmployeeByDep" parameterType="java.util.Map" resultType="com.ccttic.entity.employee.EssEmployeeVo">
		SELECT emp.empCd AS empcd,emp.empNm AS empnm,org.orgNm AS orgNm,depart.depNm AS depNm FROM ess_employee_dept dept,ess_employee emp,ess_organization org ,ess_department depart WHERE  1=1 
	AND  dept.emp_id=emp.empCd AND dept.dep_id =depart.id AND  org.orgCd=depart.org_id AND org.orgCd = #{orgid}
		<if test="orgid != null and orgid != ''">
			AND dept.dep_id==#{depid}
		</if>
	</select>
	<insert id="createpost"  parameterType="com.ccttic.entity.post.EssPostVo" >
	insert into ess_post (id,dep_id,postCd,postNm,description) value(#{id},#{depId},#{postcd},#{postnm},#{description})
	</insert>
	<insert id="relatedPostAndEmp"  parameterType="com.ccttic.entity.employee.EssEmployeePost" >
	insert into ess_employee_post (id,version,emp_id,post_id) value(#{id},#{version},#{empId},#{postId})
	</insert>
	<update id="updatepost"  parameterType="com.ccttic.entity.post.EssPost" >
	update set ess_post dep_id=#{depId},postCd=#{postcd},postNm=#{postnm},description=#{description} where  id=#{id}
	</update>
	<delete id="delEmpUnderPost" parameterType="java.lang.String">
	delete from ess_employee_post where post_id = #{postId}
	</delete>
	
	<select id="selectEmpUnderPost" parameterType="java.lang.String" resultType="com.ccttic.entity.employee.EssEmployee">
	SELECT emp.* FROM ess_employee emp,ess_employee_post post WHERE emp.id = post.emp_id AND post.post_id=#{id}
	</select>
	<update id="delpost"  parameterType="java.util.Map" >
	update set ess_post isDeleted=1 where  id=#{postId}
	</update>
		<select id="selectPostUnderdep"  parameterType="java.util.Map" resultType="com.ccttic.entity.post.EssPost">
	SELECT id AS id,postNm AS postnm FROM ess_post  WHERE dep_id=#{depid} 
		<if test="postNm != null and postNm != ''">
			AND postNm like '%${postNm}%'
		</if>
	</select>
	<select id="getAllPost" resultType="com.ccttic.entity.post.EssPost">
	select * from ess_post
	</select>
</mapper>