<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org/DTD Mapper 3.0" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ccttic.cqytjgpt.webapi.mapper.organization.OrganizationMapper">
	<resultMap type="com.ccttic.entity.role.Organization" id="Organization">
		<id property="id" column="id" javaType="java.lang.String"></id>
		<result property="orgCd" column="orgCd" javaType="java.lang.String"></result>
		<result property="orgNm" column="orgNm" javaType="java.lang.String"></result>
		<result property="shortNm" column="shortNm" javaType="java.lang.String"></result>
		<result property="remark" column="remark" javaType="java.lang.String"></result>
		<result property="areaCode" column="area_id" javaType="java.lang.String"></result>
		<result property="superOrgId" column="superOrg_id" javaType="java.lang.String"></result>
		<result property="superOrgCd" column="superOrgCd" javaType="java.lang.String"></result>
		<result property="superOrgNm" column="superOrgNm" javaType="java.lang.String"></result>
		<result property="superOrgType" column="superOrgType" javaType="java.lang.String"></result>
		<result property="orgType" column="orgType" javaType="java.lang.String"></result>
	</resultMap>
	<!-- 获取树头 -->
	<select id="getHeadOrg" resultMap="Organization" parameterType="java.util.Map">
		select org.id as id ,org.orgCd as orgCd, org.orgNm as orgNm, org.shortNm as shortNm,org.remark as remark,
			   org.area_id as areaCode,org.dispOrder as dispOrder,org.superOrg_id as superOrgId,org.orgType as orgType 
		 	from ess_organization org where (org.isDeleted is null or org.isDeleted = 0) and org.id=#{orgId}
	</select>
	<!-- 获取树头下拉框用 -->
	<select id="getHeadOrgList" resultMap="Organization">
		select org.id as id ,org.orgCd as orgCd, org.orgNm as orgNm, org.shortNm as shortNm,org.remark as remark,
			   org.area_id as areaCode,org.dispOrder as dispOrder,org.superOrg_id as superOrgId,org.orgType as orgType 
		 	from ess_organization org where (org.isDeleted is null or org.isDeleted = 0) and org.orgType='0'
	</select>
	<!-- 通过机构编码获取子机构(下级) -->
	<select id="findNextNode" parameterType="java.lang.String" resultMap="Organization">
		select org.id as id ,org.orgCd as orgCd, org.orgNm as orgNm, org.shortNm as shortNm,org.remark as remark,
			org.dispOrder as dispOrder,org.superOrg_id as superOrgId,parentOrg.orgCd as superOrgCd,
			parentOrg.orgNm as superOrgNm,parentOrg.orgType as superOrgType,org.orgType as orgType 
			from ess_organization org left join ess_organization parentOrg on org.superOrg_id = parentOrg.id 
			where (org.isDeleted is null or org.isDeleted = 0) and parentOrg.orgCd=#{orgCd} 
			order by org.dispOrder asc
	</select>

	<!-- 通过机构编码获取该机构信息 -->
	<select id="findOrgByOrgCd" parameterType="java.lang.String" resultType="com.ccttic.entity.role.OrgEmpCombine">
		select org.id,org.orgCd,org.orgNm,org.shortNm,org.remark,org.orgType,org.area_id as areaId,org.superOrg_id as superOrgId,org.admin_empid as adminEmpid,
			 emp.account,emp.password,emp.empNm,emp.empCd,emp.empNo,emp.duty,emp.empGender,emp.mobile
			from ess_organization org LEFT JOIN ess_employee emp ON emp.id=org.admin_empid
			where (org.isDeleted is null or org.isDeleted = 0) and org.orgCd=#{orgCd}
	</select>
	<!-- 通过企业id获取该机构信息 -->
	<select id="findOrgByEptId" parameterType="java.lang.String" resultMap="Organization">
		SELECT org.* FROM ess_organization org,ess_enterprise ept WHERE org.id=ept.org_id AND ept.id= #{id}
	</select>
	<!-- 创建组织机构-->
	<insert id="createOrg" parameterType="com.ccttic.entity.role.Organization">
		insert into ess_organization(id,orgCd,orgNm,shortNm,remark,area_id,dispOrder,orgType) values 
			(#{org.id},#{org.orgCd},#{org.orgNm},#{org.shortNm},#{org.remark},#{org.areaCode},#{org.dispOrder},#{org.orgType})
	</insert>

	<!-- 创建子组织机构-->
	<insert id="createChildOrg" parameterType="com.ccttic.entity.role.Organization">
		insert into ess_organization(id,orgCd,orgNm,shortNm,remark,area_id,dispOrder,superOrg_id,orgType) values 
			(#{org.id},#{org.orgCd},#{org.orgNm},#{org.shortNm},#{org.remark},#{org.areaCode},#{org.dispOrder},#{org.superOrgId},#{org.orgType})
	</insert>

	<!-- 修改组织机构 -->
	<update id="editOrg" parameterType="com.ccttic.entity.role.Organization">
		update ess_organization set  
			<if test="org.orgNm != null and org.orgNm != ''">
				orgNm = #{org.orgNm},
			</if>
			<if test="org.shortNm != null and org.shortNm != ''">
				shortNm = #{org.shortNm},
			</if>
			<if test="org.remark != null and org.remark != ''">
				remark = #{org.remark},
			</if>
			<if test="org.areaCode != null and org.areaCode != ''">
				areaCode = #{org.areaCode},
			</if>
			<if test="org.dispOrder != null and org.dispOrder != ''">
				dispOrder = #{org.dispOrder},
			</if>
			<if test="org.orgType != null and org.orgType != ''">
				orgType = #{org.orgType}
			</if>
		where orgCd=#{org.orgCd}
	</update>

	<!-- 删除组织机构 -->
	<update id="removeOrg" parameterType="java.lang.String">
		update ess_organization set isDeleted = 1,deleteTime=now() where orgCd=#{orgCd}
	</update>

	<!-- 获取行政区域编码 -->
	<select id="getArea" resultType="com.ccttic.entity.role.Area">
		select id,areaCd,areaNm,shortNm,remark from ess_area area where (area.isDeleted is null or area.isDeleted = 0) 
	</select>

	
	<!-- 获取所有组织id -->
	<select id="getAllOrg" parameterType="java.lang.String" resultType="com.ccttic.entity.role.Organization">
		select org.id as id ,org.orgCd as orgCd, org.orgNm as orgNm, org.shortNm as shortNm,org.remark as remark,
			   org.area_id as areaCode,org.dispOrder as dispOrder,org.superOrg_id as superOrgId,org.orgType as orgType
			    from ess_organization org  where org.isDeleted is null or org.isDeleted = 0 ORDER BY org.orgType ASC
	</select>
	
	<!-- 通过第二层的组织获得最底层组织 -->
	<select id="getLastOrg" parameterType="java.lang.String" resultType="com.ccttic.entity.role.Organization">
		select org.id as id ,org.orgCd as orgCd, org.orgNm as orgNm, org.shortNm as shortNm,org.remark as remark,
			   org.area_id as areaCode,org.dispOrder as dispOrder,org.superOrg_id as superOrgId,org.orgType as orgType
			    from ess_organization org where org.superOrg_id =#{id} and org.isDeleted is null or org.isDeleted = 0 ORDER BY  orgType ASC
	</select>
	
	
	<!-- 获取所有组织id -->
	<select id="getAllLastOrg" parameterType="java.lang.String" resultType="com.ccttic.entity.role.Organization">
		select org.id as id ,org.orgCd as orgCd, org.orgNm as orgNm, org.shortNm as shortNm,org.remark as remark,
			   org.area_id as areaCode,org.dispOrder as dispOrder,org.superOrg_id as superOrgId,org.orgType as orgType
			    from ess_organization org where org.orgType = "2" and (org.isDeleted is null or org.isDeleted = 0) ORDER BY  org.orgType ASC
	</select>
	<!-- 根据adminid获取组织信息 -->
	<select id="getOrgByAdminId" parameterType="java.lang.String" resultType="com.ccttic.entity.role.Organization">
		select org.id as id ,org.orgCd as orgCd, org.orgNm as orgNm, org.shortNm as shortNm,org.remark as remark,
			   org.area_id as areaCode,org.dispOrder as dispOrder,org.superOrg_id as superOrgId,org.orgType as orgType
			    from ess_organization org where org.admin_empid = #{id}  and (org.isDeleted is null or org.isDeleted = 0)
	</select>
	
	<select id="getAllDepart" parameterType="java.lang.String" resultType="com.ccttic.entity.role.Department">
	     select * from ess_department 
	     <if test="orgId != null and orgId !='' ">
	     	where org_id =#{orgId}
	     </if>
	</select>
	<select id="getDepartByEntCd" parameterType="java.lang.String"  resultType="com.ccttic.entity.role.Department">
		select * from ess_department where etpCd = #{etpCd}
	</select>
	<select id="getOrgByEmpId" parameterType="java.lang.String" resultType="com.ccttic.entity.role.Organization">
			SELECT org.id as id ,org.orgCd as orgCd, org.orgNm as orgNm, org.shortNm as shortNm,org.remark as remark,
			   org.area_id as areaCode,org.dispOrder as dispOrder,org.superOrg_id as superOrgId,org.orgType as orgType
			    FROM ess_organization org ,ess_department department,ess_employee_dept dept,ess_employee employee WHERE org.id = department.org_id AND department.id = dept.dep_id AND dept.emp_id = employee.id AND employee.id =#{id}
	</select>
	
	<!-- 创建部门-->
	<insert id="addMent" parameterType="com.ccttic.entity.role.Department">
		insert into ess_department(id,org_id,ept_id,depNm,depShortNm,depCd,depDuty,remark,dispOrder) values 
			(#{ment.id},#{ment.orgId},#{ment.eptId},#{ment.depNm},#{ment.depShortNm},#{ment.depCd},#{ment.depDuty},#{ment.remark},#{ment.dispOrder})
	</insert>
	<select id="getAccountOrgId" parameterType="java.lang.String" resultType="com.ccttic.entity.enterprise.vo.AccoutVo">
		SELECT  dep.org_id AS orgId,dep.ept_id as eptId  FROM ess_employee emp LEFT JOIN ess_employee_dept emp_dept ON emp.id=emp_dept.emp_id
		LEFT JOIN ess_department dep ON emp_dept.dep_id=dep.id  where
				emp.account=#{account}
	</select>
	<select id="getOrgIdByAreaId" parameterType="java.lang.String" resultType="com.ccttic.entity.role.Organization">
		SELECT  org.id as id ,org.orgCd as orgCd, org.orgNm as orgNm, org.shortNm as shortNm,org.remark as remark,
			   org.area_id as areaCode,org.dispOrder as dispOrder,org.superOrg_id as superOrgId,org.orgType as orgType  FROM ess_organization org where org.area_id =#{areaId}
	</select>

</mapper>