<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org/DTD Mapper 3.0" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ccttic.cqytjgpt.webapi.mapper.role.RoleMapper">
	<!-- 自定义返回结果集 -->
	<resultMap id="roleMap" type="com.ccttic.entity.role.Role">
		<id property="id" column="id" javaType="java.lang.String"></id>
		<result property="roleCd" column="roleCd" javaType="java.lang.String"></result>
		<result property="roleNm" column="roleNm" javaType="java.lang.String"></result>
		<result property="description" column="description" javaType="java.lang.String"></result>
		<result property="isDefault" column="isDefault" javaType="java.lang.Boolean"></result>
		<result property="empIds" column="empIds" javaType="java.lang.String"></result>
		<result property="empCds" column="empCds" javaType="java.lang.String"></result>
		<result property="empNms" column="empNms" javaType="java.lang.String"></result>
	</resultMap>
	<!-- 根据条件获取角色信息 -->
	<select id="pagerRole" parameterType="java.util.Map" resultMap="roleMap">
		select * from ess_role where 1=1
		<if test="roleCd != null">
			and roleCd like '%${roleCd}%'
		</if>
		<if test="roleNm != null">
			and roleNm like '%${roleNm}%'
		</if>
		<if test="isDefault != null">
			and isDefault = ${isDefault}
		</if>
		order by roleCd asc limit ${startRecord},${pageSize}
	</select>
	<!-- 根据条件获取角色信息总记录数 -->
	<select id="countRole" parameterType="java.util.Map" resultType="long">
		select count(*) from ess_role where 1=1
		<if test="roleCd != null">
			and roleCd like '%${roleCd}%'
		</if>
		<if test="roleNm != null">
			and roleNm like '%${roleNm}%'
		</if>
		<if test="isDefault != null">
			and isDefault = ${isDefault}
		</if>
	</select>
	<!-- 编辑角色 -->
	<insert id="addRole" parameterType="com.ccttic.entity.role.Role">
		insert into
		ess_role(id,roleCd,roleNm,description,isDefault,version) values
		(#{role.id},#{role.roleCd},#{role.roleNm},#{role.description},#{role.isDefault},#{role.version})
	</insert>
	<!-- 通过id获取角色信息 -->
	<select id="findRoleById" parameterType="java.lang.String"
		resultMap="roleMap">
		select * from ess_role where id=#{id}
	</select>
	<!-- 修改角色 -->
	<update id="modifyRole" parameterType="com.ccttic.entity.role.Role">
		update ess_role set
		roleCd=#{role.roleCd},roleNm=#{role.roleNm}
		,description=#{role.description},version=#{role.version} where
		id=#{role.id}
	</update>
	<!-- 通过ID删除角色信息 -->
	<delete id="deleteRole" parameterType="java.lang.String">
		delete from ess_role where
		id=#{id}
	</delete>
	<!-- 通过编码获取角色 -->
	<select id="findRoleByRoleCd" parameterType="java.lang.String"
		resultMap="roleMap">
		select * from ess_role where roleCd=#{roleCd}
	</select>

	<!-- 增加角色关联员工 -->
	<insert id="addRoleEmp" parameterType="java.util.List">
		INSERT INTO ess_employee_role (id, version, emp_id,
		role_id)
		VALUES
		<foreach collection="list" item="item" index="index"
			separator=",">
			(#{item.id},#{item.version},#{item.emp_id},#{item.role_id})
		</foreach>

	</insert>
	<!-- 添加角色 -->
	<insert id="addRoless" parameterType="com.ccttic.entity.role.Roles">
		insert into
		ess_role(id,roleCd,roleNm,description) values
		(#{id},#{roleCd},#{roleNm},#{description})
	</insert>


	<!--分页查询 -->
	<select id="seRoleAll" parameterType="java.util.Map"
		resultType="com.ccttic.entity.role.Roles">
		SELECT
		r.id AS roleId,
		r.roleCd,
		r.roleNm,
		r.description,
		GROUP_CONCAT(e.empNm, e.account) AS empNms,
		GROUP_CONCAT(e.id) AS
		emp_id

		FROM
		ess_role r
		LEFT JOIN ess_employee_role re ON r.id =
		re.role_id
		LEFT JOIN
		ess_employee e ON re.emp_id = e.id
		WHERE 1 = 1
		<if test="roleNm!=null and roleNm!='' ">
			and r.roleNm like '%${roleNm}%'
		</if>
		<if test="roleId!=null and roleId!='' ">
			and r.id = #{roleId}
		</if>

		GROUP BY
		r.id limit ${startRecord},${pageSize}
	</select>

	<!-- 根据条件查询总记录数目 -->
	<select id="seRoleCount" parameterType="java.util.Map"
		resultType="long">

		select count(id) from ess_role

		where 1 = 1

		<if test="roleNm!=null and roleNm!='' ">

			and roleNm like '%${roleNm}%'
		</if>
		<if test="roleId!=null and roleId!='' ">
			and id = #{roleId}
		</if>

	</select>

	<!-- 根据ID修改角色 -->

	<update id="updateRoleById" parameterType="com.ccttic.entity.role.Roles">

		UPDATE ess_role SET
		roleCd =
		#{roleCd},roleNm=#{roleNm},description=#{description} WHERE id
		= #{id}

	</update>
	<!-- 删除角色关联公员工根据ID -->
	<delete id="deleteEssRoleById" parameterType="java.lang.String">

		DELETE FROM
		ess_employee_role WHERE role_id = #{role_id}

	</delete>
     <!--员工ID获取角色  -->
	<select id="seRoleByEmpId" resultType="com.ccttic.entity.role.Role_Emp"
		parameterType="java.lang.String">

		SELECT role_id from ess_employee_role WHERE emp_id =
		#{emp_id}

	</select>

     


</mapper>	