<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org/DTD Mapper 3.0" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ccttic.cqytjgpt.webapi.mapper.vehicle.VehiIllicitMapper">

	<!-- 根据企业编码获取车辆违法信息条数 -->
	<select id="qryVehiIllicitListCount" parameterType="java.util.Map" resultType="java.lang.Integer">
		select count(1) from vehi_illlcit cit LEFT JOIN vehicle ve ON cit.vehicle_id=ve.id	
						WHERE ve.mgrEnterpriseId=#{entId}
	</select>
	
	<!-- 根据条件获取车辆的违法信息 -->
	<select id="qryVehiIllicitList" parameterType="java.util.Map" resultType="com.ccttic.entity.role.VehiIllicit">
		SELECT cit.id,cit.vehiNo,cit.vehiNoType,cit.nature,cit.ownership,cit.owner,cit.adress,cit.mgrDepart,cit.mgrDepartAreaId,
			   cit.vehicle_id as vehicleId,cit.illicitTime,cit.illicitScore,cit.illicitAmount,cit.illicitAdress,cit.illicit,
			   cit.illicitDesc,cit.pickDepartment,cit.pickDepartmentDesc,cit.state,cit.remark,ess.etpNm
				FROM vehi_illlcit cit LEFT JOIN vehicle ve ON cit.vehicle_id=ve.id
				LEFT JOIN ess_enterprise ess ON ve.mgrEnterpriseId=ess.id
				WHERE ess.id=#{mgrEnterpriseId}
				<if test="mgrDepartAreaId != null and mgrDepartAreaId != ''">
					and cit.mgrDepartAreaId = #{mgrDepartAreaId}
				</if>
				<if test="vehiNo != null and vehiNo != ''">
					and cit.vehiNo = #{vehiNo}
				</if>
				<if test="etpNm != null and etpNm != ''">
					and ess.etpNm = #{etpNm}
				</if>
				<if test="illicit != null and illicit != ''">
					and cit.illicit = #{illicit}
				</if>
				<if test="state != null and state != ''">
					and cit.state = #{state}
				</if>
				<if test="pickDepartmentDesc != null and pickDepartmentDesc != ''">
					and cit.pickDepartmentDesc = #{pickDepartmentDesc}
				</if>
				<if test="vehiNoType != null and vehiNoType != ''">
					and cit.vehiNoType = #{vehiNoType}
				</if>
				<if test="startTime != null and startTime != ''">
					and left(cit.illicitTime,10) &gt;= #{startTime}
				</if>
				<if test="endTime != null and endTime != ''">
					and left(cit.illicitTime,10) &lt;= #{endTime}
				</if>
				order by cit.illicitTime desc
			
				limit ${startRecord},${pageSize}
	</select>
	
	
	
	<!-- 根据id获取指定车辆的违法信息 -->
	<select id="qryOneVehiIllicit" parameterType="java.util.Map" resultType="com.ccttic.entity.role.VehiIllicit">
		SELECT cit.id,cit.vehiNo,cit.vehiNoType,cit.nature,cit.ownership,cit.owner,cit.adress,cit.mgrDepart,cit.mgrDepartAreaId,
			   cit.vehicle_id as vehicleId,cit.illicitTime,cit.illicitScore,cit.illicitAmount,cit.illicitAdress,cit.illicit,
			   cit.illicitDesc,cit.pickDepartment,cit.pickDepartmentDesc,cit.state,cit.remark,ess.etpNm
				FROM (
						SELECT * FROM vehi_illlcit  WHERE id=#{id}
					 ) cit  
				LEFT JOIN vehicle ve ON cit.vehicle_id=ve.id
				LEFT JOIN ess_enterprise ess ON ve.mgrEnterpriseId=ess.id
	</select>
	
	
	
</mapper>