<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org/DTD Mapper 3.0" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ccttic.cqytjgpt.webapi.mapper.vehicle.VehicleMapper">
	<resultMap type="com.ccttic.entity.role.Vehicle" id="Vehicle">
		<id property="id" column="id" javaType="java.lang.String"></id>
		<result property="vehiNo" column="vehiNo" javaType="java.lang.String"></result>
		<result property="vehiNoType" column="vehiNoType" javaType="java.lang.String"></result>
		<result property="vehiType" column="vehiType" javaType="java.lang.String"></result>
		<result property="nature" column="nature" javaType="java.lang.String"></result>
		<result property="ownership" column="ownership" javaType="java.lang.String"></result>
		<result property="owner" column="owner" javaType="java.lang.String"></result>
		<result property="telphone" column="telphone" javaType="java.lang.String"></result>
		<result property="mobilephone" column="mobilephone" javaType="java.lang.String"></result>
		<result property="adress" column="adress" javaType="java.lang.String"></result>
		<result property="permitCar" column="permitCar" javaType="java.lang.String"></result>
		<result property="firstReciveTime" column="firstReciveTime" javaType="java.lang.String"></result>
		<result property="mgrDepart" column="mgrDepart" javaType="java.lang.String"></result>
		<result property="mgrDepartAreaId" column="mgrDepartAreaId" javaType="java.lang.String"></result>
		<result property="mgrEnterpriseId" column="mgrEnterpriseId" javaType="java.lang.String"></result>
		<result property="nextExamineTime" column="nextExamineTime" javaType="java.lang.String"></result>
		<result property="effectStartTime" column="effectStartTime" javaType="java.lang.String"></result>
		<result property="effectEndTime" column="effectEndTime" javaType="java.lang.String"></result>
		<result property="examineEffectEndTime" column="examineEffectEndTime" javaType="java.lang.String"></result>
		<result property="scoreTotal" column="scoreTotal" javaType="java.lang.String"></result>
		<result property="state" column="state" javaType="java.lang.String"></result>
		<result property="remark" column="remark" javaType="java.lang.String"></result>
	</resultMap>
	<!-- 新增车牌号和车辆类型 -->
	<insert id="saveVehicle" parameterType="java.util.Map">
		insert into vehicle(id,vehiNo,vehiNoType,vehiType,mgrEnterpriseId) values 
			(#{id},#{vehiNo},#{vehiNoType},#{carTypeName},#{entId})
	</insert>
	
	<!--  -->
	<update id="modifVehicle" parameterType="com.ccttic.entity.role.Vehicle" >
		update vehicle set
		<if test="nature != null and nature != ''">
			nature = #{nature},
		</if>
		<if test="ownership != null and ownership != ''">
			ownership = #{ownership},
		</if>
		<if test="owner != null and owner != ''">
			owner = #{owner},
		</if>
		<if test="telphone != null and telphone != ''">
			telphone = #{telphone},
		</if>
		<if test="mobilephone != null and mobilephone != ''">
			mobilephone = #{mobilephone},
		</if>
		<if test="adress != null and adress != ''">
			adress = #{adress},
		</if>
		<if test="permitCar != null and permitCar != ''">
			permitCar = #{permitCar},
		</if>
		<if test="firstReciveTime != null and firstReciveTime != ''">
			firstReciveTime = #{firstReciveTime},
		</if>
		<if test="mgrDepart != null and mgrDepart != ''">
			mgrDepart = #{mgrDepart},
		</if>
		<if test="mgrDepartAreaId != null and mgrDepartAreaId != ''">
			mgrDepartAreaId = #{mgrDepartAreaId},
		</if>
		<if test="mgrEnterpriseId != null and mgrEnterpriseId != ''">
			mgrEnterpriseId = #{mgrEnterpriseId},
		</if>
		<if test="nextExamineTime != null and nextExamineTime != ''">
			nextExamineTime = #{nextExamineTime},
		</if>
		<if test="effectStartTime != null and effectStartTime != ''">
			effectStartTime = #{effectStartTime},
		</if>
		<if test="effectEndTime != null and effectEndTime != ''">
			effectEndTime = #{effectEndTime},
		</if>
		<if test="examineEffectEndTime != null and examineEffectEndTime != ''">
			examineEffectEndTime = #{examineEffectEndTime},
		</if>
		<if test="scoreTotal != null and scoreTotal != ''">
			scoreTotal = #{scoreTotal},
		</if>
		<if test="state != null and state != ''">
			state = #{state},
		</if>
		<if test="remark != null and remark != ''">
			remark = #{remark},
		</if>
		vehiNo=#{vehiNo}
		where vehiNo=#{vehiNo}
	
	</update>
	
	
	
	<!-- 根据车牌号获取车辆 -->
	<select id="qryOneVehiNo" parameterType="java.lang.String" resultMap="Vehicle">
		SELECT * FROM vehicle WHERE vehiNo =#{vehiNo}
	</select>
	<!-- 根据企业id获取fenced -->
	<select id="getfenceIdByEssid" parameterType="java.lang.String" resultType="java.lang.String">
		SELECT area.areaCd FROM ess_enterprise ent LEFT JOIN ess_organization org ON ent.org_id=org.id LEFT JOIN ess_area area ON area.id=org.area_id WHERE ent.id=#{id}
	</select>
	
	<!-- 根据企业编码获取车辆基础信息 -->
	<select id="qryVehicleList" parameterType="java.util.Map" resultMap="Vehicle">
		SELECT ve.id,ve.vehiNo,
			 CASE ve.vehiNoType WHEN '01' THEN '大型车' WHEN '02' THEN '小型车' ELSE '' END vehiNoTypeText,ve.vehiNoType,
			 CASE ve.vehiType WHEN '01' THEN '大型车' WHEN '02' THEN '小型车' ELSE '' END vehiTypeText,ve.vehiType,
			 ve.nature,ve.ownership,ve.owner,ve.telphone,ve.mobilephone,
			 ve.adress,ve.permitCar,ve.firstReciveTime,ve.mgrDepart,ve.mgrDepartAreaId,ve.mgrEnterpriseId,
			 ve.nextExamineTime,ve.effectStartTime,ve.effectEndTime,ve.examineEffectEndTime,ve.scoreTotal,
			 CASE ve.state WHEN 'G' THEN '违法未处理' WHEN 'A' THEN '正常' WHEN 'O' THEN '锁定' WHEN 'N' THEN '事故逃逸'
			 WHEN 'M' THEN '达到报废标准' WHEN 'L' THEN '扣留' WHEN 'K' THEN '查封' WHEN 'J' THEN '嫌疑车' 
			 WHEN 'D' THEN '停驶' WHEN 'E' THEN '注销' WHEN 'H' THEN '海关监管' WHEN 'C' THEN '被盗抢' 
			 WHEN 'B' THEN '转出' WHEN 'P' THEN '达到报废标准公告牌证作废' WHEN 'Q' THEN '逾期未检验' 
			 ELSE '其他' END  state,area.areaNm,ise.etpNm 
			 FROM ( SELECT * FROM vehicle
			 <choose>
			 	<when test="empType == 'SUPERMAN'" >
			 		WHERE 1=1
			 	</when>
			 	<otherwise>
			 		WHERE mgrEnterpriseId in 
				<foreach collection="list" index="index" item="item" open="(" separator="," close=")">  
			        #{item}  
			    </foreach>  
			 	</otherwise>
			 </choose>
			<if test="mgrDepartAreaId != null and mgrDepartAreaId != ''">
				and mgrDepartAreaId = #{mgrDepartAreaId}
			</if>
			<if test="etpNm != null and etpNm != ''">
				and etpNm = #{etpNm}
			</if>
			<if test="vehiNo != null and vehiNo != ''">
				and vehiNo = #{vehiNo}
			</if>
			<if test="vehiNoType != null and vehiNoType != ''">
				and vehiNoType = #{vehiNoType}
			</if>
			<if test="vehiType != null and vehiType != ''">
				and vehiType = #{vehiType}
			</if>
			<if test="state != null and state != ''">
				and state = #{state}
			</if>
			<if test="effectStartTime != null and effectStartTime != ''">
				and (left(examineEffectEndTime,10) &gt;= #{effectStartTime})
			</if>
			<if test="effectEndTime != null and effectEndTime != ''">
				and (left(examineEffectEndTime,10) &lt;= #{effectEndTime})
			</if>
			<if test="startTime != null and startTime != ''">
				and left(firstReciveTime,10) &gt;= #{startTime}
			</if>
			<if test="endTime != null and endTime != ''">
				and left(firstReciveTime,10) &lt;= #{endTime}
			</if>
			)ve 
			LEFT JOIN ess_area area ON ve.mgrDepartAreaId=area.id 
			LEFT JOIN ess_enterprise ise ON ve.mgrEnterpriseId=ise.id 
			
			order by ve.createTime desc
			
			limit ${startRecord},${pageSize}
	</select>
	
	<!-- 根据企业编码获取车辆基础信息条数 -->
	<select id="qryVehicleListCount" parameterType="java.util.Map" resultType="java.lang.Integer">
		select count(1) from vehicle
		 <choose>
			 	<when test="empType == 'SUPERMAN'" >
			 		WHERE 1=1
			 	</when>
			 	<otherwise>
			 	 where 1=1 and mgrEnterpriseId in 
					<foreach collection="list" index="index" item="item" open="(" separator="," close=")">  
			        #{item}  
			    	</foreach>  
			 	</otherwise>
			 </choose>
		
		
			<if test="mgrDepartAreaId != null and mgrDepartAreaId != ''">
				and mgrDepartAreaId = #{mgrDepartAreaId}
			</if>
			<if test="etpNm != null and etpNm != ''">
				and etpNm = #{etpNm}
			</if>
			<if test="vehiNo != null and vehiNo != ''">
				and vehiNo = #{vehiNo}
			</if>
			<if test="vehiNoType != null and vehiNoType != ''">
				and vehiNoType = #{vehiNoType}
			</if>
			<if test="vehiType != null and vehiType != ''">
				and vehiType = #{vehiType}
			</if>
			<if test="state != null and state != ''">
				and state = #{state}
			</if>
			<if test="effectStartTime != null and effectStartTime != ''">
				and left(examineEffectEndTime,10) &gt;= #{effectStartTime}
			</if>
			<if test="effectEndTime != null and effectEndTime != ''">
				and left(examineEffectEndTime,10) &lt;= #{effectEndTime}
			</if>
			<if test="startTime != null and startTime != ''">
				and left(firstReciveTime,10) &gt;= #{startTime}
			</if>
			<if test="endTime != null and endTime != ''">
				and left(firstReciveTime,10) &lt;= #{endTime}
			</if>
	</select>
	
	<!-- 根据id获取指定车辆基础详情信息 -->
	<select id="qryOneVehicle" parameterType="java.util.Map" resultMap="Vehicle">
		SELECT ve.id,ve.vehiNo,
			CASE ve.vehiNoType WHEN '01' THEN '大型车' WHEN '02' THEN '小型车' ELSE '' END vehiNoTypeText,ve.vehiNoType,
			 CASE ve.vehiType WHEN '01' THEN '大型车' WHEN '02' THEN '小型车' ELSE '' END vehiTypeText,ve.vehiType,
			 ve.nature,ve.ownership,ve.owner,ve.telphone,ve.mobilephone,
			 ve.adress,ve.permitCar,ve.firstReciveTime,ve.mgrDepart,ve.mgrDepartAreaId,ve.mgrEnterpriseId,
			 ve.nextExamineTime,ve.effectStartTime,ve.effectEndTime,ve.examineEffectEndTime,ve.scoreTotal,
			 CASE ve.state WHEN 'G' THEN '违法未处理' WHEN 'A' THEN '正常' WHEN 'O' THEN '锁定' WHEN 'N' THEN '事故逃逸'
			 WHEN 'M' THEN '达到报废标准' WHEN 'L' THEN '扣留' WHEN 'K' THEN '查封' WHEN 'J' THEN '嫌疑车' 
			 WHEN 'D' THEN '停驶' WHEN 'E' THEN '注销' WHEN 'H' THEN '海关监管' WHEN 'C' THEN '被盗抢' 
			 WHEN 'B' THEN '转出' WHEN 'P' THEN '达到报废标准公告牌证作废' WHEN 'Q' THEN '逾期未检验' 
			 ELSE '其他' END  state
			 ,area.areaNm,ise.etpNm 
			 FROM (
				SELECT * FROM vehicle  WHERE vehiNo=#{vehiNo}
			)ve 
			LEFT JOIN ess_area area ON ve.mgrDepartAreaId=area.id 
			LEFT JOIN ess_enterprise ise ON ve.mgrEnterpriseId=ise.id 
	</select>
	
	<!-- 根据id获取指定车辆的违法信息 -->
	<select id="qryVehiIllicitList" parameterType="java.util.Map" resultType="com.ccttic.entity.role.VehiIllicit">
		SELECT cit.id,cit.vehiNo,
			   CASE cit.vehiNoType WHEN '01' THEN '大型车' WHEN '02' THEN '小型车' ELSE '' END vehiNoTypeText,cit.vehiNoType,
			   cit.nature,cit.ownership,cit.owner,cit.adress,cit.mgrDepart,cit.mgrDepartAreaId,
			   cit.vehicle_id as vehicleId,cit.illicitTime,cit.illicitScore,cit.illicitAmount,cit.illicitAdress,cit.illicit,
			   cit.illicitDesc,cit.pickDepartment,cit.pickDepartmentDesc,
			   CASE	cit.state WHEN 'G' THEN '违法未处理' WHEN 'A' THEN '正常' WHEN 'O' THEN '锁定' WHEN 'N' THEN '事故逃逸'
			 WHEN 'M' THEN '达到报废标准' WHEN 'L' THEN '扣留' WHEN 'K' THEN '查封' WHEN 'J' THEN '嫌疑车' 
			 WHEN 'D' THEN '停驶' WHEN 'E' THEN '注销' WHEN 'H' THEN '海关监管' WHEN 'C' THEN '被盗抢' 
			 WHEN 'B' THEN '转出' WHEN 'P' THEN '达到报废标准公告牌证作废' WHEN 'Q' THEN '逾期未检验' 
			 ELSE '其他' END  state
			  ,cit.remark,ess.etpNm
		FROM 
		(
			SELECT * FROM vehi_illicit  WHERE vehicle_id=#{id}
		) cit
		LEFT JOIN ess_area area ON cit.mgrDepartAreaId=area.id
		LEFT JOIN vehicle ve ON cit.vehicle_id=ve.id
		LEFT JOIN ess_enterprise ess ON ve.mgrEnterpriseId=ess.id
		ORDER BY illicitTime DESC
		limit ${startRecord},${pageSize}
	</select>
	
	<!-- 根据id获取指定车辆的违法信息条数-->
	<select id="qryVehiIllicitListCount" parameterType="java.util.Map" resultType="java.lang.Integer">
		SELECT COUNT(1)
		FROM 
		(
			SELECT * FROM vehi_illicit  WHERE vehicle_id=#{id}
		) cit
		LEFT JOIN ess_area area ON cit.mgrDepartAreaId=area.id
		LEFT JOIN vehicle ve ON cit.vehicle_id=ve.id
		LEFT JOIN ess_enterprise ess ON ve.mgrEnterpriseId=ess.id
		
	</select>
	 <!-- 一对多查询关联  -->
     <resultMap type="com.ccttic.entity.role.vo.VehicleIllegal" id="slist">
         <!-- 实体类属性对应数据库的主键字段，不然主键会查不到 -->
         <id property="id" column="id"/>
         <!-- 用collection标签 ,也是实体类属性要对应数据库字段-->
         <collection property="vehiIllicits" column="id"
         select="com.ccttic.cqytjgpt.webapi.mapper.vehicle.VehicleMapper.selectByVehicleId">
         </collection>    
     </resultMap>

	<!-- 根据学习类型查询学习文档信息 -->
	<select id="getAllCar" 	resultMap="slist">
		select * from vehicle where isDeleted = 0 or isDeleted is null
	</select>
	<select id="selectByVehicleId" parameterType="java.lang.String" resultType="com.ccttic.entity.illegal.VehiIllicit">
  	select * from vehi_illicit where vehicle_id = #{vehicleId} and (isDeleted = 0 or isDeleted is null)
  </select>
	
</mapper>