<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ccttic.mapper.DrDangerMapper">
  <resultMap id="BaseResultMap" type="com.ccttic.entity.DrDanger">
    <id column="id" jdbcType="VARCHAR" property="id" />
    <result column="driverName" jdbcType="VARCHAR" property="drivername" />
    <result column="driverIdcard" jdbcType="VARCHAR" property="driveridcard" />
    <result column="dangerType" jdbcType="VARCHAR" property="dangertype" />
    <result column="ownerGener" jdbcType="VARCHAR" property="ownergener" />
    <result column="ownerOrgId" jdbcType="VARCHAR" property="ownerorgid" />
    <result column="dangerTime" jdbcType="VARCHAR" property="dangertime" />
    <result column="correctTime" jdbcType="VARCHAR" property="correcttime" />
    <result column="correctState" jdbcType="VARCHAR" property="correctstate" />
    <result column="dangerDesc" jdbcType="VARCHAR" property="dangerdesc" />
    <result column="driver_id" jdbcType="VARCHAR" property="driverId" />
    <result column="illicitState" jdbcType="INTEGER" property="illicitstate" />
    <result column="failureState" jdbcType="INTEGER" property="failurestate" />
    <result column="overdueProofState" jdbcType="INTEGER" property="overdueproofstate" />
    <result column="overdueExamineState" jdbcType="INTEGER" property="overdueexaminestate" />
    <result column="fullStudyState" jdbcType="INTEGER" property="fullstudystate" />
    <result column="remark" jdbcType="VARCHAR" property="remark" />
    <result column="version" jdbcType="INTEGER" property="version" />
    <result column="isDeleted" jdbcType="BIT" property="isdeleted" />
    <result column="createTime" jdbcType="TIMESTAMP" property="createtime" />
    <result column="updateTime" jdbcType="TIMESTAMP" property="updatetime" />
    <result column="deleteTime" jdbcType="TIMESTAMP" property="deletetime" />
    <result column="createBy" jdbcType="VARCHAR" property="createby" />
    <result column="createDepCd" jdbcType="VARCHAR" property="createdepcd" />
    <result column="updateBy" jdbcType="VARCHAR" property="updateby" />
    <result column="updateDepCd" jdbcType="VARCHAR" property="updatedepcd" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from dr_danger
    where id = #{id,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.ccttic.entity.DrDanger">
    insert into dr_danger (id, driverName, driverIdcard, 
      dangerType, ownerGener, ownerOrgId, 
      dangerTime, correctTime, correctState, 
      dangerDesc, driver_id, illicitState, 
      failureState, overdueProofState, overdueExamineState, 
      fullStudyState, remark, version, 
      isDeleted, createTime, updateTime, 
      deleteTime, createBy, createDepCd, 
      updateBy, updateDepCd)
    values (#{id,jdbcType=VARCHAR}, #{drivername,jdbcType=VARCHAR}, #{driveridcard,jdbcType=VARCHAR}, 
      #{dangertype,jdbcType=VARCHAR}, #{ownergener,jdbcType=VARCHAR}, #{ownerorgid,jdbcType=VARCHAR}, 
      #{dangertime,jdbcType=VARCHAR}, #{correcttime,jdbcType=VARCHAR}, #{correctstate,jdbcType=VARCHAR}, 
      #{dangerdesc,jdbcType=VARCHAR}, #{driverId,jdbcType=VARCHAR}, #{illicitstate,jdbcType=INTEGER}, 
      #{failurestate,jdbcType=INTEGER}, #{overdueproofstate,jdbcType=INTEGER}, #{overdueexaminestate,jdbcType=INTEGER}, 
      #{fullstudystate,jdbcType=INTEGER}, #{remark,jdbcType=VARCHAR}, #{version,jdbcType=INTEGER}, 
      #{isdeleted,jdbcType=BIT}, #{createtime,jdbcType=TIMESTAMP}, #{updatetime,jdbcType=TIMESTAMP}, 
      #{deletetime,jdbcType=TIMESTAMP}, #{createby,jdbcType=VARCHAR}, #{createdepcd,jdbcType=VARCHAR}, 
      #{updateby,jdbcType=VARCHAR}, #{updatedepcd,jdbcType=VARCHAR})
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.ccttic.entity.DrDanger">
    update dr_danger
    set driverName = #{drivername,jdbcType=VARCHAR},
      driverIdcard = #{driveridcard,jdbcType=VARCHAR},
      dangerType = #{dangertype,jdbcType=VARCHAR},
      ownerGener = #{ownergener,jdbcType=VARCHAR},
      ownerOrgId = #{ownerorgid,jdbcType=VARCHAR},
      dangerTime = #{dangertime,jdbcType=VARCHAR},
      correctTime = #{correcttime,jdbcType=VARCHAR},
      correctState = #{correctstate,jdbcType=VARCHAR},
      dangerDesc = #{dangerdesc,jdbcType=VARCHAR},
      driver_id = #{driverId,jdbcType=VARCHAR},
      illicitState = #{illicitstate,jdbcType=INTEGER},
      failureState = #{failurestate,jdbcType=INTEGER},
      overdueProofState = #{overdueproofstate,jdbcType=INTEGER},
      overdueExamineState = #{overdueexaminestate,jdbcType=INTEGER},
      fullStudyState = #{fullstudystate,jdbcType=INTEGER},
      remark = #{remark,jdbcType=VARCHAR},
      version = #{version,jdbcType=INTEGER},
      isDeleted = #{isdeleted,jdbcType=BIT},
      createTime = #{createtime,jdbcType=TIMESTAMP},
      updateTime = #{updatetime,jdbcType=TIMESTAMP},
      deleteTime = #{deletetime,jdbcType=TIMESTAMP},
      createBy = #{createby,jdbcType=VARCHAR},
      createDepCd = #{createdepcd,jdbcType=VARCHAR},
      updateBy = #{updateby,jdbcType=VARCHAR},
      updateDepCd = #{updatedepcd,jdbcType=VARCHAR}
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select id, driverName, driverIdcard, dangerType, ownerGener, ownerOrgId, dangerTime, 
    correctTime, correctState, dangerDesc, driver_id, illicitState, failureState, overdueProofState, 
    overdueExamineState, fullStudyState, remark, version, isDeleted, createTime, updateTime, 
    deleteTime, createBy, createDepCd, updateBy, updateDepCd
    from dr_danger
    where id = #{id,jdbcType=VARCHAR}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select id, driverName, driverIdcard, dangerType, ownerGener, ownerOrgId, dangerTime, 
    correctTime, correctState, dangerDesc, driver_id, illicitState, failureState, overdueProofState, 
    overdueExamineState, fullStudyState, remark, version, isDeleted, createTime, updateTime, 
    deleteTime, createBy, createDepCd, updateBy, updateDepCd
    from dr_danger
  </select>
</mapper>