<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org/DTD Mapper 3.0" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ccttic.auth.mapper.CategoryMapper">
<!-- 自定义返回结果集 -->
   <resultMap id="categoryMap" type="com.ccttic.auth.model.Category">
		<id property="id" column="id" javaType="java.lang.String"></id>
		<result property="categoryCd" column="categoryCd" javaType="java.lang.String"></result>
		<result property="attrCd" column="attrCd" javaType="java.lang.String"></result>
		<result property="categoryNm" column="categoryNm" javaType="java.lang.String"></result>
		<result property="categorydesc" column="categorydesc" javaType="java.lang.String"></result>
	</resultMap>
	<resultMap id="categoryAttrMap" type="com.ccttic.auth.model.CategoryAttr">
		<id property="id" column="id" javaType="java.lang.String"></id>
		<result property="categoryCd" column="categoryCd" javaType="java.lang.String"></result>
		<result property="attrCd" column="attrCd" javaType="java.lang.String"></result>
		<result property="attrNm" column="attrNm" javaType="java.lang.String"></result>
		<result property="actualval" column="actualval" javaType="java.lang.String"></result>
	</resultMap>
	<insert id="addCategory" parameterType="com.ccttic.auth.model.Category">
		insert into param_category_attr(id,categoryCd,attrCd,attrNm,actualval) values 
			(#{id},#{categoryCd},#{attrCd},#{categoryNm},#{categorydesc})
	</insert>
	<update id="updateCategory" parameterType="com.ccttic.auth.model.Category">
		update param_category_attr set attrCd=#{attrCd},attrNm=#{categoryNm},actualval=#{categorydesc}
			where id=#{id}
	</update>
	<delete id="deleteCategory" parameterType="java.lang.String">
		delete from param_category_attr where id=#{id}
	</delete>
	<select id="findCategoryById" parameterType="java.lang.String" resultMap="categoryMap">
		select * from param_category_attr where id=#{id}
	</select>
	<select id="getFirstCategorys" parameterType="java.lang.String" resultMap="categoryMap">
		SELECT id,categoryCd,"ROOT" attrCd,categoryNm,categoryDesc categorydesc FROM param_category 
			UNION
		SELECT id,attrCd categoryCd,categoryCd attrCd,attrNm categoryNm,actualval categorydesc 
			FROM param_category_attr ORDER BY attrCd,categoryCd
	</select>
	<select id="getSecondCategorys" parameterType="java.lang.String" resultMap="categoryMap">
		select id,attrCd categoryCd,categoryCd attrCd,attrNm categoryNm,actualval categorydesc 
		from param_category_attr where categoryCd=#{categoryCd} order by attrCd
	</select>
	<select id="findCategoryAttrsByCd" parameterType="com.ccttic.auth.model.CategoryAttr" resultMap="categoryAttrMap">
		select * from param_category_attr where categorycd=#{categoryCd} order by attrCd 
	</select>
	<select id="findCategoryAttrNmByCd" parameterType="com.ccttic.auth.model.CategoryAttr" resultMap="categoryAttrMap">
		select * from param_category_attr where categorycd=#{categoryCd} and attrcd=#{attrCd}
	</select>
</mapper>	