<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org/DTD Mapper 3.0" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ccttic.cqytjgpt.mapper.ess.ModPasswdMapper">
	<!-- 自定义返回结果集 -->
	<resultMap id="empMap" type="Employee">
		<id property="id" column="id" javaType="java.lang.String"></id>
		<result property="empCd" column="empCd" javaType="java.lang.String"></result>
		<result property="empNm" column="empNm" javaType="java.lang.String"></result>
		<result property="password" column="password" javaType="java.lang.String"></result>
	</resultMap>
	<!-- 密码设置-->
	<select id="qryPasswd" parameterType="java.lang.String" resultMap="empMap">
		select id,empCd,empNm,password from ess_employee 
		where empCd = #{empCd} and isDeleted='0'
	</select>
	<update id="updPasswd" parameterType="com.ccttic.cqytjgpt.beans.ess.Employee">
		update ess_employee set password=#{password} 
		where empCd = #{empCd} and isDeleted='0'
	</update>
</mapper>	