<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org/DTD Mapper 3.0" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ccttic.cqytjgpt.mapper.ess.PostMapper">
	<!-- 自定义返回结果集 -->
	<resultMap id="postMap" type="Post">
		<id property="id" column="id" javaType="java.lang.String"></id>
		<result property="postCd" column="postCd" javaType="java.lang.String"></result>
		<result property="postNm" column="postNm" javaType="java.lang.String"></result>
		<result property="postType" column="postType" javaType="java.lang.String"></result>
		<result property="description" column="description" javaType="java.lang.String"></result>
		<result property="isDefault" column="isDefault" javaType="java.lang.Boolean"></result>
		<result property="empIds" column="empIds" javaType="java.lang.String"></result>
		<result property="empCds" column="empCds" javaType="java.lang.String"></result>
		<result property="empNms" column="empNms" javaType="java.lang.String"></result>
	</resultMap>
	<!-- 根据条件获取岗位信息 -->
	<select id="pagerPost" parameterType="java.util.Map" resultMap="postMap">
		select * from ess_post where 1=1
		<if test="postCd != null">
			and postCd like '%${postCd}%'
		</if>
		<if test="postNm != null">
			and postNm like '%${postNm}%'
		</if>
		<if test="isDefault != null">
			and isDefault = ${isDefault}
		</if>
		order by postCd asc	limit ${startRecord},${pageSize}
	</select>
	<!-- 根据条件获取岗位信息总记录数-->
	<select id="countPost" parameterType="java.util.Map" resultType="long">
		select count(*) from ess_post where 1=1
		<if test="postCd != null">
			and postCd like '%${postCd}%'
		</if>
		<if test="postNm != null">
			and postNm like '%${postNm}%'
		</if>
		<if test="isDefault != null">
			and isDefault = ${isDefault}
		</if>
	</select>
	<!--添加岗位 -->
	<insert id="addPost" parameterType="com.ccttic.cqytjgpt.beans.ess.Post">
		insert into ess_post(id,postCd,postNm,description,isDefault,postType,version) values 
		(#{post.id},#{post.postCd},#{post.postNm},#{post.description},#{post.isDefault},#{post.postType},#{post.version})
	</insert>
	<!--通过ID获取岗位信息 -->
	<select id="findPostById" parameterType="java.lang.String" resultMap="postMap">
		 select * from ess_post where id=#{id}
	</select>
	<!-- 修改岗位 -->
	<update id="modifyPost" parameterType="com.ccttic.cqytjgpt.beans.ess.Post">
		 update ess_post set postCd=#{post.postCd},postNm=#{post.postNm},description=#{post.description},version=#{post.version} where id=#{post.id} 
	</update>
	<!-- 通过ID删除岗位信息-->
	<delete id="deletePost" parameterType="java.lang.String">
		delete from ess_post where id=#{id}
	</delete>
	<!-- 取得所有岗位（用于下拉显示) -->
	<select id="findAllPost" resultMap="postMap">
		 select * from ess_post order by postCd asc
	</select>
	<!-- 通过编号获取岗位信息 -->
	<select id="findPostByCd" parameterType="java.lang.String" resultMap="postMap">
		 select * from ess_post where postCd=#{postCd}
	</select>
	<!-- 通过编号获取岗位信息 -->
	<select id="findPostByPostType" parameterType="java.lang.String" resultMap="postMap">
		 select * from ess_post where postType=#{postType}
	</select>
</mapper>	