<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org/DTD Mapper 3.0" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ccttic.auth.mapper.PostEmpMapper">
	<!-- 自定义返回结果集 -->
	<resultMap id="postEmpMap" type="com.ccttic.auth.model.PostEmp">
		<id property="id" column="id" javaType="java.lang.String"></id>
		<result property="postCd" column="postCd" javaType="java.lang.String"></result>
		<result property="postNm" column="postNm" javaType="java.lang.String"></result>
		<result property="postId" column="postId" javaType="java.lang.String"></result>
		<result property="empCd" column="empCd" javaType="java.lang.String"></result>
		<result property="empNm" column="empNm" javaType="java.lang.String"></result>
		<result property="empId" column="empId" javaType="java.lang.String"></result>
		<result property="version" column="version" javaType="java.lang.Integer"></result>
	</resultMap>
	<!-- 通过岗位ID获取岗位人员信息 -->
	<select id="findEmpsByPostId" parameterType="java.lang.String" resultMap="postEmpMap">
		select emppost.id as id,emp.id as empId,emp.empCd as empCd,emp.empNm as empNm, post.id as postId,post.postCd as postCd, post.postNm as postNm, emppost.version as version 
		from ess_employee emp left join ess_employee_post emppost on emp.id = emppost.emp_id 
		left join ess_post post on emppost.post_id = post.id where post.id = #{postId}  
	</select>
	<!-- 通过人员ID获取岗位人员信息 -->
	<select id="findPostsByEmpId" parameterType="java.lang.String" resultMap="postEmpMap">
		select emppost.id as id,emp.id as empId,emp.empCd as empCd,emp.empNm as empNm, post.id as postId,post.postCd as postCd, post.postNm as postNm, emppost.version as version 
		from ess_post post left join ess_employee_post emppost on post.id = emppost.post_id 
		left join ess_employee emp on emppost.emp_id = emp.id where emp.id = #{empId}  
	</select>
	<!-- 通过人员ID，岗位ID获取岗位人员信息 -->
	<select id="findPostEmpByCondition" parameterType="java.lang.String" resultType="long">
		select count(*) from ess_employee_post ep where ep.emp_id = #{empId} and ep.post_id  = #{postId}
	</select>
	<!-- 过岗位ID删除岗位人员关联关系-->
	<delete id="deleteEmpPostByPostId" parameterType="java.lang.String">
		delete from ess_employee_post where post_id=#{postId}
	</delete>
	<!-- 通过人员ID删除岗位人员关联关系-->
	<delete id="deleteEmpPostByEmpId" parameterType="java.lang.String">
		delete from ess_employee_post where emp_id=#{empId}
	</delete>
	<!-- 插入岗位人员信息 -->
	<insert id="addPostEmp" parameterType="com.ccttic.auth.model.PostEmp">
		insert into ess_employee_post (id, version,emp_id,post_id) values (#{postEmp.id},#{postEmp.version},#{postEmp.empId},#{postEmp.postId})
	</insert>
	<!-- 移除指定人员指定岗位-->
	<delete id="removeEmpPost" parameterType="java.lang.String">
		delete from ess_employee_post where emp_id=#{empId} and post_id=#{postId}
	</delete>
</mapper>	