<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper
	namespace="com.ccttic.cqytjgpt.enterpriseapi.mapper.enterprise.EssEnterpriseMapper">
	<resultMap id="BaseResultMap" type="com.ccttic.entity.enterprise.EssEnterprise">
		<id column="id" jdbcType="VARCHAR" property="id" />
		<result column="org_id" jdbcType="VARCHAR" property="orgId" />
		<result column="etpCd" jdbcType="VARCHAR" property="etpcd" />
		<result column="etpNm" jdbcType="VARCHAR" property="etpnm" />
		<result column="etpshortNm" jdbcType="VARCHAR" property="etpshortnm" />
		<result column="etpLawer" jdbcType="VARCHAR" property="etplawer" />
		<result column="lawerTel" jdbcType="VARCHAR" property="lawertel" />
		<result column="etpSafer" jdbcType="VARCHAR" property="etpsafer" />
		<result column="saferTel" jdbcType="VARCHAR" property="safertel" />
		<result column="admin_empid" jdbcType="VARCHAR" property="adminEmpid" />
		<result column="ownerTraffic" jdbcType="VARCHAR" property="ownertraffic" />
		<result column="ownerTransport" jdbcType="VARCHAR" property="ownertransport" />
		<result column="etpAdress" jdbcType="VARCHAR" property="etpadress" />
		<result column="etpRegAdress" jdbcType="VARCHAR" property="etpregadress" />
		<result column="etpTel" jdbcType="VARCHAR" property="etptel" />
		<result column="attachment_id" jdbcType="VARCHAR" property="attachmentId" />
		<result column="state" jdbcType="INTEGER" property="state" />
		<result column="remark" jdbcType="VARCHAR" property="remark" />
		<result column="dispOrder" jdbcType="INTEGER" property="disporder" />
		<result column="version" jdbcType="INTEGER" property="version" />
		<result column="isDeleted" jdbcType="BIT" property="isdeleted" />
		<result column="createTime" jdbcType="TIMESTAMP" property="createtime" />
		<result column="updateTime" jdbcType="TIMESTAMP" property="updatetime" />
		<result column="deleteTime" jdbcType="TIMESTAMP" property="deletetime" />
		<result column="createBy" jdbcType="VARCHAR" property="createby" />
		<result column="createDepCd" jdbcType="VARCHAR" property="createdepcd" />
		<result column="updateBy" jdbcType="VARCHAR" property="updateby" />
		<result column="updateDepCd" jdbcType="VARCHAR" property="updatedepcd" />
		<result column="etpType" jdbcType="VARCHAR" property="etpType" />
		<result column="issueCardDate" jdbcType="VARCHAR" property="issueCardDate" />
		<result column="roadTransport" jdbcType="VARCHAR" property="roadTransport" />
	</resultMap>
	<sql id="Example_Where_Clause">
		<where>
			<foreach collection="oredCriteria" item="criteria" separator="or">
				<if test="criteria.valid">
					<trim prefix="(" prefixOverrides="and" suffix=")">
						<foreach collection="criteria.criteria" item="criterion">
							<choose>
								<when test="criterion.noValue">
									and ${criterion.condition}
								</when>
								<when test="criterion.singleValue">
									and ${criterion.condition} #{criterion.value}
								</when>
								<when test="criterion.betweenValue">
									and ${criterion.condition} #{criterion.value}
									and
									#{criterion.secondValue}
								</when>
								<when test="criterion.listValue">
									and ${criterion.condition}
									<foreach close=")" collection="criterion.value" item="listItem"
										open="(" separator=",">
										#{listItem}
									</foreach>
								</when>
							</choose>
						</foreach>
					</trim>
				</if>
			</foreach>
		</where>
	</sql>
	<sql id="Update_By_Example_Where_Clause">
		<where>
			<foreach collection="example.oredCriteria" item="criteria"
				separator="or">
				<if test="criteria.valid">
					<trim prefix="(" prefixOverrides="and" suffix=")">
						<foreach collection="criteria.criteria" item="criterion">
							<choose>
								<when test="criterion.noValue">
									and ${criterion.condition}
								</when>
								<when test="criterion.singleValue">
									and ${criterion.condition} #{criterion.value}
								</when>
								<when test="criterion.betweenValue">
									and ${criterion.condition} #{criterion.value}
									and
									#{criterion.secondValue}
								</when>
								<when test="criterion.listValue">
									and ${criterion.condition}
									<foreach close=")" collection="criterion.value" item="listItem"
										open="(" separator=",">
										#{listItem}
									</foreach>
								</when>
							</choose>
						</foreach>
					</trim>
				</if>
			</foreach>
		</where>
	</sql>
	<sql id="Base_Column_List">
		id, org_id, etpCd, etpNm, etpshortNm, etpLawer, lawerTel,
		etpSafer,
		saferTel, admin_empid,
		ownerTraffic, ownerTransport,
		etpAdress, etpRegAdress, etpTel, attachment_id,
		state,
		remark,
		dispOrder, version, isDeleted, createTime, updateTime, deleteTime,
		createBy,
		createDepCd, updateBy, updateDepCd
	</sql>
	<select id="selectByExample" parameterType="com.ccttic.entity.enterprise.EssEnterpriseExample"
		resultMap="BaseResultMap">
		select
		<if test="distinct">
			distinct
		</if>
		<include refid="Base_Column_List" />
		from ess_enterprise
		<if test="_parameter != null">
			<include refid="Example_Where_Clause" />
		</if>
		<if test="orderByClause != null">
			order by ${orderByClause}
		</if>
	</select>
	<select id="selectByPrimaryKey" parameterType="java.lang.String"
		resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List" />
		from ess_enterprise
		where id = #{id,jdbcType=VARCHAR}
	</select>
	<delete id="deleteByPrimaryKey" parameterType="java.lang.String">
		delete from
		ess_enterprise
		where id = #{id,jdbcType=VARCHAR}
	</delete>
	<delete id="deleteByExample" parameterType="com.ccttic.entity.enterprise.EssEnterpriseExample">
		delete from ess_enterprise
		<if test="_parameter != null">
			<include refid="Example_Where_Clause" />
		</if>
	</delete>
	<insert id="insert" parameterType="com.ccttic.entity.enterprise.EssEnterprise">
		insert into ess_enterprise
		(id, org_id, etpCd,
		etpNm, etpshortNm, etpLawer,
		lawerTel, etpSafer,
		saferTel,
		admin_empid, ownerTraffic, ownerTransport,
		etpAdress,
		etpRegAdress, etpTel,
		attachment_id, state, remark,
		dispOrder, version,
		isDeleted,
		createTime, updateTime, deleteTime,
		createBy, createDepCd,
		updateBy,
		updateDepCd)
		values (#{id,jdbcType=VARCHAR},
		#{orgId,jdbcType=VARCHAR},
		#{etpcd,jdbcType=VARCHAR},
		#{etpnm,jdbcType=VARCHAR}, #{etpshortnm,jdbcType=VARCHAR},
		#{etplawer,jdbcType=VARCHAR},
		#{lawertel,jdbcType=VARCHAR},
		#{etpsafer,jdbcType=VARCHAR},
		#{safertel,jdbcType=VARCHAR},
		#{adminEmpid,jdbcType=VARCHAR}, #{ownertraffic,jdbcType=VARCHAR},
		#{ownertransport,jdbcType=VARCHAR},
		#{etpadress,jdbcType=VARCHAR},
		#{etpregadress,jdbcType=VARCHAR},
		#{etptel,jdbcType=VARCHAR},
		#{attachmentId,jdbcType=VARCHAR}, #{state,jdbcType=INTEGER},
		#{remark,jdbcType=VARCHAR},
		#{disporder,jdbcType=INTEGER},
		#{version,jdbcType=INTEGER},
		#{isdeleted,jdbcType=BIT},
		#{createtime,jdbcType=TIMESTAMP}, #{updatetime,jdbcType=TIMESTAMP},
		#{deletetime,jdbcType=TIMESTAMP},
		#{createby,jdbcType=VARCHAR},
		#{createdepcd,jdbcType=VARCHAR},
		#{updateby,jdbcType=VARCHAR},
		#{updatedepcd,jdbcType=VARCHAR})
	</insert>
	<insert id="insertSelective" parameterType="com.ccttic.entity.enterprise.EssEnterprise">
		insert into
		ess_enterprise
		(id,attachment_id,admin_empid,etpNm,ownerTransport,etpAdress,etpTel,etpSafer,saferTel,etpLawer,lawerTel,org_id,etpRegAdress,createtime)
		VALUES(#{id},#{attachmentId},#{adminEmpid},#{etpnm},#{ownertransport},#{etpadress},#{etptel},#{etpsafer},#{safertel},#{etplawer},#{lawertel},#{orgId},#{etpregadress},#{createtime})

	</insert>
	<select id="countByExample" parameterType="com.ccttic.entity.enterprise.EssEnterpriseExample"
		resultType="java.lang.Long">
		select count(*) from ess_enterprise
		<if test="_parameter != null">
			<include refid="Example_Where_Clause" />
		</if>
	</select>
	<update id="updateByExampleSelective" parameterType="map">
		update ess_enterprise
		<set>
			<if test="record.id != null">
				id = #{record.id,jdbcType=VARCHAR},
			</if>
			<if test="record.orgId != null">
				org_id = #{record.orgId,jdbcType=VARCHAR},
			</if>
			<if test="record.etpcd != null">
				etpCd = #{record.etpcd,jdbcType=VARCHAR},
			</if>
			<if test="record.etpnm != null">
				etpNm = #{record.etpnm,jdbcType=VARCHAR},
			</if>
			<if test="record.etpshortnm != null">
				etpshortNm = #{record.etpshortnm,jdbcType=VARCHAR},
			</if>
			<if test="record.etplawer != null">
				etpLawer = #{record.etplawer,jdbcType=VARCHAR},
			</if>
			<if test="record.lawertel != null">
				lawerTel = #{record.lawertel,jdbcType=VARCHAR},
			</if>
			<if test="record.etpsafer != null">
				etpSafer = #{record.etpsafer,jdbcType=VARCHAR},
			</if>
			<if test="record.safertel != null">
				saferTel = #{record.safertel,jdbcType=VARCHAR},
			</if>
			<if test="record.adminEmpid != null">
				admin_empid = #{record.adminEmpid,jdbcType=VARCHAR},
			</if>
			<if test="record.ownertraffic != null">
				ownerTraffic = #{record.ownertraffic,jdbcType=VARCHAR},
			</if>
			<if test="record.ownertransport != null">
				ownerTransport =
				#{record.ownertransport,jdbcType=VARCHAR},
			</if>
			<if test="record.etpadress != null">
				etpAdress = #{record.etpadress,jdbcType=VARCHAR},
			</if>
			<if test="record.etpregadress != null">
				etpRegAdress = #{record.etpregadress,jdbcType=VARCHAR},
			</if>
			<if test="record.etptel != null">
				etpTel = #{record.etptel,jdbcType=VARCHAR},
			</if>
			<if test="record.attachmentId != null">
				attachment_id = #{record.attachmentId,jdbcType=VARCHAR},
			</if>
			<if test="record.state != null">
				state = #{record.state,jdbcType=INTEGER},
			</if>
			<if test="record.remark != null">
				remark = #{record.remark,jdbcType=VARCHAR},
			</if>
			<if test="record.disporder != null">
				dispOrder = #{record.disporder,jdbcType=INTEGER},
			</if>
			<if test="record.version != null">
				version = #{record.version,jdbcType=INTEGER},
			</if>
			<if test="record.isdeleted != null">
				isDeleted = #{record.isdeleted,jdbcType=BIT},
			</if>
			<if test="record.createtime != null">
				createTime = #{record.createtime,jdbcType=TIMESTAMP},
			</if>
			<if test="record.updatetime != null">
				updateTime = #{record.updatetime,jdbcType=TIMESTAMP},
			</if>
			<if test="record.deletetime != null">
				deleteTime = #{record.deletetime,jdbcType=TIMESTAMP},
			</if>
			<if test="record.createby != null">
				createBy = #{record.createby,jdbcType=VARCHAR},
			</if>
			<if test="record.createdepcd != null">
				createDepCd = #{record.createdepcd,jdbcType=VARCHAR},
			</if>
			<if test="record.updateby != null">
				updateBy = #{record.updateby,jdbcType=VARCHAR},
			</if>
			<if test="record.updatedepcd != null">
				updateDepCd = #{record.updatedepcd,jdbcType=VARCHAR},
			</if>
		</set>
		<if test="_parameter != null">
			<include refid="Update_By_Example_Where_Clause" />
		</if>
	</update>
	<update id="updateByExample" parameterType="map">
		update ess_enterprise
		set id = #{record.id,jdbcType=VARCHAR},
		org_id =
		#{record.orgId,jdbcType=VARCHAR},
		etpCd =
		#{record.etpcd,jdbcType=VARCHAR},
		etpNm =
		#{record.etpnm,jdbcType=VARCHAR},
		etpshortNm =
		#{record.etpshortnm,jdbcType=VARCHAR},
		etpLawer =
		#{record.etplawer,jdbcType=VARCHAR},
		lawerTel =
		#{record.lawertel,jdbcType=VARCHAR},
		etpSafer =
		#{record.etpsafer,jdbcType=VARCHAR},
		saferTel =
		#{record.safertel,jdbcType=VARCHAR},
		admin_empid =
		#{record.adminEmpid,jdbcType=VARCHAR},
		ownerTraffic =
		#{record.ownertraffic,jdbcType=VARCHAR},
		ownerTransport =
		#{record.ownertransport,jdbcType=VARCHAR},
		etpAdress =
		#{record.etpadress,jdbcType=VARCHAR},
		etpRegAdress =
		#{record.etpregadress,jdbcType=VARCHAR},
		etpTel =
		#{record.etptel,jdbcType=VARCHAR},
		attachment_id =
		#{record.attachmentId,jdbcType=VARCHAR},
		state =
		#{record.state,jdbcType=INTEGER},
		remark =
		#{record.remark,jdbcType=VARCHAR},
		dispOrder =
		#{record.disporder,jdbcType=INTEGER},
		version =
		#{record.version,jdbcType=INTEGER},
		isDeleted =
		#{record.isdeleted,jdbcType=BIT},
		createTime =
		#{record.createtime,jdbcType=TIMESTAMP},
		updateTime =
		#{record.updatetime,jdbcType=TIMESTAMP},
		deleteTime =
		#{record.deletetime,jdbcType=TIMESTAMP},
		createBy =
		#{record.createby,jdbcType=VARCHAR},
		createDepCd =
		#{record.createdepcd,jdbcType=VARCHAR},
		updateBy =
		#{record.updateby,jdbcType=VARCHAR},
		updateDepCd =
		#{record.updatedepcd,jdbcType=VARCHAR}
		<if test="_parameter != null">
			<include refid="Update_By_Example_Where_Clause" />
		</if>
	</update>
	<update id="updateByPrimaryKeySelective" parameterType="com.ccttic.entity.enterprise.EssEnterprise">
		update ess_enterprise
		<set>
			<if test="orgId != null">
				org_id = #{orgId,jdbcType=VARCHAR},
			</if>
			<if test="etpcd != null">
				etpCd = #{etpcd,jdbcType=VARCHAR},
			</if>
			<if test="etpnm != null">
				etpNm = #{etpnm,jdbcType=VARCHAR},
			</if>
			<if test="etpshortnm != null">
				etpshortNm = #{etpshortnm,jdbcType=VARCHAR},
			</if>
			<if test="etplawer != null">
				etpLawer = #{etplawer,jdbcType=VARCHAR},
			</if>
			<if test="lawertel != null">
				lawerTel = #{lawertel,jdbcType=VARCHAR},
			</if>
			<if test="etpsafer != null">
				etpSafer = #{etpsafer,jdbcType=VARCHAR},
			</if>
			<if test="safertel != null">
				saferTel = #{safertel,jdbcType=VARCHAR},
			</if>
			<if test="adminEmpid != null">
				admin_empid = #{adminEmpid,jdbcType=VARCHAR},
			</if>
			<if test="ownertraffic != null">
				ownerTraffic = #{ownertraffic,jdbcType=VARCHAR},
			</if>
			<if test="ownertransport != null">
				ownerTransport = #{ownertransport,jdbcType=VARCHAR},
			</if>
			<if test="etpadress != null">
				etpAdress = #{etpadress,jdbcType=VARCHAR},
			</if>
			<if test="etpregadress != null">
				etpRegAdress = #{etpregadress,jdbcType=VARCHAR},
			</if>
			<if test="etptel != null">
				etpTel = #{etptel,jdbcType=VARCHAR},
			</if>
			<if test="attachmentId != null">
				attachment_id = #{attachmentId,jdbcType=VARCHAR},
			</if>
			<if test="state != null">
				state = #{state,jdbcType=INTEGER},
			</if>
			<if test="remark != null">
				remark = #{remark,jdbcType=VARCHAR},
			</if>
			<if test="disporder != null">
				dispOrder = #{disporder,jdbcType=INTEGER},
			</if>
			<if test="version != null">
				version = #{version,jdbcType=INTEGER},
			</if>
			<if test="isdeleted != null">
				isDeleted = #{isdeleted,jdbcType=BIT},
			</if>
			<if test="createtime != null">
				createTime = #{createtime,jdbcType=TIMESTAMP},
			</if>
			<if test="updatetime != null">
				updateTime = #{updatetime,jdbcType=TIMESTAMP},
			</if>
			<if test="deletetime != null">
				deleteTime = #{deletetime,jdbcType=TIMESTAMP},
			</if>
			<if test="createby != null">
				createBy = #{createby,jdbcType=VARCHAR},
			</if>
			<if test="createdepcd != null">
				createDepCd = #{createdepcd,jdbcType=VARCHAR},
			</if>
			<if test="updateby != null">
				updateBy = #{updateby,jdbcType=VARCHAR},
			</if>
			<if test="updatedepcd != null">
				updateDepCd = #{updatedepcd,jdbcType=VARCHAR},
			</if>
		</set>
		where id = #{id,jdbcType=VARCHAR}
	</update>
	<update id="updateByPrimaryKey" parameterType="com.ccttic.entity.enterprise.EssEnterprise">
		update
		ess_enterprise
		set org_id = #{orgId,jdbcType=VARCHAR},
		etpCd =
		#{etpcd,jdbcType=VARCHAR},
		etpNm = #{etpnm,jdbcType=VARCHAR},
		etpshortNm = #{etpshortnm,jdbcType=VARCHAR},
		etpLawer =
		#{etplawer,jdbcType=VARCHAR},
		lawerTel = #{lawertel,jdbcType=VARCHAR},
		etpSafer = #{etpsafer,jdbcType=VARCHAR},
		saferTel =
		#{safertel,jdbcType=VARCHAR},
		admin_empid =
		#{adminEmpid,jdbcType=VARCHAR},
		ownerTraffic =
		#{ownertraffic,jdbcType=VARCHAR},
		ownerTransport =
		#{ownertransport,jdbcType=VARCHAR},
		etpAdress =
		#{etpadress,jdbcType=VARCHAR},
		etpRegAdress =
		#{etpregadress,jdbcType=VARCHAR},
		etpTel = #{etptel,jdbcType=VARCHAR},
		attachment_id = #{attachmentId,jdbcType=VARCHAR},
		state =
		#{state,jdbcType=INTEGER},
		remark = #{remark,jdbcType=VARCHAR},
		dispOrder = #{disporder,jdbcType=INTEGER},
		version =
		#{version,jdbcType=INTEGER},
		isDeleted = #{isdeleted,jdbcType=BIT},
		createTime = #{createtime,jdbcType=TIMESTAMP},
		updateTime =
		#{updatetime,jdbcType=TIMESTAMP},
		deleteTime =
		#{deletetime,jdbcType=TIMESTAMP},
		createBy =
		#{createby,jdbcType=VARCHAR},
		createDepCd =
		#{createdepcd,jdbcType=VARCHAR},
		updateBy =
		#{updateby,jdbcType=VARCHAR},
		updateDepCd =
		#{updatedepcd,jdbcType=VARCHAR}
		where id = #{id,jdbcType=VARCHAR}
	</update>
	<select id="hasemp" parameterType="java.lang.String" resultType="java.lang.Integer">
		SELECT count(*) FROM ess_department dept,ess_employee_dept dep WHERE
		dept.id = dep.dep_id AND dept.ept_id =#{id}
	</select>
	<select id="selectOrgIdbyId" parameterType="java.lang.String"
		resultType="java.lang.String">
		SELECT org_id FROM ess_enterprise WHERE id =#{id}
	</select>
	<!-- 获取企业信息总条数 -->
	<select id="qryEnterpriseCount" parameterType="java.util.Map"
		resultType="java.lang.Integer">
		SELECT COUNT(1) FROM ess_enterprise WHERE 1=1
		<if test="etpnm != null and etpnm != ''">
			and etpNm = #{etpnm}
		</if>
		<if test="state != null and state != ''">
			and state = #{state}
		</if>
		<if test="referStartTime != null and referStartTime != ''">
			and left(createTime,10) &gt;= #{referStartTime}
		</if>
		<if test="referEndTime != null and referEndTime != ''">
			and left(createTime,10) &lt;= #{referEndTime}
		</if>

		<if test="checkStartTime != null and checkStartTime != ''">
			and left(updateTime,10) &gt;= #{checkStartTime}
		</if>
		<if test="checkEndTime != null and checkEndTime != ''">
			and left(updateTime,10) &lt;= #{checkEndTime}
		</if>
	</select>
	<!-- 根据条件获取企业信息 -->
	<select id="qryEnterpriseList" parameterType="java.util.Map"
		resultType="com.ccttic.entity.enterprise.EssEnterprise">
		SELECT
		etpNm,etpAdress,etpTel,etpSafer,saferTel,etpLawer,lawerTel,createTime,updateTime,state
		FROM ess_enterprise
		WHERE 1=1 and (isDeleted is null or isDeleted = 0)
		<if test="etpnm != null and etpnm != ''">
			and etpNm = #{etpnm}
		</if>
		<if test="state != null and state != ''">
			and state = #{state}
		</if>
		<if test="referStartTime != null and referStartTime != ''">
			and left(createTime,10) &gt;= #{referStartTime}
		</if>
		<if test="referEndTime != null and referEndTime != ''">
			and left(createTime,10) &lt;= #{referEndTime}
		</if>

		<if test="checkStartTime != null and checkStartTime != ''">
			and left(updateTime,10) &gt;= #{checkStartTime}
		</if>
		<if test="checkEndTime != null and checkEndTime != ''">
			and left(updateTime,10) &lt;= #{checkEndTime}
		</if>
		order by createTime desc
		limit ${startRecord},${pageSize}
	</select>

	<select id="getEssEnterprise" parameterType="java.lang.String"
		resultType="com.ccttic.entity.enterprise.EssEnterprise">
		SELECT * FROM ess_enterprise WHERE admin_empid=#{id};
	</select>
	<select id="getEssEnterpriseByOrgId" parameterType="java.lang.String"
		resultType="com.ccttic.entity.enterprise.EssEnterprise">
		SELECT * FROM ess_enterprise
		<if test="id != null and id != ''">
			WHERE org_id=#{id};
		</if>
	</select>
	<select id="getEntByEmpId" parameterType="java.lang.String"
		resultType="com.ccttic.entity.enterprise.EssEnterprise">
		SELECT * FROM ess_enterprise ent LEFT JOIN ess_department
		depart ON
		depart.ept_id = ent.id LEFT JOIN ess_employee_dept dept ON
		depart.id
		=dept.dep_id LEFT JOIN ess_employee emp ON emp.id =
		dept.emp_id WHERE
		emp.id =#{id}
	</select>
	<!-- 企业下属车辆 -->
	<select id="getEnterpriseVe" resultType="com.ccttic.entity.enterprise.vo.EnterpriseVehiVo"
		parameterType="java.util.Map">
		SELECT
		v.id,
		e.etpNm,
		v.vehiNo,
		CASE v.vehiNoType
		WHEN '01' THEN
		'大型车'
		ELSE
		'小型车'
		END AS vehiNoType,
		v.nature,
		v.firstReciveTime,
		v.examineEffectEndTime AS effectEndTime,
		v. OWNER,
		v.mobilephone,
		v.telphone,
		v.mgrDepart,
		v.state,
		a.areaNm,
		v.ownership,
		v.adress,
		v.examineEffectEndTime,
		v.identityCode,
		v.identityName,
		CASE v.mbCar
		WHEN
		1 THEN
		'是'
		WHEN 2 THEN
		'否'
		ELSE
		'不明确'
		END AS mbCar,
		v.vehicleState,
		v.examineForceEffectEndTime,
		CASE v.countrySideUse
		WHEN '1'
		THEN
		'是'
		WHEN
		'2' THEN
		'否'
		ELSE
		'不明确'
		END AS countrySideUse
		FROM
		ess_area a
		LEFT JOIN
		vehicle v ON a.id = v.mgrDepartAreaId
		LEFT JOIN
		ess_enterprise e ON
		v.mgrEnterpriseId = e.id
		<choose>
			<when test=" vehiNo != '' and vehiNo != null  ">
				WHERE v.vehiNo= #{vehiNo}
			</when>
			<when test="empType == 'SUPERMAN'  ">
				WHERE 1=1
			</when>
			<when test="list!= null and list.size>0 ">
				WHERE a.id in
				<foreach collection="list" index="index" item="item" open="("
					separator="," close=")">
					#{item}
				</foreach>
			</when>
			<otherwise>
				WHERE en.id = #{etpId}
			</otherwise>
		</choose>
		AND (v.isDeleted is null OR v.isDeleted !=1)
		<if test="etpNm!=null and etpNm!='' ">
			AND e.etpNm like '%${etpNm}%'
		</if>
		<if test="areaNm!=null and areaNm!='' ">
			AND a.areaNm= #{areaNm}
		</if>
		<if test="id!=null and id!='' ">
			AND v.id= #{id}
		</if>
		<if test="vehiNoType!=null and vehiNoType!='' ">
			AND v.vehiNoType= #{vehiNoType}
		</if>
		AND e.id!=''
		LIMIT ${startRecord},${pageSize}
	</select>

	<select id="getEnterpriseVeCount" resultType="long"
		parameterType="java.util.Map">
		SELECT
		count(v.id )
		FROM
		ess_area a
		LEFT JOIN vehicle v ON a.id =
		v.mgrDepartAreaId
		LEFT JOIN
		ess_enterprise e ON v.mgrEnterpriseId = e.id
		<choose>
			<when test=" vehiNo != '' and vehiNo != null  ">
				WHERE v.vehiNo= #{vehiNo}
			</when>
			<when test="empType == 'SUPERMAN'">
				WHERE 1=1
			</when>
			<when test="list!= null and list.size>0 ">
				WHERE a.id in
				<foreach collection="list" index="index" item="item" open="("
					separator="," close=")">
					#{item}
				</foreach>
			</when>
			<otherwise>
				WHERE en.id = #{etpId}
			</otherwise>
		</choose>
		AND (v.isDeleted is null OR v.isDeleted !=1)
		<if test="etpNm!=null and etpNm!='' ">
			AND e.etpNm like '%${etpNm}%'
		</if>
		<if test="areaNm!=null and areaNm!='' ">
			AND a.areaNm= #{areaNm}
		</if>
		<if test="id!=null and id!='' ">
			AND v.id= #{id}
		</if>
		<if test="vehiNoType!=null and vehiNoType!='' ">
			AND v.vehiNoType= #{vehiNoType}
		</if>
		AND e.id!=''
	</select>
	<!--企业下驾驶人 -->
	<select id="getEnterpriceDriver" resultType="com.ccttic.entity.enterprise.vo.EnterpriseDriverVo"
		parameterType="java.util.Map">
		SELECT
		d.id,
		d.adress,
		d. NAME,
		d.idcard,
		d.mobilephone,
		d.permiCar,
		d.firstReciveTime,
		d.nextExamineTime,
		d.state,
		d.mgrDepart,
		d.telphone,
		d.scoreTotal,
		d.examineEffectEndTime,
		d.effectStartTime,
		d.effectEndTime,
		e.etpNm,
		a.areaNm,
		d.state1
		FROM
		driver d
		LEFT JOIN
		ess_enterprise e ON
		d.mgrEnterpriseId =
		e.id
		LEFT JOIN
		ess_area a ON
		d.mgrDepartAreaId = a.id
		<choose>
			<when test=" idcard!= null and idcard != '' ">
				WHERE d.idcard= #{idcard}
			</when>
			<when test="empType == 'SUPERMAN' ">
				WHERE 1=1
			</when>
			<when test="list!= null and list.size>0 ">
				WHERE a.id in
				<foreach collection="list" index="index" item="item" open="("
					separator="," close=")">
					#{item}
				</foreach>
			</when>
			<otherwise>
				WHERE en.id = #{etpId}
			</otherwise>
		</choose>
		<if test="etpNm!=null and etpNm!='' ">
			AND e.etpNm like '%${etpNm}%'
		</if>
		<if test="areaNm!=null and areaNm!='' ">
			AND a.areaNm= #{areaNm}
		</if>
		<if test="id!=null and id!='' ">
			AND d.id= #{id}
		</if>
		AND e.id !=''
		AND (d.isDelete is null OR d.isDelete
		!=1)
		LIMIT
		${startRecord},${pageSize}
	</select>

	<select id="getEnterpriceDriverCount" resultType="long"
		parameterType="java.util.Map">
		SELECT
		count(d.id)
		FROM
		driver d
		LEFT JOIN ess_enterprise e ON
		d.mgrEnterpriseId =
		e.id
		LEFT
		JOIN ess_area a ON d.mgrDepartAreaId = a.id
		<choose>
			<when test=" idcard!= null and idcard != '' ">
				WHERE d.idcard= #{idcard}
			</when>
			<when test="empType == 'SUPERMAN' ">
				WHERE 1=1
			</when>
			<when test="list!= null and list.size>0 ">
				WHERE a.id in
				<foreach collection="list" index="index" item="item" open="("
					separator="," close=")">
					#{item}
				</foreach>
			</when>
			<otherwise>
				WHERE en.id = #{etpId}
			</otherwise>
		</choose>
		<if test="etpNm!=null and etpNm!='' ">
			AND e.etpNm like '%${etpNm}%'
		</if>
		<if test="areaNm!=null and areaNm!='' ">
			AND a.areaNm= #{areaNm}
		</if>
		<if test="id!=null and id!='' ">
			AND d.id= #{id}
		</if>
		AND e.id !=''
		AND (d.isDelete is null OR d.isDelete
		!=1)
	</select>

	<!-- 企业选择车辆 -->

	<update id="updateVehicleByid" parameterType="com.ccttic.entity.role.vo.EmpVo">

		UPDATE vehicle SET
		mgrEnterpriseId = #{empId} WHERE id = #{id}

	</update>
	<!-- 查询车辆以前的绑定企业 -->
	<select id="getEnterVehicle" resultType="com.ccttic.entity.role.Vehicle">

		select
		id,mgrEnterpriseId from vehicle where id = #{id}
	</select>


	<!-- 插入选择前的企业和车辆 -->
	<insert id="setEnterpriseVehicle" parameterType="com.ccttic.entity.enterprise.EnterVehicle">

		insert into
		enterprise_vehicle (id,vehiId,enterId,setTime)
		values(#{id},#{vehiId},#{enterId},#{setTime});

	</insert>



	<!-- 企业选择驾驶人 -->

	<update id="updateDriverByid" parameterType="com.ccttic.entity.role.vo.EmpVo">
		UPDATE driver SET
		mgrEnterpriseId = #{empId} WHERE id = #{id}
	</update>

	<!-- 查询驾驶人以前的绑定企业 -->
	<select id="getEnterDriversBy" resultType="com.ccttic.entity.role.Vehicle">

		select
		id,mgrEnterpriseId from driver where id = #{id}
	</select>

	<!-- 插入选择前的企业和车辆 -->
	<insert id="setEnterpriseDriver" parameterType="com.ccttic.entity.enterprise.EnterVehicle">

		insert into
		enterprise_driver (id,driverId,enterId,setTime)
		values(#{id},#{driverId},#{enterId},#{setTime});

	</insert>


	<!-- 企业解绑车辆 -->

	<update id="relieveVehicleEnter" parameterType="com.ccttic.entity.role.vo.EmpVo">
		UPDATE vehicle
		SET
		mgrEnterpriseId = null WHERE id = #{id}
	</update>

	<!-- 企业解绑驾驶人 -->
	<update id="relieveDricerEnter" parameterType="com.ccttic.entity.role.vo.EmpVo">
		UPDATE driver SET
		mgrEnterpriseId = null WHERE id = #{id}
	</update>

	<select id="selectEnterpriseList" parameterType="java.util.Map"
		resultType="com.ccttic.entity.enterprise.EssEnterprise">
		SELECT ent.id,org.id as orgid,ent.etpNm,org.orgNm from
		ess_enterprise ent LEFT JOIN ess_organization org ON ent.org_id=org.id
		WHERE org_id =#{orgId} and (ent.isDeleted is null or ent.isDeleted
		!=1)
		limit ${startRecord},${pageSize}
	</select>
	<select id="selectEnterpriseListCount" parameterType="java.util.Map"
		resultType="java.lang.Integer">
		select count(1) from ess_enterprise ent LEFT JOIN
		ess_organization org ON ent.org_id=org.id
		WHERE org_id =#{orgId} and
		(ent.isDeleted is null or ent.isDeleted !=1)

	</select>

	<select id="getDepar" resultType="String">
		SELECT DISTINCT
		ownerTransport
		FROM
		ess_enterprise
	</select>
	<select id="getEntByAdmin" parameterType="java.lang.String"
		resultType="com.ccttic.entity.enterprise.EssEnterprise">
		SELECT * FROM ess_enterprise WHERE admin_empid = #{id}
	</select>

	<select id="getSubordinateEnterprise" parameterType="java.lang.String" resultType="com.ccttic.entity.enterprise.EssEnterprise">
		select id,etpNm from ess_enterprise where superEnt_id = #{id}
	</select>
	<!-- 首页-企业车辆隐患自查 -->
	<select id="getVehiDangerCount" parameterType="java.util.Map" resultType="com.ccttic.entity.danger.vo.DangerCountVo">
		SELECT 
		COUNT(IF(danger.scrappedState='1',true,null))as scrappedCount,
		COUNT(IF(danger.illicitState='1',true,null))as illicitCount,
		COUNT(IF(danger.overdueExamineState='1',true,null))as vehicleExamineCount
		FROM vehi_danger danger
		LEFT JOIN vehicle ve ON ve.id=danger.vehicle_id
		LEFT JOIN ess_enterprise ent ON ent.id=ve.mgrEnterpriseId
		WHERE 1=1
		<if test="list != null and list.size>0">
			and ent.id in
			<foreach collection="list" index="index" item="item" open="(" separator="," close=")">
				#{item.id}
			</foreach>
		</if>
	</select>
	
	<!-- 首页-企业驾驶人隐患自查 -->
	<select id="getDrDangerCount" parameterType="java.util.Map" resultType="com.ccttic.entity.danger.vo.DangerCountVo">
		SELECT 
		COUNT(DISTINCT danger.driver_id, IF(danger.overdueProofState='1',true,null)) as overdueProofCount,
		COUNT(DISTINCT danger.driver_id, IF(danger.overdueExamineState='1',true,null)) as DrExamineCount,
		COUNT(DISTINCT danger.driver_id, IF(danger.fullStudyState='1',true,null)) as fullStudyCount
		FROM dr_danger danger
		LEFT JOIN driver dr ON danger.driver_id=dr.id
		LEFT JOIN ess_enterprise ent ON ent.id=dr.mgrEnterpriseId
		WHERE 1=1
		<if test="list != null and list.size>0">
			and ent.id in
			<foreach collection="list" index="index" item="item" open="(" separator="," close=")">
				#{item.id}
			</foreach>
		</if>
	</select>
</mapper>