<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ccttic.cqytjgpt.enterpriseapi.mapper.post.EssPostMapper">
    <resultMap id="BaseResultMap" type="com.ccttic.entity.post.EssPost">
        <id column="id" jdbcType="VARCHAR" property="id"/>
        <result column="org_id" jdbcType="VARCHAR" property="orgId"/>
        <result column="postType" jdbcType="VARCHAR" property="posttype"/>
        <result column="postCd" jdbcType="VARCHAR" property="postcd"/>
        <result column="description" jdbcType="VARCHAR" property="description"/>
        <result column="postNm" jdbcType="VARCHAR" property="postnm"/>
        <result column="isDefault" jdbcType="BIT" property="isdefault"/>
        <result column="version" jdbcType="INTEGER" property="version"/>
        <result column="isDeleted" jdbcType="BIT" property="isdeleted"/>
        <result column="createTime" jdbcType="TIMESTAMP" property="createtime"/>
        <result column="updateTime" jdbcType="TIMESTAMP" property="updatetime"/>
        <result column="deleteTime" jdbcType="TIMESTAMP" property="deletetime"/>
        <result column="createBy" jdbcType="VARCHAR" property="createby"/>
        <result column="createDepCd" jdbcType="VARCHAR" property="createdepcd"/>
        <result column="updateBy" jdbcType="VARCHAR" property="updateby"/>
        <result column="updateDepCd" jdbcType="VARCHAR" property="updatedepcd"/>
    </resultMap>
    <select id="qryPostListCount" parameterType="java.util.Map" resultType="java.lang.Long">
        <if test="orgId != null and orgId != ''">
            SELECT COUNT(1) FROM ess_department
            depart,ess_organization
            org,ess_post post WHERE depart.org_id=org.id AND post.dep_id=depart.id AND post.isDeleted!=1 AND org.id
            =#{orgId}
        </if>
        <if test="etpId != null and etpId != ''">
            SELECT COUNT(1) FROM ess_department
            depart,ess_enterprise
            etp,ess_post post WHERE depart.ept_id=etp.id AND post.dep_id=depart.id AND post.isDeleted!=1 AND etp.id
            =#{etpId}
        </if>
        <if test="employeeType == 'SUPERMAN'">
            <if test="org == 'true'">
                SELECT COUNT(1) FROM ess_department
                depart,ess_organization
                org,ess_post post WHERE depart.org_id=org.id AND post.dep_id=depart.id AND post.isDeleted!=1
            </if>
            <if test="etp == 'true'">
                SELECT COUNT(1) FROM ess_department
                depart,ess_enterprise
                etp,ess_post post WHERE depart.ept_id=etp.id AND post.dep_id=depart.id AND post.isDeleted!=1
            </if>
        </if>
        <if test="postNm != null and postNm != ''">
            and post.postNm like '%${postNm}%'
        </if>

    </select>
    <select id="qryPostList" parameterType="java.util.Map" resultType="com.ccttic.entity.post.EssPostVo">
        <if test="orgId != null and orgId != ''">
            SELECT post.id AS id,org.orgNm AS orgNm,org.id AS orgid,depart.depNm AS depNm,post.postCd AS
            postCd,post.postNm AS postNm,post.description AS description ,post.dep_id AS depId FROM ess_department
            depart,ess_organization
            org,ess_post post WHERE depart.org_id=org.id AND post.dep_id=depart.id AND post.isDeleted!=1 AND org.id
            =#{orgId}
        </if>
        <if test="etpId != null and etpId != ''">
            SELECT post.id AS id,etp.etpNm AS orgNm,etp.id AS orgid,depart.depNm AS depNm,post.postCd AS
            postCd,post.postNm AS postNm,post.description AS description ,post.dep_id AS depId FROM ess_department
            depart,ess_enterprise
            etp,ess_post post WHERE depart.ept_id=etp.id AND post.dep_id=depart.id AND post.isDeleted!=1 AND etp.id
            =#{etpId}
        </if>
        <if test="employeeType == 'SUPERMAN'">
            <if test="org == 'true'">
                SELECT post.id AS id,org.orgNm AS orgNm,org.id AS orgid,depart.depNm AS depNm,post.postCd AS
                postCd,post.postNm AS postNm,post.description AS description ,post.dep_id AS depId FROM ess_department
                depart,ess_organization
                org,ess_post post WHERE depart.org_id=org.id AND post.dep_id=depart.id AND post.isDeleted!=1
            </if>
            <if test="etp == 'true'">
                SELECT post.id AS id,etp.etpNm AS orgNm,etp.id AS orgid,depart.depNm AS depNm,post.postCd AS
                postCd,post.postNm AS postNm,post.description AS description ,post.dep_id AS depId FROM ess_department
                depart,ess_enterprise
                etp,ess_post post WHERE depart.ept_id=etp.id AND post.dep_id=depart.id AND post.isDeleted!=1
            </if>
        </if>
        <if test="postNm != null and postNm != ''">
            and post.postNm like '%${postNm}%'
        </if>
        order by post.createTime DESC
        limit ${startRecord},${pageSize}
    </select>
    <select id="getAllOrg" resultType="com.ccttic.entity.role.Organization">
		select * from ess_organization 	order by orgType ASC 
	</select>
    <select id="getDepartmentByOrg" parameterType="java.util.Map" resultType="com.ccttic.entity.role.Department">
        select * from ess_department where 1=1
        <if test="orgid != null and orgid != ''">
            and org_id =#{orgid}
        </if>
        AND isDeleted !=1
    </select>
    <select id="getEmployeeByDep" parameterType="java.util.Map" resultType="com.ccttic.entity.employee.EssEmployeeVo">
        SELECT emp.empCd AS empcd,emp.empNm AS empnm,org.orgNm AS orgNm,depart.depNm AS depNm FROM ess_employee_dept
        dept,ess_employee emp,ess_organization org ,ess_department depart WHERE 1=1
        AND dept.emp_id=emp.empCd AND dept.dep_id =depart.id AND org.orgCd=depart.org_id AND org.orgCd = #{orgid}
        <if test="orgid != null and orgid != ''">
            AND dept.dep_id==#{depid}
        </if>
    </select>
    <insert id="createpost" parameterType="com.ccttic.entity.post.EssPostVo">
	insert into ess_post (id,dep_id,postCd,postNm,description,createTime) value(#{id},#{depId},#{postcd},#{postnm},#{description},#{createtime})
	</insert>
    <insert id="relatedPostAndEmp" parameterType="com.ccttic.entity.employee.EssEmployeePost">
	insert into ess_employee_post (id,version,emp_id,post_id) value(#{id},#{version},#{empId},#{postId})
	</insert>
    <update id="updatepost" parameterType="com.ccttic.entity.post.EssPost">
	update ess_post set dep_id=#{depId},postCd=#{postcd},postNm=#{postnm},description=#{description} where  id=#{id}
	</update>
    <delete id="delEmpUnderPost" parameterType="java.lang.String">
	delete from ess_employee_post where post_id = #{postId}
	</delete>

    <select id="selectEmpUnderPost" parameterType="java.lang.String"
            resultType="com.ccttic.entity.employee.EssEmployee">
	SELECT emp.* FROM ess_employee emp,ess_employee_post post WHERE emp.id = post.emp_id AND post.post_id=#{id}
	</select>
    <update id="delpost" parameterType="java.util.Map">
	update ess_post set isDeleted=1 where  id=#{id}
	</update>

    <select id="selectPostUnderDep" parameterType="java.util.Map" resultType="com.ccttic.entity.post.EssPost">
        SELECT post.id AS id,post.postNm AS postnm FROM ess_post post LEFT JOIN ess_department department ON
        department.id = post.dep_id LEFT JOIN ess_organization organization ON organization.id = department.org_id WHERE
        organization.id = #{orgId}
        <if test="depId != null and depId != ''">
            AND dep_id=#{depId}
        </if>
        <if test="postNm != null and postNm != ''">
            AND postNm like '%${postNm}%'
        </if>
    </select>

    <select id="getAllPost" resultType="com.ccttic.entity.post.EssPost">
	select * from ess_post where isDeleted !=1
	</select>
    <select id="selectPostByPostCd" parameterType="java.lang.String" resultType="java.lang.Integer">
        SELECT COUNT(1) FROM ess_post WHERE postCd = #{postCd}
    </select>
</mapper>