<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org/DTD Mapper 3.0" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ccttic.mapper.attachment.AttachmentMapper">
	<select id="findAttachmentList" parameterType="java.util.Map" resultType="com.ccttic.entity.attchment.Attachment">
		select * from attachment where 1=1 and isDeleted = 0
			order by uploadTime desc limit ${startRecord},${pageSize}
	</select>
	<select id="count" parameterType="java.util.Map" resultType="long">
		select count(id) from attachment where 1=1 and isDeleted = 0
	</select>
	<!-- 根据附件ID获取附件信息 -->
	<select id="findAttachmentById" parameterType="java.lang.String" resultType="com.ccttic.entity.attchment.Attachment">
		select * from attachment where 1=1 and isDeleted = 0
			and id = #{id}
	</select>
	<!-- 逻辑更新一条记录 -->  
    <update id="updateAttachment" parameterType="java.util.Map">  
        update attachment 
        set uploadTime = now()
         where id = #{id}
    </update>

    <!-- 上传附件信息-->
	<insert id="uploadAttachment" parameterType="com.ccttic.entity.attchment.Attachment">
		INSERT INTO attachment(id,attachmentNm,attachmentGroup,attachmentPath,attachmentType,uploadTime,createBy,createNm)
     	   VALUES(#{id},#{attachmentNm},#{attachmentGroup},#{attachmentPath},#{attachmentType},#{uploadTime},#{createBy},#{createNm})
	</insert>
    
    <update id="removeAttachment" parameterType="java.util.Map">
     	update attachment 
        set uploadTime = now(),isDeleted = 1
        where id = #{id}
    </update>
</mapper>	