<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org/DTD Mapper 3.0" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ccttic.mapper.role.RoleMenuMapper">
	<!-- 自定义返回结果集 -->
	<resultMap id="roleMenuMap" type="com.ccttic.entity.role.RoleMenu">
		<id property="id" column="id" javaType="java.lang.String"></id>
		<result property="roleId" column="role_id" javaType="java.lang.String"></result>
		<result property="menuId" column="menu_id" javaType="java.lang.String"></result>
		<result property="version" column="version" javaType="java.lang.Integer"></result>
	</resultMap>

	<resultMap id="rolesmap" type="com.ccttic.entity.role.Role">
		<id property="id" column="id" javaType="java.lang.String"></id>
		<result property="roleCd" column="roleCd" javaType="java.lang.String"></result>
		<result property="roleNm" column="roleNm" javaType="java.lang.String"></result>
		<result property="description" column="description" javaType="java.lang.String"></result>
		<result property="isDefault" column="isDefault" javaType="java.lang.Boolean"></result>
		<result property="empIds" column="empIds" javaType="java.lang.String"></result>
		<result property="empCds" column="empCds" javaType="java.lang.String"></result>
		<result property="empNms" column="empNms" javaType="java.lang.String"></result>
	</resultMap>
	<!-- 自定义返回结果集 -->
	<resultMap id="allRoleMenuList" type="com.ccttic.entity.role.vo.RoleMenuVo">
		<result property="roleCd" column="roleCd" javaType="java.lang.String"></result>
		<result property="roleNm" column="roleNm" javaType="java.lang.String"></result>
		<result property="menu_id" column="menu_id" javaType="java.lang.String"></result>
		<result property="path" column="path" javaType="java.lang.String"></result>
	</resultMap>

	<!-- 通过角色ID删除角色菜单关系表 -->
	<delete id="deleteRoleMenuByRoleId" parameterType="java.lang.String">
		delete from
		ess_role_menu where role_id=#{roleId}
	</delete>
	<!-- 批量增加角色菜单关系 -->
	<insert id="setRoleResource" parameterType="java.util.List">
		insert into ess_role_menu (id,role_id,menu_id,version) values
		<foreach collection="rms" item="rm" separator=",">
			(#{rm.id},#{rm.roleId},#{rm.menuId},#{rm.version})
		</foreach>
	</insert>
	<!-- 获取角色已有权限菜单 -->
	<select id="findRoleResources" parameterType="java.lang.String"
		resultMap="roleMenuMap">
		select * from ess_role_menu where role_id = #{roleId}
	</select>
	<!-- 获取所有角色的权限菜单 -->
	<select id="findRoleAllResources" resultMap="allRoleMenuList">
		SELECT
		t1.roleCd,t1.roleNm,t1.menu_id,m.id,m.path from (SELECT
		r.roleCd,r.roleNm,rm.menu_id FROM `ess_role` r , ess_role_menu rm
		where r.id=rm.role_id and r.isDeleted=0) as t1,res_menu as m where
		t1.menu_id=m.id and m.path !=''
	</select>

	<!-- 分页查询角色对应菜单，员工 -->
	<select id="getRoleMenuPages" resultType="com.ccttic.entity.role.Roles"
		parameterType="java.util.Map">
		SELECT
		r.id AS roleId,
		r.roleNm,
		GROUP_CONCAT(e.empNm, e.account) AS
		empNms
		FROM
		ess_role r
		LEFT JOIN ess_employee_role re ON r.id =
		re.role_id
		LEFT JOIN ess_employee e ON re.emp_id = e.id
		LEFT JOIN
		ess_role_menu rm ON rm.role_id = r.id
		LEFT JOIN res_menu m ON
		rm.menu_id = m.id
		where 1 = 1
		<!-- <if test="roleId!=null and roleId!='' "> and r.id = #{roleId} </if> -->
		<if test="roleNm!=null and roleNm!='' ">
			and r.roleNm like '%${roleNm}%'
		</if>
		<if test="roleId!=null and roleId!='' ">
			and r.id = #{roleId}
		</if>
		GROUP BY
		r.id limit ${startRecord},${pageSize}
	</select>
	<!-- 分页查询数量 -->
	<select id="getPagesCount" parameterType="java.util.Map"
		resultType="long">

		select count(id) from ess_role

		where 1 = 1

		<!-- <if test="roleId!=null and roleId!='' "> and id = #{roleId} </if> -->
		<if test="roleId!=null and roleId!='' ">
			and id = #{roleId}
		</if>
		<if test="roleNm!=null and roleNm!='' ">

			and roleNm like '%${roleNm}%'
		</if>


	</select>

	<!-- 删除角色菜单关联 -->
	<delete id="deletesRoleMenuById" parameterType="java.lang.String">
		delete from ess_role_menu where role_id in
		<foreach item="id" collection="array" open="(" separator=","
			close=")">
			#{id}
		</foreach>

	</delete>
	<!-- 查询所有菜单 -->
	<select id="seAllMenu" resultType="com.ccttic.entity.employee.ResMenu">

		SELECT
		id,resource,label,groupresource,sortorder,icon,description,description,ismenu,hierarchy
		FROM res_menu

	</select>
	<!-- 查询所有员工 -->
	<select id="seAllEmp" resultType="com.ccttic.entity.employee.EssEmployee">
		SELECT
		GROUP_CONCAT(e.id) AS id,
		GROUP_CONCAT(e.empNm) AS empnm
		FROM
		ess_employee e
	</select>
	<!-- 角色查询对应菜单 -->
	<select id="seMenuByRoleIds" resultType="com.ccttic.entity.role.vo.Model_MenuVo"
		parameterType="java.lang.String">
		SELECT
		r.id as roleId,
		r.roleCd,
		r.roleNm,
		r.description,
		m.*
		FROM
		ess_role r
		LEFT JOIN ess_role_menu
		rm ON
		r.id = rm.role_id
		LEFT
		JOIN
		res_menu m ON rm.menu_id = m.id
		WHERE
		r.id =
		#{roleId}

	</select>


	<!-- 角色查询对应菜单 -->
	<select id="seMenuByRoleId" resultType="com.ccttic.entity.role.vo.Model_MenuVo"
		parameterType="java.lang.String">
		SELECT
		r.id as roleId,
		r.roleCd,
		r.roleNm,
		r.description,
		m.*
		FROM
		ess_role r
		LEFT JOIN ess_role_menu
		rm ON r.id = rm.role_id
		LEFT
		JOIN
		res_menu m ON
		rm.menu_id = m.id
		WHERE
		r.id in
		<foreach item="roleId" collection="array" open="(" separator=","
			close=")">
			#{roleId}
		</foreach>

	</select>

	<select id="seMenusByEid" resultType="com.ccttic.entity.role.vo.Model_menus"
		parameterType="java.lang.String">
		SELECT
		r.id,
		r.roleCd,
		r.roleNm,
		r.roleNm,
		m.*
		FROM
		ess_role r
		LEFT JOIN ess_employee_role re ON r.id = re.role_id
		LEFT JOIN
		ess_employee e ON re.emp_id = e.id
		LEFT JOIN ess_role_menu rm ON
		rm.role_id = r.id
		LEFT JOIN res_menu m ON rm.menu_id = m.id
		WHERE
		e.id =
		#{emp_id}

	</select>


</mapper>	